<template>
  <!-- 保单政策 -->  
  <div class="policy-body">
    <div class="policy-box">
      <div class="policy-item policy-box-head">
        <span class="lable"><i class="iconfont icon-ditu"></i>投放地区</span>
        <el-radio label="1" v-model="insPolicyDto.slipLocation">出单归属地<span v-if="true">（{{cityObj.province}}，{{cityObj.name}}）</span></el-radio>
        <el-radio label="2" v-model="insPolicyDto.slipLocation">全省<span v-if="true">（{{cityObj.province}}）</span></el-radio>
        <el-radio label="3" v-model="insPolicyDto.slipLocation">全国<span v-if="true">（非{{cityObj.province}}）</span></el-radio>
        <el-radio label="4" v-model="insPolicyDto.slipLocation">未知（未上牌）</el-radio>
      </div>
      <div class="policy-more" @click="vehicleShowMore = !vehicleShowMore">{{vehicleShowMore ? '收起车型条件' : '展开更多车型条件'}}</div>
      <div class="policy-item" v-if="false">
        <span class="lable">快捷标签</span> 
        <span class="tag" :class="{active: tagIndex === i}" @click="tagIndex = i" v-for="(item, i) of tagList" :key="i">{{item}}</span>
      </div>
      <policy-item 
        title="车辆类别"
        :isIndex="vehicleIndex"
        :formArr="form.vehicleClassCodeList"
        @change="changeVehicleIndex"
        v-model="insPolicyDto.vehicleTypeCode">
        <div class="policy-item-box" v-show="vehicleIndex === index" :key="index" v-for="(item, index) of form.vehicleClassCodeList">
          <policy-item
            v-if="item.list"
            title="使用类型" 
            :formArr="item.list"
            v-model="insPolicyDto.insVehiclePolicyDTOs[index].useTypeCode">
          </policy-item>
          <policy-item
            v-show="item.seats"
            title="座位数" 
            :isForm="true"
            :placeholderArr="['座位下限（含）', '座位上限', '座']"
            @change="changeValue({val: $event, filed: 'Seats', dto: 'vehicle', index})"
            v-model="insPolicyDto.insVehiclePolicyDTOs[index].seatsType">
          </policy-item>
          <policy-item
            v-show="item.exhaust"
            title="排量" 
            :isForm="true"
            :placeholderArr="['排量下限（含）', '排量上限', 'L(升)']"
            @change="changeValue({val: $event, filed: 'ExhaustCapability', dto: 'vehicle', index})"
            v-model="insPolicyDto.insVehiclePolicyDTOs[index].exhaustCapabilityType">
            注：如果填写为空则表示无上/下限，如下限填写1.6，上限为空，则表示“1.6L（含）以上排量”
          </policy-item>
          <policy-item
            v-show="item.ton"
            title="吨位" 
            :isForm="true"
            :placeholderArr="['吨位下限（含）', '吨位上限', '吨']"
            @change="changeValue({val: $event, filed: 'VehicleTonnages', dto: 'vehicle', index})"
            v-model="insPolicyDto.insVehiclePolicyDTOs[index].vehicleTonnagesType">
          </policy-item>
          <policy-item
            v-show="item.power"
            title="功率" 
            :isForm="true"
            :placeholderArr="['功率下限（含）', '功率上限', 'KW']"
            @change="changeValue({val: $event, filed: 'Power', dto: 'vehicle', index})"
            v-model="insPolicyDto.insVehiclePolicyDTOs[index].powerType">
          </policy-item>
          <policy-item
            title="国别" 
            :formArr="form.externalFlag" 
            v-model="insPolicyDto.insVehiclePolicyDTOs[index].externalFlag">
          </policy-item>
        </div>
      </policy-item>
      <policy-item
        title="营业性质" 
        :formArr="form.useNatureCodes" 
        v-model="insPolicyDto.useNatureCodes">
      </policy-item>
      <policy-item 
        v-show="vehicleShowMore"
        title="所属性质" 
        :formArr="form.ownershipCodes" 
        v-model="insPolicyDto.ownershipCodes">
      </policy-item>
      <policy-item 
        v-show="vehicleShowMore"
        title="车辆价格"
        :isForm="true"
        :placeholderArr="['价格下限', '价格上限', '元']"
        @change="changeValue({val: $event, filed: 'Price'})"
        v-model="insPolicyDto.priceType">
        注：如果填写为空则表示无上/下限，如下限填写100000，上限为空，则表示“车辆购置价10万以上”
      </policy-item>
      <policy-item 
        v-if="vehicleShowMore"
        title="车辆年限" 
        :formArr="form.carTypes" 
        v-model="insPolicyDto.isNew">
      </policy-item>
      <policy-item 
        v-if="vehicleShowMore"
        title="二手车" 
        :formArr="form.boolArr" 
        v-model="insPolicyDto.isTransferCar">
      </policy-item>
      <policy-item 
        v-if="vehicleShowMore"
        title="贷款车" 
        :formArr="form.boolArr" 
        v-model="insPolicyDto.isLoanCar">
      </policy-item>
      <policy-item 
        v-if="vehicleShowMore"
        title="车龄"
        :isForm="true"
        :selectArr="['月', '年']"
        :placeholderArr="['车龄下限', '车龄上限']"
        @change="changeValue({val: $event, filed: 'VehicleYear'})"
        v-model="insPolicyDto.vehicleYearType">
      </policy-item>
    </div> 
    <div class="policy-box" style="margin-top: 40px;">
      <div class="policy-more" @click="insureShowMore = !insureShowMore">{{insureShowMore ? '收起业务条件' : '展开更多业务条件'}}</div>
      <policy-item 
        title="业务类型" 
        :formArr="form.businessTypes"
        v-model="insPolicyDto.businessTypes">
      </policy-item>
      <policy-item 
        title="投保类型"
        :isIndex="typeIndex"
        :formArr="form.insTypes"
        @change="changeTypeIndex"
        v-model="insPolicyDto.insuranceTypes">
        <div class="policy-item-box" v-show="typeIndex === index && index !== 0" :key="index" v-for="(item, index) of form.insTypes">
          <policy-item
            :titleArr="['商业包含', '商业不包含']"
            :titleIdx="insPolicyDto.insTypePolicyDTOs[index].titleIndex"
            :itemIndex="index"
            :formArr="form.insTypeList"
            @change="changeDetailCodes"
            v-model="insPolicyDto.insTypePolicyDTOs[index].detailCodes">
          </policy-item>
          <policy-item
            title="车损保额" 
            :isForm="true"
            :placeholderArr="['下限(不含)', '上限(含)', '元']"
            @change="changeValue({val: $event, filed: 'CarLossExtra', dto: 'type', index})"
            v-model="insPolicyDto.insTypePolicyDTOs[index].carLossExtraType">
          </policy-item>
          <policy-item
            title="三者保额" 
            :isForm="true"
            :placeholderArr="['下限(不含)', '上限(含)', '元']"
            @change="changeValue({val: $event, filed: 'ThirdpartExtra', dto: 'type', index})"
            v-model="insPolicyDto.insTypePolicyDTOs[index].thirdpartExtraType">
          </policy-item>
          <policy-item
            title="附加险个数" 
            :isForm="true"
            :placeholderArr="['下限(不含)', '上限(含)', '个']"
            @change="changeValue({val: $event, filed: 'AttachCount', dto: 'type', index})"
            v-model="insPolicyDto.insTypePolicyDTOs[index].attachCountType">
          </policy-item>
          <policy-item
            title="车船税范围" 
            :isForm="true"
            :placeholderArr="['下限(不含)', '上限(含)', '个']"
            @change="changeValue({val: $event, filed: 'VehicleTaxAmount', dto: 'type', index})"
            v-model="insPolicyDto.insTypePolicyDTOs[index].vehicleTaxAmountType">
          </policy-item>
        </div>
      </policy-item>
      <policy-item 
        v-show="insureShowMore"
        title="出险次数" 
        :isForm="true"
        :selectArr="[{code: 1, name: '商业险为准'}, {code: 2, name: '交强险为准'}, {code: 3, name: '次数多为准'}]"
        :placeholderArr="['下限（不含）', '上限（含）', '次']"
        @change="changeValue({val: $event, filed: 'AccidentCount', select: 'accidentRule'})"
        v-model="insPolicyDto.accidentCountType">
      </policy-item>
      <policy-item 
        v-show="insureShowMore"
        title="折扣系数" 
        :isForm="true"
        :selectArr="[{code: 1, name: '商业险为准'}, {code: 2, name: '交强险为准'}, {code: 3, name: '次数多为准'}]"
        :placeholderArr="['下限（不含）', '上限（含）', '折']"
        @change="changeValue({val: $event, filed: 'Discount', select: 'discountRule'})"
        v-model="insPolicyDto.discountType">
      </policy-item>
      <policy-item 
        v-show="insureShowMore"
        title="保费范围" 
        :isForm="true"
        :placeholderArr="['下限（不含）', '上限（含）', '元']"
        @change="changeValue({val: $event, filed: 'Premium'})"
        v-model="insPolicyDto.premiumType">
      </policy-item>
      <policy-item 
        v-show="insureShowMore"
        title="起保日期" 
        :isTime="true"
        :placeholderArr="['开始日期', '截止日期']"
        @change="changeValue({val: $event, time: 'start'})"
        v-model="insPolicyDto.startTimeType">
      </policy-item>
      <policy-item 
        v-show="insureShowMore"
        title="终保日期" 
        :isTime="true"
        :placeholderArr="['开始日期', '截止日期']"
        @change="changeValue({val: $event, time: 'finish'})"
        v-model="insPolicyDto.finishTimeType">
      </policy-item>
    </div> 
    <div class="policy-box" style="margin-top: 40px;">
      <div class="policy-item">
        <span class="lable">政策标签</span> 
        <span class="tag active" @click="tagIndex = i" v-for="(item, i) of tagList" :key="i">{{item}}<i class="el-icon-close" @click="removeTag(i)"></i></span>
        <div class="input-new-tag" v-if="newTagBool">
          <el-input
            v-model="tagVal"
            ref="newTagInput"
            @keyup.enter.native="creatTag">
          </el-input>
          <span class="append" @click="creatTag">新增</span>
        </div>
        <el-button v-else class="button-new-tag" size="small" @click="addTag">+ 新加标签</el-button>
      </div>
      <div class="policy-item">
        <span class="lable">基础推广费</span> 
        <span class="lable">按净保费</span> 
        <span class="form form-fee">
          <el-input placeholder="推广手续费" v-model="insPolicyDto.trafficRate"><b slot="prefix">交强险</b><b slot="suffix" v-if="insPolicyDto.promotionType !== '3'">%</b></el-input>
          <el-input placeholder="推广手续费" v-model="insPolicyDto.businessRate"><b slot="prefix">商业险</b><b slot="suffix">%</b></el-input>
          <!-- <el-input placeholder="附加推广费" v-model="insPolicyDto.vehicleTaxRate"><b slot="prefix">附加费</b><b slot="suffix">%</b></el-input> -->
        </span>
      </div>
      <div class="policy-item">
        <span class="lable">&nbsp;&nbsp;&nbsp;&nbsp;U币奖励</span> 
        <span class="lable">按净保费</span> 
        <span class="form form-fee">
          <el-input placeholder="交强险奖励" v-model="insPolicyDto.coinTrafficRate"><b slot="prefix">交强险</b><b slot="suffix" v-if="insPolicyDto.promotionType !== '3'">%</b></el-input>
          <el-input placeholder="商业险奖励" v-model="insPolicyDto.coinBusinessRate"><b slot="prefix">商业险</b><b slot="suffix">%</b></el-input>
          <el-input placeholder="附加费奖励" v-model="insPolicyDto.coinVehicleTaxRate"><b slot="prefix">附加费</b><b slot="suffix">%</b></el-input>
        </span>
        <span style="margin-left: 180px; color: #ff9900;">温馨提示：U币兑换比例为10U币=1元。前台展示推广费=基础费用+U币奖励*10</span>
      </div>
      <div class="policy-item">
        <span class="strong">政策综合推广费:</span> <span class="strong">交强推广费&nbsp;&nbsp;{{Number(insPolicyDto.trafficRate) + Number(insPolicyDto.coinTrafficRate)*10}}</span> <span class="strong">商业推广费&nbsp;&nbsp;{{Number(insPolicyDto.businessRate) + Number(insPolicyDto.coinBusinessRate)*10}}</span> <span class="strong">附加推广费&nbsp;&nbsp;{{subNum(Number(insPolicyDto.vehicleTaxRate)+Number(insPolicyDto.coinVehicleTaxRate)*10, 2)}}</span> 
      </div>
    </div>
    <div class="policy-footer">
      <el-button class="main-btn" @click="submit('update')"  v-if="data.id">修改政策</el-button>
      <div v-else>
        <el-button class="main-btn" @click="submit('next')">保存，下一条</el-button> <el-button @click="submit">保存，并关闭</el-button>
      </div>
    </div> 
  </div>
</template>

<script>
  import Request from 'utils/request'
  import { _filter } from 'utils/lodash'
  import policyItem from './policyItem'
  export default {
    data () {
      return {
        tagVal: '',
        subNum: this.$subNum,
        newTagBool: false,
        tagIndex: 0,
        titleIndex: 0,
        typeIndex: -1,
        vehicleIndex: -1,
        tagList: [],
        insureShowMore: false,
        vehicleShowMore: false,
        insPolicyDto: this.dto,
        channel: this.data.channel
      }
    },
    props: {
      dto: {
        type: Object
      },
      form: {
        type: Object
      },
      data: {
        type: Object
      }
    },
    watch: {
      data (val) {
        this.channel = val.channel
        this.setPolicyDto(val)
      }
    },
    computed: {
      cityObj () {
        const citys = this.$getStorage('youjia_citys')
        const cityCode = this.data.city_code
        return citys[cityCode] || {}
      }
    },
    components: {
      policyItem
    },
    mounted () {
      this.setDto()
    },
    methods: {
      removeTag (index) {
        this.tagList.splice(index, 1)
      },
      creatTag () {
        if (this.tagVal === '') return
        this.tagList.push(this.tagVal)
        this.tagVal = ''
        this.newTagBool = false
      },
      addTag () {
        if (this.tagList.length >= 10) {
          this.$alert('最多添加10个标签', 'error')
          return
        }
        this.newTagBool = true
        this.$nextTick(_ => {
          this.$refs.newTagInput.focus()
        })
      },
      // 默认处理dto，初始化参数
      setDto () {
        const form = this.form
        let dto = this.insPolicyDto
        form.vehicleClassCodeList.forEach((el, i) => {
          dto.insVehiclePolicyDTOs[i] = {}
        })
        form.insTypes.forEach((el, i) => {
          dto.insTypePolicyDTOs[i] = {}
        })
      },
      // 转成前端需要的数据
      setPolicyDto (data) {
        const form = this.form
        let dto = this.insPolicyDto
        for (const key in data) {
          const val = data[key]
          const isType = key === 'insTypePolicyDTOs'
          const isVehicle = key === 'insVehiclePolicyDTOs'
          // 车辆类别
          if (isVehicle) {
            let list = {'1': 0, '2': 1, '3': 2, '8': 3, '9': 4, '21': 5, '22': 6, '23': 7, '24': 8, '99': 9, '100': 100}
            dto.vehicleTypeCode = []
            form.vehicleClassCodeList.forEach((item, i) => {
              dto[key][i] = {}
              val.forEach((el) => {
                const index = list[el.vehicleTypeCode]
                if (this.vehicleIndex === index || !dto[key][index]) return
                this.vehicleIndex = index
                dto.vehicleTypeCode[index] = el.vehicleTypeCode
                for (const k in el) {
                  this.fieldsEach(dto[key][index], k, el[k])
                }
              })
            })
          } else if (isType) {
            let list = {'1': 0, '2': 1, '3': 2, '100': 100}
            dto.insuranceTypes = []
            form.insTypes.forEach((item, i) => {
              dto[key][i] = {}
              val.forEach((el, i) => {
                const index = list[el.insTypes]
                if (this.typeIndex === index || !dto[key][index]) return
                this.typeIndex = index
                dto.insuranceTypes[index] = el.insTypes
                for (const k in el) {
                  this.fieldsEach(dto[key][index], k, el[k])
                }
              })
            })
          } else {
            this.fieldsEach(dto, key, val)
          }
        }
      },
      // 转成前端数据，每个字段的处理
      fieldsEach (dto, key, val, i) {
        const arr = ['id', 'jobId', 'accidentRule', 'batchId', 'businessRate', 'city_code', 'county_code', 'created', 'createTime', 'delFlag', 'insCompanyCode', 'jobNumberId', 'partnerId', 'policyId', 'policyType', 'province_code', 'promotionType', 'slipCityCode', 'slipLocation', 'insTypes', 'updated', 'userId', 'state', 'trafficRate', 'vehicleTaxRate', 'coinTrafficRate', 'coinBusinessRate', 'coinVehicleTaxRate']
        // arr数组里的数据不做处理
        if (arr.indexOf(key) > -1) {
          this.$set(dto, key, val)
        } else if (key.indexOf('min') > -1) { // 最小值转换成数组形式
          let k = key.slice(3, 4).toLocaleLowerCase() + key.slice(4) + 'Type'
          dto[k] = dto[k] || []
          this.$set(dto[k], 0, val)
        } else if (key.indexOf('max') > -1) { // 最大值转换成数组形式
          let k = key.slice(3, 4).toLocaleLowerCase() + key.slice(4) + 'Type'
          dto[k] = dto[k] || []
          this.$set(dto[k], 1, val)
        } else if (key.indexOf('BeginTime') > -1) { // 开始时间转换成数组形式
          let k = key.split('BeginTime')[0] + 'TimeType'
          dto[k] = dto[k] || []
          this.$set(dto[k], 0, val)
        } else if (key.indexOf('EndTime') > -1) { // 结束时间转换成数组形式
          let k = key.split('EndTime')[0] + 'TimeType'
          dto[k] = dto[k] || []
          this.$set(dto[k], 1, val)
        } else if (val === '100') { // 后端不限值是'100',转换成前端需要的空数组
          this.$set(dto, key, [])
        } else if (key === 'excludeDetailCodes' || key === 'includeDetailCodes') {
          this.$set(dto, 'titleIndex', key === 'excludeDetailCodes' ? 1 : 0)
          this.$set(dto, 'detailCodes', val.split(','))
        } else if (key === 'tar') {
          this.tagList = val ? val.split(',') : []
          for (let i = 0; i < this.tagList.length; i++) {
            if (this.tagList[i] === '扣税结算（保费÷1.06）') {
              this.tagList.splice(i, 1)
            }
          }
        } else { // 其他参数转换成数组
          let value
          if (val.length > 1) {
            value = val.split(',')
          } else {
            value = val
          }
          this.$set(dto, key, value)
        }
      },
      // 监听车辆类型
      changeVehicleIndex (i, code, bool, index) {
        const dto = this.insPolicyDto
        const list = dto.insVehiclePolicyDTOs
        this.vehicleIndex = dto.vehicleTypeCode.length === 0 ? -1 : i
        const item = list[i]
        // 如果是选中类型
        if (bool) {
          // 该类型还没有被选中过
          if (!item.vehicleTypeCode) {
            item.vehicleTypeCode = code
            item.useTypeCode = []
            item.externalFlag = []
          }
          this.$set(list, i, item)
        } else if (index !== i) { // 该类型被选中，且再次点击取消选中
          this.$set(list, index, {})
        }
      },
      // 监听投保类型
      changeTypeIndex (i, code, bool, index) {
        const dto = this.insPolicyDto
        const list = dto.insTypePolicyDTOs
        this.typeIndex = dto.insuranceTypes.length === 0 ? -1 : i
        const item = list[i]
        // 如果是选中类型
        if (bool) {
          // 该类型还没有被选中过
          if (!item.insTypes) {
            item.insTypes = code
          }
          this.$set(list, i, item)
        } else { // 该类型被选中，且再次点击取消选中
          this.$set(list, index, {})
        }
      },
      // 监听投保类型的子险种类型
      changeDetailCodes (val, index, i) {
        let item = this.insPolicyDto.insTypePolicyDTOs[i]
        if (item) {
          // 0:商业包含，1:商业不包含
          item.titleIndex = index
          item.detailCodes = val
        }
      },
      // 监听政策参数改变
      changeValue ({val, filed, dto, index, select, time}) {
        let data = this.insPolicyDto
        let dtoArr = { vehicle: data.insVehiclePolicyDTOs, type: data.insTypePolicyDTOs }
        let object = dto ? dtoArr[dto][index] : data
        if (filed) {
          object['min' + filed] = val[0]
          object['max' + filed] = val[1]
        }
        if (time) {
          object[time + 'BeginTime'] = val[0]
          object[time + 'EndTime'] = val[1]
        }
        if (select) {
          object[select] = val[2]
        }
      },
      // 转成后端数据，每个字段的处理
      keyEach (data, key, val) {
        // 判断参数是否需要进一步转换
        if (key.indexOf('Type') > -1 && val.length >= 2 && key !== 'useTypeCode') {
          const f = key.split('Type')[0]
          const t = key.split('TimeType')[0]
          const k = f.charAt(0).toLocaleUpperCase() + f.slice(1)
          data[key] = undefined
          // 判断是时间还是输入参数
          if (key.indexOf('TimeType') > -1) {
            data[t + 'BeginTime'] = val[0]
            data[t + 'EndTime'] = val[1]
          } else {
            data['min' + k] = val[0]
            data['max' + k] = val[1]
          }
        } else {
          if (key === 'detailCodes') {
            if (data.titleIndex) {
              data['excludeDetailCodes'] = val.join(',')
            } else {
              data['includeDetailCodes'] = val.join(',')
            }
          }
          if (key === 'useTypeCode') {
          }
          // 不需要特殊转化的直接join
          data[key] = val.join(',')
        }
      },
      // 转成后端需要的数据
      getData () {
        // let arr = ['powerType', 'seatsType', 'vehicleTonnagesType', 'exhaustCapabilityType', 'priceType', 'accidentCountType', 'discountType', 'premiumType', 'finishTimeType', 'startTimeType']
        let data = JSON.parse(JSON.stringify(this.insPolicyDto))
        for (const key in data) {
          let item = data[key]
          if (Array.isArray(item)) {
            // 判断车辆类别和投保类型
            if (key === 'insVehiclePolicyDTOs' || key === 'insTypePolicyDTOs') {
              for (let i = 0; i < item.length; i++) {
                const el = item[i]
                for (const k in el) {
                  if (Array.isArray(el[k])) {
                    this.keyEach(el, k, el[k])
                  }
                }
              }
              // 去除多余没有选中的车辆类别和投保类型
              const keys = key === 'insTypePolicyDTOs' ? 'insTypes' : 'vehicleTypeCode'
              data[key] = _filter(item, (obj) => { return obj && obj[keys] })
            } else {
              this.keyEach(data, key, item)
            }
          }
        }
        data.tar = this.tagList.join(',')
        return data
      },
      submit (str) {
        var reg = /^-?\d{1,2}(?:\.\d{1})?$/
        const loading = this.$loading({text: '正在保存政策', background: 'rgba(0,0,0,0.5)'})
        const url = str === 'update' ? '/policy/insPolicys/update' : '/policy/insPolicys/add'
        const data = this.getData()
        if (str === 'update') {
          data.channel = this.channel
        }
        console.log(data.insVehiclePolicyDTOs)
        if (!data.insVehiclePolicyDTOs.length) {
          this.$alert('车辆类别不可为不限', 'warning')
          loading.close()
          return false
        }
        for (let i = 0; i < data.insVehiclePolicyDTOs.length; i++) {
          console.log(data.insVehiclePolicyDTOs[i].useTypeCode)
          if (!data.insVehiclePolicyDTOs[i].useTypeCode) {
            this.$alert('车辆类型下的使用类型不可为不限', 'warning')
            loading.close()
            return false
          }
        }
        // 统一设置成净保费结算
        data.promotionType = '1'
        if (data.promotionType === '1') {
          if (data.tar === '') {
            data.tar = data.tar + '扣税结算（保费÷1.06）'
          } else {
            data.tar = data.tar + ',扣税结算（保费÷1.06）'
          }
        }
        if (+data.status === 2) {
          this.$alert('改政策已上线，请先下线后再修改', 'error')
          loading.close()
          return false
        }
        // if (str === 'update' && data.insTypePolicyDTOs.length === 0) {
        //   this.$alert('修改政策时，投保类型不可为不限', 'warning')
        //   setTimeout(function () {
        //     loading.close()
        //   }, 3000)
        //   return false
        // }
        try {
          if (data.trafficRate === '') {
            data.trafficRate = '0'
          }
          if (data.businessRate === '') {
            data.businessRate = '0'
          }
          if (data.coinTrafficRate === '') {
            data.coinTrafficRate = '0'
          }
          if (data.coinBusinessRate === '') {
            data.coinBusinessRate = '0'
          }
          if (data.coinVehicleTaxRate === '') {
            data.coinVehicleTaxRate = '0'
          }
          if (!(reg.test(data.trafficRate) && Number(data.trafficRate) >= 0)) {
            loading.close()
            this.$alert('交强险推广手续费不能大于100，且精确到小数点后一位', 'error')
            return false
          }
          if (!(reg.test(data.businessRate) && Number(data.businessRate) >= 0)) {
            loading.close()
            this.$alert('商业险推广手续费不能大于100，且精确到小数点后一位', 'error')
            return false
          }
          if (!(reg.test(data.coinTrafficRate) && Number(data.coinTrafficRate) >= 0)) {
            loading.close()
            this.$alert('交强险奖励手续费不能大于100，且精确到小数点后一位', 'error')
            return false
          }
          if (!(reg.test(data.coinBusinessRate) && Number(data.coinBusinessRate) >= 0)) {
            loading.close()
            this.$alert('商业险奖励手续费不能大于100，且精确到小数点后一位', 'error')
            return false
          }
          if (!(reg.test(data.coinVehicleTaxRate) && Number(data.coinVehicleTaxRate) >= 0)) {
            loading.close()
            this.$alert('附加费奖励手续费不能大于100，且精确到小数点后一位', 'error')
            return false
          }
          if ((Number(data.coinBusinessRate) + Number(data.businessRate)) > 100) {
            loading.close()
            this.$alert('商业险推广费和奖励之和不能大于100', 'error')
            return false
          }
          if ((Number(data.coinTrafficRate) + Number(data.trafficRate)) > 100) {
            loading.close()
            this.$alert('交强险推广费和奖励之和不能大于100', 'error')
            return false
          }
          // setTimeout(() => {
          //   loading.close()
          //   this.$alert('保存政策成功')
          //   console.log(Request, url, data)
          // }, 1500)
          Request.post({
            url: url,
            data: data,
            done: (res) => {
              if (res.resultCode === 1) {
                setTimeout(() => {
                  loading.close()
                  this.$alert('保存政策成功')
                  if (str === 'next') {
                    window.location.reload()
                  } else {
                    this.$router.push('/policy')
                  }
                }, 1500)
              } else {
                loading.close()
                this.$alert(res.message, 'error')
              }
            },
            fail: (err) => {
              loading.close()
              console.error(err)
            }
          })
        } catch (error) {
          console.log(error)
          loading.close()
        }
      }
    }
  }
</script>
