<template>
  <div class="policy-item">
    <span class="lable" v-if="title">{{title}}</span> 
    <el-select v-else @change="changeTitle" v-model="titleIndex" class="title-select">
      <el-option
        v-for="(item, i) in titleArr"
        :key="i"
        :label="item"
        :value="i">
      </el-option>
    </el-select>
    <span class="checkbox">
      <el-checkbox
        ref="checkbox"
        :indeterminate="indeterminate" 
        v-model="checkAll" 
        @change="changeCheckAll">
        不限
      </el-checkbox>
    </span>
    <span class="form" v-if="isForm">
      <el-input v-model="fieldLower" :placeholder="placeholderArr[0]" @input="changeVal"></el-input> 
      至 
      <el-input v-model="fieldUpper" :placeholder="placeholderArr[1]" @input="changeVal"></el-input> 
      <span>{{placeholderArr[2] || '&nbsp;'}}</span>
      <el-select v-model="isSelect" v-if="selectArr" @change="changeVal">
        <el-option
          v-for="(item, i) in selectArr"
          :key="i"
          :label="item.name || item"
          :value="item.code || i">
        </el-option>
      </el-select>
    </span>
    <span class="form" v-else-if="isTime">
      <el-date-picker type="date" v-model="fieldLower" :placeholder="placeholderArr[0]" @change="changeVal" value-format="timestamp"></el-date-picker> 
      至 
      <el-date-picker type="date" v-model="fieldUpper" :placeholder="placeholderArr[1]" @change="changeVal" value-format="timestamp"></el-date-picker> 
    </span>
    <el-checkbox-group v-model="modelVal" v-else>
      <span class="checkbox"
        v-for="(item, i) of formArr"
        :class="{'active': modelIndex === i}"
        :key="i">
        <el-checkbox 
          :label="item.code"
          @change="changeCheck(i, $event)">
          {{item.name}}
        </el-checkbox>
      </span>
    </el-checkbox-group>
    <slot></slot>
  </div>
</template>

<script>

export default {
  data () {
    return {
      checkAll: true,
      indeterminate: false,
      modelVal: this.value || [],
      modelIndex: this.isIndex,
      modelIndexArr: [],
      fieldLower: '',
      fieldUpper: '',
      isSelect: 1,
      titleIndex: this.titleIdx || 0
    }
  },
  props: {
    // 双向绑定数据
    value: {},
    // 标题
    title: {
      type: String
    },
    // 标题数组
    titleArr: {
      type: Array
    },
    // 当前标题对应的item索引
    itemIndex: {
      type: Number
    },
    titleIdx: {
      type: Number
    },
    // 是否是时间选择
    isTime: {
      type: Boolean
    },
    // 是否是表单选择
    isForm: {
      type: Boolean
    },
    // 判断选中的tab
    isIndex: {
      type: Number
    },
    // 初始可选值
    formArr: {
      type: Array
    },
    // 是否有特殊参数选择
    selectArr: {
      type: Array
    },
    // 输入框提示文案
    placeholderArr: {
      type: Array
    }
  },
  watch: {
    value (val) {
      this.setValue(val)
    },
    isIndex (val) {
      this.modelIndex = val
    },
    titleIdx (val) {
      this.titleIndex = val
    }
  },
  mounted () {
    this.setValue(this.modelVal)
    // if (this.$route.name === 'apply') {
    //   this.setValue(this.modelVal)
    // }
  },
  methods: {
    setValue (val) {
      // console.log(this.title, val)
      // 如果value有值且不为空，选中状态
      if (val && val.length) {
        this.checkAll = false
        this.indeterminate = true
        // 输入参数和时间特殊处理
        if (this.isForm) {
          this.fieldLower = val[0]
          this.fieldUpper = val[1]
        } else if (this.isTime) {
          this.fieldLower = new Date(val[0])
          this.fieldUpper = new Date(val[1])
        } else {
          this.modelVal = val
        }
      } else {
        // 输入参数和时间特殊处理
        if (this.isTime) {
          this.fieldLower = new Date()
          this.fieldUpper = new Date()
        } else {
          this.modelVal = []
        }
      }
    },
    // 全选，不限
    changeCheckAll (bool) {
      this.indeterminate = false
      this.modelVal = []
      this.$emit('input', this.modelVal)
      this.$emit('change', '', '', false)
    },
    changeCheck (i, bool) {
      let indexArr = this.modelIndexArr
      const code = this.formArr[i].code
      const isOn = this.modelIndex === i
      // 记录原始点击值
      const oldIndex = i
      // 判断是否切换tab
      if (this.isIndex > -1) {
        const index = indexArr.indexOf(i)
        // 记录选中值的数组
        if (index < 0) {
          indexArr.push(i)
        }
        // check为false，点中的不是自己本身，切换已选中的tab
        if (!isOn && !bool) {
          this.modelVal.push(code)
        }
        // check为false，点中的是自己本身，取消当前选中，选中的索引值为indexArr最后一个
        if (isOn && !bool && index > -1) {
          indexArr.splice(index, 1)
          i = indexArr[indexArr.length - 1]
        }
      }
      // 判断是否全选
      const len = this.modelVal.length
      const arrLen = this.formArr.length
      this.indeterminate = len > 0 && len < arrLen
      this.checkAll = len === arrLen || len === 0
      // 发送事件
      let modelVal = this.checkAll ? [] : this.modelVal
      // 判断是标题否是数组
      if (this.titleArr) {
        this.$emit('change', modelVal, this.titleIndex, this.itemIndex)
      } else {
        if (this.title === '投保类型') {
          modelVal = this.modelVal
        }
        this.$emit('input', modelVal)
        this.$emit('change', i, code, bool, oldIndex)
      }
    },
    // 可输入值的改变
    changeVal (e) {
      // 最大值和最小值是否都不存在
      if (!this.fieldLower && !this.fieldUpper) {
        // 存在即时不限
        this.indeterminate = false
        this.checkAll = true
        this.modelVal = []
      } else {
        // 不存在将最大、最小赋值给modelVal
        this.indeterminate = true
        this.checkAll = false
        this.modelVal = [this.fieldLower, this.fieldUpper, this.isSelect]
      }
      // 发送事件
      this.$emit('input', this.modelVal)
      this.$emit('change', this.modelVal)
    },
    // 监控title值是否改变
    changeTitle (val) {
      this.$emit('change', this.modelVal, this.titleIndex, this.itemIndex)
    }
  }
}
</script>

