<template>
  <el-steps :active="active" finish-status="success" align-center>
    <el-step title="上传打款模板"></el-step>
    <el-step title="锁定打款"></el-step>
    <el-step title="开始打款"></el-step>
  </el-steps>
</template>

<script>
  export default {
    props: ['active']
  }
</script>

<style lang="less">
.el-step__title {
  font-size: 14px;
}
.el-step__head.is-success{
  color: #ff9900;
  border-color: #ff9900;
}
.el-step__title.is-success{
  color: #ff9900;
}
.el-step__head.is-process{
  color: #999;
  border-color: #999;
}
.el-step__title.is-process{
  color: #999;
}
</style>