@import '../../../assets/styles/color';
.order-create {
  padding: 20px;
  margin-bottom: 50px;
  background: #fff;
  min-height: 600px;
  text-align: center;
  .title {
    font-size: 20px;
    margin: 20px 0;
  }
  .el-form {
    max-width: 500px;
    margin: 0 auto;
    .el-select {
      width: 100%;
    }
  }
}