<style lang="less">
  @import "./index.less";
</style>

<template>
<div class="content">
  <div class="order-create">
    <div class="title">创建支付单</div>
    <el-form v-model="formOrder" label-width="100px">
      <el-form-item label="车牌号">
        <el-input placeholder="请输入车牌号" v-model="formOrder.licenseNo"></el-input>
      </el-form-item>
      <el-form-item label="投保单号">
        <el-select v-model="formIndex" placeholder="请选择保险公司账号" @change="changeAccount">
          <el-option 
            v-for="(item, i) of piccList"
            :key="i"
            :label="item.userName" 
            :value="i">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="保单金额">
        <el-input placeholder="请输入保单金额" v-model="formOrder.totalMoney"></el-input>
      </el-form-item>
      <el-form-item label="结算金额">
        <el-input placeholder="请输入结算金额" v-model="formOrder.commission"></el-input>
      </el-form-item>
      <el-form-item label="投保单号">
        <el-input placeholder="请输入投保单号" v-model="formOrder.proposal_no"></el-input>
      </el-form-item>
      <el-button type="primary" @click="createOrder" :loading="showLoading">创建</el-button>
    </el-form>
  </div>
</div>
</template>

<script>
  import Request from 'utils/request'
  import { RegVehicleNumber, RegNumber } from 'utils/regCheck'

  export default {
    data () {
      return {
        formIndex: '',
        formOrder: {},
        showLoading: false,
        piccList: []
      }
    },
    mounted () {
      this.getList()
    },
    methods: {
      getList () {
        Request.post({
          url: 'users/thirdagent/agentUserList',
          done: (res) => {
            if (res.resultCode === 1) {
              this.piccList = res.data
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      changeAccount (i) {
        const {userName, password} = this.piccList[i]
        this.formOrder.piccUserName = userName
        this.formOrder.piccPassword = password
      },
      createOrder () {
        const form = this.formOrder
        this.showLoading = true
        if (!RegVehicleNumber.test(form.licenseNo)) {
          this.$alert('车牌号格式不正确', 'error')
          this.showLoading = false
          return
        }
        if (!RegNumber.test(form.totalMoney) || !RegNumber.test(form.commission)) {
          this.$alert('金额不正确，请检查', 'error')
          this.showLoading = false
          return
        }
        Request.post({
          url: 'order/qrCodePayOrder/push',
          data: form,
          done: (res) => {
            this.showLoading = false
            if (res.resultCode === 1) {
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.showLoading = false
            console.error(err)
          }
        })
      }
    }
  }
</script>
