@import '../../../assets/styles/color';
.policy-apply {
  margin-bottom: 40px;
  // background: #fff;
  .policy-head {
    background: #fff;
    padding: 20px 20px 0;
    span {
      cursor: pointer;
      display: inline-block;
      margin-right: 30px;
      line-height: 40px;
      font-size: 18px;
      border-bottom: 2px solid #fff;
      &.active {
        border-color: @mainColor;
      }
    }
  }
  .policy-box {
    background: #fff;
    position: relative;
    padding: 0 20px;
    .policy-box-head {
      padding: 0;
      border-top: 1px solid #ddd;
      border-bottom: 1px dashed #ddd;
      background: @bgColor;
    }
  }
  .policy-item {
    padding: 10px 0;
    border-bottom: 1px dashed #ddd;
    overflow: hidden;
    line-height: 20px;
    &:last-child {
      border-bottom: none;
    }
    .input-new-tag {
      width: 120px;
      display: inline-block;
      background: @mainColor;
      border-radius: 4px;
      .el-input {
        display: inline-block;
        width: 80px;
      }
      .el-input__inner {
        height: 30px;
        padding: 0 10px;
      }
      .append {
        width: 40px;
        height: 30px;
        color: #fff;
        cursor: pointer;
      }
    }
    & > span, .el-checkbox-group > span {
      display: inline-block;
      &.lable {
        padding: 10px;
        min-width: 80px;
      }
      &.strong {
        padding: 10px;
        min-width: 80px;
        font-size: 16px;
        font-weight: 800;
        margin-left: 40px;
      }
      &.tag {
        cursor: pointer;
        margin: 0 5px;
        padding: 3px 10px;
        color: #fff;
        background: @mainColor;
        border-radius: 4px;
        border: 1px dashed @mainColor;
      }
      &.checkbox{
        padding: 10px;
        &.active{
          background: @mainbgColor;
        }
      }
      &.form {
        // margin: 0 10px;
        .el-input {
          width: 120px;
          line-height: 30px;
          input {
            height: 30px;
          }
        }
        .el-select {
          &.w80 .el-input {
            margin-left: 10px;
            width: 80px;
          }
        }
        .el-date-editor {
          width: 260px;
        }
        .el-input__icon {
          line-height: 30px;
        }
      }
      &.form-fee {
        .el-input {
          width: 200px;
          line-height: 40px;
          margin-right: 10px;
          input {
            height: 40px;
          }
        }
        .el-input--prefix .el-input__inner {
          padding-left: 50px;
        }
      }
    }
    .el-checkbox-group {
      display: inline;
    }
  }
  .policy-item-box {
    background: @mainbgColor;
    padding: 0 10px;
    margin-left: 70px;
    .title-select {
      width: 100px;
      .el-input--suffix .el-input__inner {
        padding: 0 5px;
      }
    }
  }
  .policy-more {
    cursor: pointer;
    position: absolute;
    margin-left: -100px;
    bottom: -30px;
    left: 50%;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: @mainColor;
    background: #fff;
    text-align: center;
  }
  .policy-footer {
    margin-top: 40px;
    text-align: center;
  }
}