<style lang="less">
  @import "./index.less";
</style>

<template>
  <div class="policy-apply">
    <div class="policy-head">
      <span class="active"> 保单政策 </span>
    </div>
    <!-- 保单政策 -->  
    <insure-form :form="insureForm" :dto="insPolicyVehicleDto" :data="policyData"></insure-form>
    <!-- 车船奖励 -->
    <!-- <insure-form v-if="isType === '2'" :type="isType" :form="insureForm" :dto="insPolicyInsureDto" :data="policyForm"></insure-form> -->
  </div>
</template>

<script>
  import Request from 'utils/request'
  import urlQuery from 'utils/urlQuery'

  import policyItem from './model/policyItem'
  import insureForm from './model/insureForm'

  import insTypeList from 'types/insTypes'
  import vehiclePropertyCode from 'types/vehiclePropertyCode'
  import vehicleClassCodeList from 'types/vehicleClassCodeList'

  export default {
    data () {
      return {
        isType: '1',
        policyData: {},
        insureForm: {
          insTypeList,
          vehicleClassCodeList,
          vehiclePropertyCode,
          useNatureCodes: [{code: '1', name: '营业'}, {code: '2', name: '非营业'}],
          ownershipCodes: [{code: '1', name: '个人'}, {code: '4', name: '企业'}, {code: '8', name: '机关(事业单位)'}],
          carTypes: [{code: '1', name: '新车'}, {code: '0', name: '旧车'}],
          boolArr: [{code: '1', name: '是'}, {code: '0', name: '否'}],
          externalFlag: [{code: '1', name: '国产'}, {code: '2', name: '进口'}],
          businessTypes: [{code: '1', name: '新保'}, {code: '2', name: '续保'}, {code: '3', name: '转保 '}, {code: '4', name: '旧车首年(平安专用)'}],
          insTypes: [{code: '1', name: '单交强', bool: true}, {code: '2', name: '交商同保'}, {code: '3', name: '单商业'}]
        },
        insPolicyVehicleDto: {
          batchId: urlQuery.queryRouterLastOne(),
          policyType: '1',
          slipLocation: '1',
          tar: '',
          insVehiclePolicyDTOs: [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}],
          insTypePolicyDTOs: [{}, {}, {}],
          vehicleTypeCode: [],
          insuranceTypes: [],
          useNatureCodes: [],
          ownershipCodes: [],
          priceType: [],
          isNew: [],
          isTransferCar: [],
          isLoanCar: [],
          vehicleYearType: [],
          businessTypes: [],
          premiumType: [],
          startTimeType: [],
          finishTimeType: [],
          promotionType: '1',
          trafficRate: '',
          businessRate: '',
          vehicleTaxRate: '0',
          coinTrafficRate: '',
          coinBusinessRate: '',
          coinVehicleTaxRate: ''
        }
      }
    },
    components: {
      policyItem,
      insureForm
    },
    mounted () {
      let id = urlQuery.queryRouterLastOne()
      if (this.$route.name !== 'apply') {
        this.getPolicy(id)
      } else {
        this.getBatchs(id)
      }
    },
    methods: {
      getBatchs (id) {
        Request.post({
          url: '/policy/batchs/page',
          data: {
            pageNum: 0,
            pageSize: 10,
            dto: { id }
          },
          done: (res) => {
            if (res.resultCode === 1) {
              const list = res.pageInfo.list
              this.$set(this.policyData, 'city_code', list[0].city_code)
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      getPolicy (id) {
        Request.post({
          url: '/policy/insPolicys/queryById',
          data: {id},
          done: (res) => {
            if (res.resultCode === 1) {
              const data = res.dtoList[0]
              this.policyData = data
              this.id = data.batchId
              this.isType = data.policyType
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      }
    }
  }
</script>
