<template>
  <el-table
    :data="tableData"
    stripe
    style="width: 100%"
    class="table">
    <el-table-column
      prop="receiverName"
      label="收款户名"
      align="center"
      fixed="left"
      min-width="100px">
    </el-table-column>
    <el-table-column
      prop="payAmount"
      label="打款金额"
      align="center"
      fixed="left"
      min-width="100px">
      <template slot-scope="data">
          {{data.row.payAmount || 0}}
        </template>
    </el-table-column>
    <el-table-column
      prop="serviceCharge"
      label="手续费"
      v-if="serviceYuan !== 0"
      align="center"
      fixed="left"
      min-width="100px">
      <template slot-scope="data">
        {{subNum(data.row.serviceCharge, 2) || 0}}
      </template>
    </el-table-column>
    <el-table-column
      prop="trafficNum"
      label="交易流水号"
      align="center"
      min-width="200px">
    </el-table-column>
    <el-table-column
      prop="receiverAccountNo"
      label="收款账号"
      align="center"
      min-width="200px">
    </el-table-column>
    <el-table-column
      prop="receiverCertNo"
      label="证件号码"
      align="center"
      min-width="200px">
    </el-table-column>
    <el-table-column
      prop="receiverMobile"
      label="手机号"
      align="center"
      min-width="150px">
    </el-table-column>
    <el-table-column
      prop="createTime"
      label="交易创建时间"
      align="center"
      min-width="180px">
      <template slot-scope="data">
          {{time(data.row.createTime * 1000, 'yyyy-MM-dd hh:mm:ss')}}
        </template>
    </el-table-column>
    <el-table-column
      prop="updateTime"
      label="交易更新时间"
      align="center"
      min-width="180px">
      <template slot-scope="data">
          {{time(data.row.updateTime * 1000, 'yyyy-MM-dd hh:mm:ss')}}
        </template>
    </el-table-column>
    <el-table-column
      prop="status"
      fixed="right"
      align="center"
      label="交易状态">
      <template slot-scope="data">
        {{statusDispose(data.row.status)}}
      </template>
    </el-table-column>
     <el-table-column
      fixed="right"
      label="操作"
      align="center"
      width="100">
      <template slot-scope="scope">
        <el-button @click="handleClick(scope.row)" type="text" size="small" style="color: #000;">{{operationName}}</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
  export default {
    data () {
      return {
        time: this.$dateFormat,
        subNum: this.$subNum
      }
    },
    props: ['tableData', 'operationName', 'handleClick', 'serviceYuan'],
    methods: {
      statusDispose (status) {
        if (status === 11) {
          return '校验失败'
        } else if (status === 50) {
          return '已打款'
        } else if (status === 21) {
          return '已取消'
        } else if (status === 12) {
          return '已取消'
        } else if (status === 30) {
          return '打款中'
        } else if (status === 40) {
          return '打款中'
        } else if (status === 61) {
          return '打款失败'
        }
      }
    }
  }
</script>

<style lang="less">
.table{
  margin-top: 15px;
}
</style>