.start{
  .title{
    background-color: #fff;
    line-height:56px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }
  .tooltip{
    margin-top: 5px;
    background-color: #fff;
    line-height: 36px;
    color: #ff9900;
    padding-left: 15px;
  }
  .step-bar{
    margin-top: 5px;
    background-color: #fff;
    padding: 15px 15px;
  }
}