<template>
  <div class="start">
    <div class="title">
      &nbsp;&nbsp;&nbsp;交易管理/打款/开始打款
    </div>
    <div class="step-bar">
      <step-bar :active="3"></step-bar>
    </div>
    <div class="tooltip" v-if="status === 20">
      <div v-if="accessYuan+serviceYuan<=balance">
        温馨提示：交易金额 <span v-if="serviceYuan">及手续费</span> 共计{{subNum(accessYuan + serviceYuan, 2)}}元，账户余额{{subNum(balance, 2)}}元。
      </div>
      <div v-else>
        温馨提示：余额不足！交易金额<span v-if="serviceYuan">及手续费</span>共计{{subNum(accessYuan + serviceYuan, 2)}}元，账户余额{{subNum(balance, 2)}}元。请充值！
      </div>
    </div>
    <!-- <div class='detail-bar'>
      <span>批次名称&nbsp;<span class="text">{{batchName}}</span></span>
      |
      <span>状态&nbsp;<span class="text">{{status}}</span></span>
      |
      <span>合计&nbsp;<span class="text">{{sum}}</span>笔</span>
      |
      <span>总金额&nbsp;<span class="text">{{totalAmount}}</span>元</span>
      <el-button @click='cancleBatch' size='small' type="primary">取消批次</el-button>
      <el-button @click='handleRemit' size='small' type="primary" :disabled="totalAmount<balance && this.$getStorage('roles').indexOf('P102') < 0">打款</el-button>
    </div>
      <el-button @click='handleRemit' size='small' type="primary">打款</el-button>
    </div> -->
    <detail-bar :data="accountData" :status="status" :balance = "balance"></detail-bar>
    <statistics-bar :accessBi='accessBi' :accessYuan="accessYuan" :loseBi="loseBi" :loseYuan="loseYuan" :serviceYuan="serviceYuan" :serviceBi="serviceBi"></statistics-bar>
    <div style="padding:0 10px;background-color:#fff;">
      <el-table
        :data="tableData"
        stripe
        style="width: 100%;margin-top:5px;"
        class="table">
        <el-table-column
          fixed="left"
          prop="receiverName"
          align="center"
          label="收款户名"
          min-width="100px">
        </el-table-column>
        <el-table-column
          fixed="left"
          prop="payAmount"
          align="center"
          label="打款金额"
          min-width="120px">
          <template slot-scope="data">
            {{data.row.payAmount || 0}}
          </template>
        </el-table-column>
        <el-table-column
          prop="serviceCharge"
          label="手续费"
          v-if="serviceYuan !== 0"
          min-width="100px">
          <template slot-scope="data">
            {{subNum(data.row.serviceCharge, 2) || 0}}
          </template>
        </el-table-column>
        <el-table-column
          prop="id"
          align="center"
          label="交易流水号"
          min-width="200px">
        </el-table-column>
        <el-table-column
          prop="receiverAccountNo"
          align="center"
          label="收款账号"
          min-width="200px">
        </el-table-column>
        <el-table-column
          prop="receiverCertNo"
          align="center"
          label="证件号码"
          min-width="200px">
        </el-table-column>
        <el-table-column
          prop="receiverMobile"
          align="center"
          label="手机号"
          min-width="150px">
        </el-table-column>
        <el-table-column
          prop="createTime"
          align="center"
          label="交易创建时间"
          min-width="200px">
          <template slot-scope="data">
            {{time(data.row.createTime * 1000, 'yyyy-MM-dd hh:mm:ss')}}
          </template>
        </el-table-column>
        <el-table-column
          prop="updateTime"
          align="center"
          label="交易更新时间"
          min-width="200px">
          <template slot-scope="data">
            {{time(data.row.updateTime * 1000, 'yyyy-MM-dd hh:mm:ss')}}
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          prop="status"
          align="center"
          label="交易状态"
          width="110">
          <template slot-scope="data">
            {{statusDispose(data.row.status)}}
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          align="center"
          label="操作"
          width="110">
          <template slot-scope="data">
            {{data ? '-/-' : ''}}
          </template>
        </el-table-column>
      </el-table>
    </div>
    <Pages :total="totalSize" :pageSize="pageSize"  @changePages="changePages" style="text-align:center;background-color:#fff;padding:10px 0;"></Pages>
  </div>
</template>

<script>
  import stepBar from 'pages/upay/components/step-bar'
  import detailBar from 'pages/upay/components/detail-bar'
  import statisticsBar from 'pages/upay/components/statistics-bar'
  import remitTable from 'pages/upay/components/remit-table'
  import Pages from 'components/public/pages'
  import Request from 'utils/request'
  export default {
    inject: ['reload'],
    data () {
      return {
        batchName: this.$route.query.batchName,
        accountData: {},
        sum: 0,
        totalAmount: 0,
        tableData: [],
        countNum: 0,
        page: 1,
        pageSize: 10,
        totalSize: 0,
        balance: 0,
        accessBi: 0,
        accessYuan: 0,
        loseBi: 0,
        serviceBi: 0,
        serviceYuan: 0,
        loseYuan: 0,
        subNum: this.$subNum,
        time: this.$dateFormat,
        status: 0
      }
    },
    components: {
      stepBar,
      detailBar,
      statisticsBar,
      remitTable,
      Pages
    },
    mounted () {
      this.getRemitList()
      this.getBatchInfo()
      this.getAccountBalance()
    },
    methods: {
      statusDispose (status) {
        if (status === 11) {
          return '校验失败'
        } else if (status === 20) {
          return '待打款'
        } else if (status === 21) {
          return '取消订单（取消打款）'
        } else if (status === 12) {
          return '商户主动取消'
        } else if (status === 30) {
          return '打款中'
        } else if (status === 50) {
          return '打款成功'
        } else if (status === 40) {
          return '打款中'
        } else if (status === 30) {
          return '打款中'
        } else if (status === 61) {
          return '打款失败'
        }
      },
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.getRemitList()
      },
      // 获取打款列表
      getRemitList () {
        Request.post({
          url: 'account/upayUploadAndLock/getUpayOrderInfo',
          data: {
            batchName: this.$route.query.batchName,
            pageStart: this.page,
            pageSize: this.pageSize
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.totalSize = res.totalSize
              this.tableData = res.data
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      },
      getBatchInfo () {
        Request.post({
          url: 'account/upayUploadAndLock/getUpayBatchInfo',
          data: {
            batchName: this.$route.query.batchName
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.data
              this.accountData = data
              this.accountData.batchName = this.$route.query.batchName
              this.sum = data.totalCount
              this.totalAmount = data.totalAmount
              this.accessBi = data.checkPassCount
              this.accessYuan = data.checkPassAmount
              this.loseBi = data.checkFailCount
              this.loseYuan = data.checkFailAmount
              this.serviceBi = data.serviceChargeCount || 0
              this.serviceYuan = data.serviceCharge || 0
              this.status = data.status
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      },
      getAccountBalance () {
        Request.post({
          url: 'account/businessUpay/businessAccountAmount',
          done: (res) => {
            if (res.resultCode === 1) {
              this.balance = res.data
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      }
    }
  }
</script>

<style lang="less">
@import './index';
</style>