<template>
  <div class="tac">
    <el-menu
      :default-active="defaultMenu()"
      class="el-menu-vertical"
      router>
      <el-submenu index="operation">
        <template slot="title">
          <i class="iconfont icon-hongbao"></i>
          <span>红包管理</span>
        </template>
          <!-- v-privilege="'J102'"  TODO -->
          <el-menu-item index="createredpacket" v-privilege="'R101'">创建红包</el-menu-item>
        <!-- v-privilege="'J101'"  TODO -->
          <el-menu-item index="redpacketlist" v-privilege="'R102'">红包列表</el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
export default{
  methods: {
  // 默认展开导航菜单
    defaultMenu () {
      return this.$route.path.slice(11)
    }
  }
}
</script>

<style lang="less">
@import './index.less';
</style>