<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no'/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="referrer" content="never">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="no-cache" http-equiv="Pragma">
    <meta content="no-cache" http-equiv="Cache-Control">
    <meta name="description" content="有家保险致力于以“家庭保险”为中心，运用数据和算法解决购买保险过程中的问题，帮助保险经纪人更有效率的展业……家庭保险、旅行意外险、代理人平台、代理人展业、重疾险、车险计算器、人保车险、太平洋、平安、人寿保险、保险经纪人、保险saas、保单、车险报价、保险计划书、汽车保险、保险代理软件、保险经纪、车险比价平台、智能保险师、保险人、有家有保">
    <meta name="author" content="有家保险">
    <title>有家保险-商户系统</title>
    <link rel="icon" href="//oss-img.u-bx.com/images/home/favicon.ico" type="image/x-icon">
    <style>
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_897888_xcip0se6qg.css">
    <input type="text" id="copyInput" style="opacity: 0;position:absolute; top: -100;"/>
    <div id="app"></div>
  </body>
</html>
