@import '../../assets/styles/color';
.title-head {
  border-bottom: 1px solid @lineColor;
  height: 50px;
  line-height: 30px;
  .title {
    float: left;
    font-size: 18px;
    font-weight: bold;
    border-left: 2px solid @mainColor;
    padding-left: 10px;
  }
  &.noline {
    border-bottom: none;
  }
  &.noRequired {
    height: 30px;
    .title {
      border-left: none;
      margin-left: 0px;
    }
  }
}