<style lang="less">
	@import "./index";
</style>

<template>
  <div class="title-head" :class="className">
    <div class="title">{{titleStr}}</div>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        titleStr: this.title
      }
    },
    watch: {
      title (val) {
        this.titleStr = val
      }
    },
    props: {
      title: {
        type: String,
        default: ''
      },
      className: {
        type: String
      }
    },
    methods: {

    }
  }
</script>
