<style lang="less">
  @import "./index.less";
</style>

<template>
<div class="content">
  <div class="order-list-page" :style="{'min-height': height + 'px'}">
    <div class="title">
      <el-row>
        <el-col :span="2" style="line-height:40px">
          车险保单
        </el-col>
        <el-col :span="7" style="line-height:40px">
          <el-date-picker
            v-model="dateRange"
            type="daterange"
            style="width:100%;"
            :picker-options="pickerSelect"
            @change="searchOrder"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
        </el-col>
        <el-col :span="3">
          <el-select
            v-model="provinceCode"
            filterable
            style="margin: 0 0 0 10px;"
            placeholder="选择投保省份"
            @change="changeProvince">
            <el-option
              v-for="(item, key) in extractProvince()"
              :key="key"
              :label="item.province"
              :value="item.code">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="3">
          <!-- <el-input v-model="searchStr" class="search-input" placeholder="输入车牌、车架号、车主或订单号查询订单" @keyup.enter.native="searchOrder">
            <span class="el-icon-close el-input__icon" slot="suffix" @click="() => {searchStr = ''; searchOrder()}"></span>
            <span slot="append" @click="searchOrder">搜索</span>
          </el-input> -->
          <el-select
            v-model="insCityCode"
            filterable
            style="margin: 0 10px;"
            placeholder="选择投保城市"
            @change="changeCityCode">
            <el-option
              v-for="(item, key) in insCitys"
              :key="key"
              :label="item.name"
              :value="item.code">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="9">
          <el-input v-model="searchStr" class="search-input" placeholder="输入车牌、车架号、车主或订单号查询订单" @keyup.enter.native="searchOrder">
            <span class="el-icon-close el-input__icon" slot="suffix" @click="() => {searchStr = ''; searchOrder()}"></span>
            <span slot="append" @click="searchOrder">搜索</span>
          </el-input>
        </el-col>
      </el-row>
    </div>
    <div class="tabs">
      <div class="tabs-item" :class="{'active': !status}" @click="changeStatus()" >全部</div>
      <div class="tabs-item" :class="{'active': status === 31}" @click="changeStatus(31)">核保退回</div>
      <div class="tabs-item" :class="{'active': status === 60}" @click="changeStatus(60)">待审核</div>
      <div class="tabs-item" :class="{'active': status === 71}" @click="changeStatus(71)">审核失败</div>
      <div class="tabs-item" :class="{'active': status === 80}" @click="changeStatus(80)">已完成</div>
      <div class="tabs-item" :class="{'active': status === 100}" @click="changeStatus(100)">超时取消</div>
      <div class="clearfix"></div>
    </div>
    <transition name="fade" mode="out-in">
      <ul v-if="orders.length" class="order-list">
        <li v-for="(item, i) in orders" :key="i">
          <div class="ol-header">
            <span class="time">{{item.created}}</span>
            <span class="order-no"><router-link :to="`/insure/review/${item.insOrderId}`">订单号：{{item.insOrderId}} </router-link></span>
            <span class="auto">{{insCompanyCode[item.insCompanyCode]}}<i class="green">【自动】</i></span>
            <span class="mobileFlex" v-if="item.mobile"><span class="titleMobile">手机号:</span>{{item.mobile}}</span>
            <el-tooltip class="item" effect="light" :content="item.nickName" placement="top" v-if="item.nickName">
              <span class="nickName">{{item.nickName}}</span>
            </el-tooltip>
          </div>
          <div class="order">
            <div class="car-no box-left">
              <div class="number">{{item.vehicleLicenceNo}}</div>
              <div class="info">{{item.frameNo}}</div>
            </div>
            <div class="price box-left"> ￥<b> {{item.totalCost}}</b></div>
            <div class="status box-left" :class="{ 'blue': item.status === 60, 'green': item.status === 70, 'red': item.status === 71}">{{insStatus[item.status]}}</div>
            <div class="button" v-if="item.status === 60"><router-link :to="`/insure/verify/${item.insOrderId}`">审核</router-link></div>
            <div class="button" v-else><router-link :to="`/insure/review/${item.insOrderId}`" v-privilege="'E101'">查看</router-link></div>
            <div class="status-info" v-if="item.status === 31" :title="item.remark">核保意见:<span v-if="item.remark">{{item.remark}}</span></div>
            <div class="clearfix"></div>
          </div>
        </li>
      </ul>
      <div v-else class="tips">
        暂时没有数据
      </div>
    </transition>
    <Pages :total="total" :pageSize="pageSize"  @changePages="changePages" v-if="total"></Pages>
  </div>
</div>
</template>

<script>
  import Request from 'utils/request'
  import {insStatus, insCompanyCode} from 'types/'

  import Pages from 'components/public/pages'

  export default {
    data () {
      return {
        insStatus,
        insCompanyCode,
        insCityCode: this.$getStorage('youjia_city_code') || '00116007',
        insCitys: this.$getStorage('youjia_citys'),
        provinceCode: '',
        total: 0,
        status: 0,
        page: 1,
        pageSize: 10,
        orders: [],
        searchStr: '',
        height: 500,
        cityValue: '',
        provinceValue: '',
        dateRange: [],
        pickerSelect: {
          disabledDate (time) {
            return time.getTime() > Date.now()
          },
          onPick: ({ maxDate, minDate }) => {
            if (!maxDate) return
            this.dateRange = [minDate, maxDate]
          }
        }
      }
    },
    mounted () {
      this.weekDate()
      this.onReady()
    },
    components: {
      Pages
    },
    methods: {
      onReady () {
        this.height = window.innerHeight - 180
        window.onresize = () => {
          this.height = window.innerHeight - 180
        }
        this.changeStatus()
      },
      weekDate () {
        let date = Date.now()
        this.$set(this.dateRange, 1, date)
        this.$set(this.dateRange, 0, date - 604800000)
      },
      // 选择状态
      changeStatus (type) {
        this.page = 1
        this.status = type
        this.searchOrder()
      },
      // 选择分页
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.searchOrder()
      },
      // 选择城市code
      changeCityCode (code) {
        this.provinceCode = ''
        this.$setStorage('youjia_city_code', code)
        this.searchOrder()
      },
      changeProvince (code) {
        this.insCityCode = ''
        this.searchOrder()
      },
      // 请求数据
      searchOrder () {
        if (this.dateRange === null) {
          this.dateRange = Array.of(2)
          this.dateRange[0] = ''
          this.dateRange[1] = ''
        }
        this.page = this.searchStr ? 1 : this.page
        Request.post({
          url: '/order/insVehicleOrders/settlePage',
          data: {
            dto: {
              status: this.status,
              insCityCode: this.insCityCode || '',
              provinceCode: this.provinceCode || ''
            },
            pageNum: this.page,
            pageSize: this.pageSize,
            condition: this.searchStr,
            startTime: this.$dateFormat(this.dateRange[0], 'yyyy-MM-dd hh:mm:ss'),
            endTime: this.$dateFormat(this.dateRange[1], 'yyyy-MM-dd 23:59:59')
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.orders = res.pageInfo.list
              this.total = res.pageInfo.total
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      // 获取省份
      extractProvince () {
        let result = []
        let temp = []
        let item = this.$getStorage('youjia_citys')
        for (let key in item) {
          if (!temp.includes(item[key].provinceCode)) {
            result.push({code: item[key].provinceCode, province: item[key].province})
            temp.push(item[key].provinceCode)
          }
        }
        return result
      }
    }
  }
</script>
