@import '../../../assets/styles/color';

.account-order-list {
  padding: 20px;
  margin-bottom: 50px;
  background: #fff;
  min-height: 600px;
  .title {
    font-size: 18px;
    color: @font999;
    padding-bottom: 10px;
    border-bottom: 1px solid @lineColor;
    line-height: 40px;
  }
  .el-pagination {
    margin: 20px;
    text-align: center;
  }
}
