<style lang="less">
  @import "./index.less";
</style>

<template>
  <div class="account-order-list">
    <div class="title">
      <!-- <el-row> -->
        <!-- <el-col :span="9">
          订单金额: {{count_total}}
        </el-col> -->
        <!-- <el-col :span="15"> -->
          <!-- <el-radio :label="3" v-model="radio">今天</el-radio>-->
          <el-date-picker
            v-model="dateRange"
            type="daterange"
            range-separator="至"
            @change="getStatementList"
            start-placeholder="开始日期"
            :picker-options="pickerSelect"
            :unlink-panels="true"
            end-placeholder="结束日期">
          </el-date-picker> 
          <el-button @click="openLink" class="main-btn">导出报表</el-button>
        <!-- </el-col>
      </el-row> -->
    </div>
    <div class="wallet-table">
      <!-- <el-table 
        :row-class-name="tableRowClassName"
        :data="tableData">
        <el-table-column
          prop="createTime"
          label="时间"
          width="150"
          align="center">
          <template slot-scope="o">
            {{$dateFormat(o.row.createTime * 1000, 'yyyy-MM-dd hh:ss')}}
          </template>
        </el-table-column>
        <el-table-column
          prop="trxType"
          label="收/支"
          width="150"
          align="center">
          <template slot-scope="o">
            {{['收入', '支出', '冻结', '解冻'][o.row.trxType - 1]}}
          </template>
        </el-table-column>
        <el-table-column
          prop="amount"
          label="交易金额"
          width="150"
          align="center">
        </el-table-column>
        <el-table-column
          prop="accountAmount"
          label="余额"
          width="150"
          align="center">
        </el-table-column>
        <el-table-column
          prop="remark"
          label="交易说明"
          align="center">
        </el-table-column>
      </el-table> -->
      <el-table 
        :data="tableData">
        <el-table-column
          prop="orderId"
          label="订单号"
          min-width="220px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="insuranceCompanyName"
          label="保司"
          min-width="100px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="insuranceType"
          label="保单类型"
          min-width="100px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="vehicleLicenceNo"
          label="车牌号"
          min-width="150px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="insNo"
          label="保单号"
          min-width="240px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="totalPrem"
          label="保费"
          min-width="100px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="reAmount"
          label="佣金"
          min-width="100px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="insPayTime"
          label="时间"
          align="center">
          <template slot-scope="o">
            {{$dateFormat(o.row.insPayTime * 1000, 'yyyy-MM-dd hh:ss')}}
          </template>
        </el-table-column>
      </el-table>
      <Pages :total="totalSize" :pageSize="pageSize"  @changePages="changePages" v-if="totalSize"></Pages>
    </div>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import {insCompanyCode} from 'types/'

  import Pages from 'components/public/pages'

  export default {
    data () {
      return {
        insCompanyCode,
        page: 1,
        pageSize: 10,
        totalSize: 0,
        count_total: 0,
        tableData: [],
        endTime: '',
        startTime: '',
        radio: 3,
        timeArr: [],
        dateRange: [],
        pickerSelect: {
          disabledDate (time) {
            return time.getTime() > Date.now()
          },
          onPick: ({ maxDate, minDate }) => {
            if (!maxDate) return
            this.dateRange = [minDate, maxDate]
          }
        }
      }
    },
    mounted () {
      this.weekDate()
      this.getStatementList()
      this.getBalance()
      // this.getPaymentDetail()
    },
    beforeUpdate () {
    },
    components: {
      Pages
    },
    methods: {
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.getStatementList()
      },
      weekDate () {
        let date = Date.now()
        this.$set(this.dateRange, 1, date)
        this.$set(this.dateRange, 0, date - 604800000)
      },
      getStatementList () {
        Request.post({
          url: `manage/book/getVehicleOrderBookOne`,
          data: {
            startTime: this.$dateFormat(this.dateRange[0], 'yyyy-MM-dd hh:mm:ss'),
            endTime: this.$dateFormat(this.dateRange[1], 'yyyy-MM-dd 23:59:59'),
            pageIndex: this.page,
            pageSize: this.pageSize
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.tableData = res.data
              this.totalSize = res.totalSize
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      getBalance () {
        Request.get({
          url: `/account/selectAccount/2`,
          done: (res) => {
            if (res.resultCode === 1) {
              const data = res.data[0]
              this.count_total = data.amount
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      // getPaymentDetail () {
      //   Request.post({
      //     url: `account/paymentDetail`,
      //     data: {
      //       type: 2,
      //       currentPage: this.page,
      //       pageSize: this.pageSize
      //     },
      //     done: (res) => {
      //       if (res.resultCode === 1) {
      //         this.tableData = res.data
      //         this.totalSize = res.totalSize
      //       } else {
      //         this.$alert(res.message, 'error')
      //       }
      //     }
      //   })
      // },
      openLink () {
        Request.post({
          url: '/users/auth/authParam',
          data: {
            isToday: this.radio === 3,
            startTime: this.startTime,
            endTime: this.endTime,
            sysUserSrc: 2
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let form = document.createElement('form')
              form.action = `/api/manage/book/sellerVehicleOrderBookOnesExcel/${res.data}`
              form.target = '_blank'
              form.method = 'GET'
              document.body.appendChild(form)
              form.submit()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      handleChange (val) {
        this.radio = 1
        this.startTime = this.$dateFormat(val[0], 'yyyy-MM-dd 00:00:00')
        this.endTime = this.$dateFormat(val[1], 'yyyy-MM-dd 23:59:59')
        // this.getList()
      }
    }
  }
</script>
