@import '../../../assets/styles/color';
.user-account {
  padding: 20px;
  .account-list {
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eee;
    li {
      line-height: 50px;
      border-top: 1px solid #eee;
      &:first-child {
        border: none;
      }
      span {
        width: 24%;
        cursor: pointer;
        display: inline-block;
        &:last-child {
          color: #f90;
          text-align: right;
        }
      }
    }
  }
  .el-dialog {
    width: 400px;
    .el-button {
      width: 100%;
      color: #fff;
      border-color: @mainColor;
      background-color: @mainColor;
    }
    .el-input-group__append {
      .el-button {
        color: @mainColor;
        border: none;
        background-color: inherit;
        display: flex;        
      }
    }
  }
}