<style lang="less">
  @import "./index.less";
</style>

<template>
  <div class="user-account">
    <div class="title">
      <el-button type="primary" @click="showDialog = true; type = 0"> 新增PICC账号 </el-button>
    </div>
    <ul v-if="userList.length" class="account-list">
      <li v-for="(item, i) in userList" :key="item.id + i">
        <span>用户名：{{item.userName}}</span>
        <span>保险公司：中国人保</span>
        <span>城市：河北石家庄</span>
        <span @click="showDialog = true; type = 1; form = item">修改</span>
      </li>
    </ul>
    <div v-else class="account-list">
      暂时没有数据
    </div>
    <el-dialog
      class="modifyPassword animateFast"
      :title="type ? '修改PICC账号' : '新增PICC账号'"
      :visible.sync="showDialog">
      <el-form v-model="form">
        <el-form-item>
          <el-select v-model="form.cityCode" placeholder="请选择城市">
            <el-option
              v-for="item of insProvinceCode"
              :key="item.id"
              :label="item.provincename" 
              :value="item.id">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入用户名（工号）" v-model="form.userName" :disabled="type === 1"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入密码" v-model="form.password" type="password"></el-input>
        </el-form-item>
        <el-button @click="submit()" :loading="showLoading">{{type ? '修改' : '创建'}}</el-button>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import insProvinceCode from 'types/insProvinceCode'

  export default {
    data () {
      return {
        insProvinceCode,
        type: 0,
        form: {
          compony: '9801',
          cityCode: '00105'
        },
        userList: [],
        showDialog: false,
        showLoading: false
      }
    },
    created () {
      this.onReady()
    },
    methods: {
      onReady () {
        Request.get({
          url: 'users/thirdagent/agentUserList',
          done: (res) => {
            if (res.resultCode === 1) {
              this.userList = res.data
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      submit () {
        const form = this.form
        if (!form.userName || !form.password) {
          this.$alert('用户名密码不能为空', 'error')
          this.showLoading = false
          return
        }
        let url = this.type ? 'users/thirdagent/updateThirdUser' : 'users/thirdagent/addThirdUser'
        this.createAccaunt(url, form)
      },
      createAccaunt (url, form) {
        Request.post({
          url,
          data: form,
          done: (res) => {
            this.showDialog = false
            this.showLoading = false
            if (res.resultCode === 1) {
              this.$alert(this.type ? '修改PICC账号成功' : '创建PICC账号成功')
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: () => {
            this.showLoading = false
          }
        })
      }
    }
  }
</script>
