<template>
  <el-dialog
    @close="onDialogClose"
    class="animateFast"
    title="保单用户"
    :visible.sync="showDialog">
    <el-input v-model="inviteHost" style="width:300px;" placeholder="邀请链接">
      <el-button @click="copyUrl(inviteHost)" slot="append">复制</el-button>
    </el-input>
    <div class="title">
      <el-select
        v-model="userId"
        multiple
        filterable
        remote
        reserve-keyword
        placeholder="请输入关键词"
        :remote-method="searchPersonnel"
        :loading="loading">
        <el-option
          v-for="item in personnels"
          :key="item.userId"
          :label="item.nickName"
          :value="item.userId">
        </el-option>
      </el-select>
    </div>
    <div class="body" v-if="personnelList.length">
      <div v-for="(item, i) in personnelList" :key="item.id + i">
        <img :src="item.headImgUrl" alt="">
        {{item.nickName}}
      </div>
    </div>
    <div class="body" v-else>
      暂时没有数据
    </div>
  </el-dialog>
</template>

<script>
  import copyUrl from 'utils/copyUrl'
  import Request from 'utils/request'

  export default {
    data () {
      return {
        copyUrl,
        userId: '',
        inviteHost: '',
        page: 1,
        pageSize: 10,
        personnels: [],
        personnelList: [],
        loading: false,
        showDialog: this.show
      }
    },
    props: {
      show: {
        type: Boolean
      }
    },
    watch: {
      show (bool) {
        this.showDialog = bool
        this.getList()
        this.getInviteCode()
      }
    },
    methods: {
      onDialogClose () {
        this.$emit('toggleDialog', false)
      },
      getList () {
        Request.post({
          url: 'users/sysRecommend/selectBeInvites',
          data: {},
          done: (res) => {
            if (res.resultCode === 1) {
              this.personnelList = res.dtoList
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      getInviteCode () {
        Request.post({
          url: '/users/sysRecommend/recommend',
          data: {
            source: 0,
            initiator: 2
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.inviteHost = `${location.origin}/invite/${res.inviteCode}`
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      searchPersonnel (query) {
        this.page = 1
        this.pageSize = 10
        Request.post({
          url: 'users/sysRecommend/invitesByCondition',
          data: {
            pageNum: this.page,
            pageSize: this.pageSize,
            condition: query
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.personnels = res.pageInfo.list
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      }
    }
  }
</script>
