@import '../../../assets/styles/color';
.batch-page {
  padding: 20px;
  background: #fff;
  overflow: hidden;
  min-height: 500px;
  .batch-left {
    float: left;
    width: 320px;
    .batch-add {
      width: 320px;
    }
    .batch-search {
      margin: 10px 0;
      .el-select {
        .el-input {
          width: 110px;
        }
      }
      .el-input {
        width: 200px;
      }
    }
    .batch-list-item {
      cursor: pointer;
      height: 35px;
      line-height: 35px;
      padding-left: 10px;
      border-top: 1px dashed #ddd;
      &:first-child {
        border-top: none
      }
      &.title {
        padding-left: 7px;
        background: @bgColor;
        border-left: 3px solid @mainColor;
      }
      &.creat {
        width: 100%;
        background: @bgColor;
      }
      &.active {
        color: @tagRedColor;
      }
    }
  }
  .batch-right {
    float: left;
    width: 820px;
    margin-left: 20px;
    .batch-search {
      padding-bottom: 15px;
      border-bottom: 1px solid #ddd;
      .el-select {
        .el-input {
          width: 110px;
        }
      }
      .el-input {
        width: 200px;
      }
    }
    .batch-table {
      .batch-table-text {
        text-align: center;
        padding: 50px 0;
      }
      .batch-table-item {
        padding: 15px 0 0;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
        .batch-item {
          float: left;
          width: 500px;
          height: 60px;
          .title {
            font-weight: bold;
          }
          .status {
            padding: 0 10px;
            color: @blueColor;
            &.red {
              color: @redColor
            }
            &.green {
              color: @greenColor
            }
          }
          .time {
            color: @font666;
          }
        }
        .batch-menu {
          float: left;
          width: 320px;
          line-height: 50px;
          text-align: right;
          span {
            cursor: pointer;
            color: @mainColor;
            padding: 0 5px;
          }
        }
      }
      .batch-table-list {
        background: @bgColor;
        .policy-add {
          cursor: pointer;
          display: block;
          padding: 10px 0;
          font-size: 18px;
          color: @font666;
          text-align: center;
          background: #eee;
          border-bottom: none;
          span {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 22px;
            font-size: 24px;
            border-radius: 5px;
            border: 2px solid @font999;
          }
        }
        li {
          padding: 20px 0;
          margin: 0 20px;
          border-top: 1px dashed #ddd;
          &:first-child {
            border-top: none;
          }
          .policy-txt {
            float: left;
            width: 460px;
            color: @font666;
            .title {
              font-size: 14px;
              color: #000;
            }
            .tag {
              display: inline-block;
              margin: 5px 5px 0 0;
              padding: 0px 5px;
              font-size: 12px;
              color: @font666;
              background: @mainbgColor;
              border-radius: 4px;
              // border: 1px dashed @mainColor;
            }
          }
          .policy-price {
            float: left;
            width: 200px;
            color: @font666;
            .price {
              font-size: 18px;
              color: @mainColor;
            }
          }
          .policy-menu {
            float: left;
            width: 120px;
            text-align: right;
            line-height: 50px;
            span, a {
              cursor: pointer;
              color: @mainColor;
              padding: 0 5px;
            }
          }
        }
      }
    }
  }
  .batch-search {
    width: 100%;
    .el-input__inner {
      height: 35px;
      line-height: 35px;
    }
    .el-select {
      float: left;
      margin-right: 10px;
    }
  }
  .el-input__suffix {
    cursor: pointer;
    line-height: 35px;
  }
  .dialog-form {
    .el-row {
      line-height: 40px;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
        padding-top: 20px;
        text-align: center;
      }
    }
    .el-select {
      width: 100%;
    }
  }
}
.delcode {
  float: right;
  color: #ff4400;
}
.rewrite{
  float: right;
  color: @mainColor;
  margin-right: 10px;
}
.backBoxStyle {
  width: 110px;
  text-align: center;
}