<style lang="less">
  @import "./index.less";
</style>

<template>
<div class="batch-page">
  <div class="batch-left">
    <el-button class="batch-add main-btn" @click="showCreateBatch = true" :disabled="this.$getStorage('roles').indexOf('G103') < 0">新增批次</el-button>
    <div class="batch-search">
      <el-select 
        placeholder="保险公司"
        v-model="jobNoPage.insCompanyCode">
        <el-option
          v-for="(val, key) in insCompanys"
          :key="key"
          :label="val"
          :value="key">
        </el-option>
      </el-select>
      <el-input placeholder="输入工号或描述搜索" v-model="jobNoPage.search">
        <i slot="suffix" class="el-icon-search"></i>
      </el-input>
    </div>
    <div class="batch-list">
      <div class="batch-list-item title">全部</div>
      <div class="batch-list-item"
        :class="{active: jobId === item.id}" 
        v-for="item of jobNoList" :key="item.id" 
        @click="getBatchs(item.id)">{{insCompanys[item.insCompanyCode]}}-{{item.jobNumberId}}{{item.operNme || '业务员'}}<span v-if="item.remark">({{item.remark}})</span>
        <span @click.stop="delcode(item.id)" class="delcode" v-if='isSub'>删除</span>
        <span @click.stop="upJobNo(item)" class="rewrite" v-privilege="'G101'">修改</span>
        </div>
      <div class="batch-list-item creat">
        <span class="el-dropdown-link" @click="creatJobNo(1)" v-privilege="'G101'">
          添加保险公司工号
        </span>
        <span class="el-dropdown-link" @click="creatJobNo(3)" v-privilege="'G101'">
          添加特殊人保工号
        </span>
      </div>
    </div>
  </div>
  <div class="batch-right">
    <div class="batch-search">
      <el-select 
        placeholder="批次状态"
        v-model="batchPage.status"
        @change="getBatchStatus">
        <el-option
          v-for="(val, key) in batchStatus"
          :key="key"
          :label="val"
          :value="key">
        </el-option>
      </el-select>
      <el-input placeholder="输入政策ID或备注查询" v-model="batchPage.search">
        <i slot="suffix" class="el-icon-search"></i>
      </el-input>
    </div>
    <ul class="batch-table" v-if="batchList.length">
      <li v-for="item of batchList" :key="item.no" class="batch-table-item">
        <div class="batch-item">
          <span class="title">{{insCompanys[item.insCompanyCode]}}-{{item.jobNumberId}}({{item.remark}})</span> <span class="status">{{batchStatus[item.status]}}</span> <span class="time">{{item.startDay}}</span>-<span class="time">{{item.endDay}}</span>
          <br>
          -{{insCompanys[item.insCompanyCode]}}奖励政策
        </div>
        <div class="batch-menu">
          <span @click="upBatchStatus(item, 2)" v-if="['1', '3'].indexOf(item.status) > -1">发布</span>
          <span @click="upBatchStatus(item, 3)" v-if="item.status === '2'">下线</span>
          <span @click="editBatch(item)" v-privilege="'G103'">编辑</span>
          <span @click="copyBatch(item)">复制</span>
          <span @click="delBatch(item)" v-if='isSub'>删除</span>
          <span v-if="item.showList" @click="item.showList = false">收起<i class="el-icon-arrow-up"></i></span>
          <span v-else @click="item.showList = true">展开<i class="el-icon-arrow-down"></i></span>
        </div>
        <div class="clearfix"></div>
        <ul class="batch-table-list" v-if="item.showList">
          <li v-for="(el, i) of item.insPolicyDTOS" :key="el.id + i">
            <div class="policy-txt">
              政策ID：{{el.id}}
              <div class="title">
                <span>出险{{getBusiness(el, 'AccidentCount', '次', '次数不限')}}</span>
                <span v-if="el.minPrice || el.maxPrice">、购置价{{getBusiness(el, 'Price', '万', '不限', (item) => { return parseInt(item / 10000) })}}</span>
                <span v-if="el.minVehicleYear || el.maxVehicleYear">、车龄{{getBusiness(el, 'VehicleYear', '年', '不限')}}</span>
                <span v-if="el.minSeats || el.maxSeats">、{{getBusiness(el, 'Seats', '座', '座位不限')}}</span>
                <span v-if="insTypeArr[el.insTypes]">、{{insTypeArr[el.insTypes]}}</span>
                <span v-else>、险种类型不限</span>
              </div>
              <div class="tag-box">
                <span class="tag" v-for="(item, i) of (el.tar ? el.tar.split(',') : [])" :key="i">{{item}}</span>
              </div>
            </div>
            <div class="policy-price">
              <span>
                保险推广费
                <tooltip :item="el">
                  <div class="price">{{toNum(el.trafficRate)+(toNum(el.coinTrafficRate)*10)}}%+{{toNum(el.businessRate)+(toNum(el.coinBusinessRate)*10)}}%<span>+{{toNum(el.vehicleTaxRate)+toNum(el.coinVehicleTaxRate)*10}}%</span></div>
                </tooltip>
              </span>
            </div>
            <div class="policy-menu">
              <router-link :to="`/policy/edit/${el.id}`" v-privilege="'G102'">修改</router-link>
              <router-link :to="`/policy/copy/${el.id}`">复制</router-link>
              <a @click="delPolicy(el)" v-if='isSub'>删除</a>
            </div>
            <div class="clearfix"></div>
          </li>
          <router-link class="policy-add" :to="`/policy/apply/${item.id}`" v-privilege="'G102'">
            <span>+</span> 添加新政策
          </router-link>
        </ul>
      </li>
    </ul>
    <ul class="batch-table" v-else>
      <li class="batch-table-text">
        <el-button class="batch-add main-btn" @click="showCreateBatch = true" :disabled="this.$getStorage('roles').indexOf('G103') < 0">新增批次</el-button>
      </li>
    </ul>
  </div>
  <create-batch v-model="batchForm" :show="showCreateBatch" :jobNo="jobNoList"></create-batch>
  <create-job-no :show="showCreateJobNo" :createStatus="createStatus" :upDataForm="upDataForm"></create-job-no>
  <renbaoCreate v-if="showJdy" :createStatus="createStatus" :upDataForm="upDataForm"></renbaoCreate> 
</div>
</template>

<script>
  import Request from 'utils/request'
  import insCompanys from 'types/insCompanyCode'
  import vehicleCode from 'types/vehiclePropertyCode'
  import promotionType from 'types/promotionType'

  import CreateBatch from './model/createBatch'
  import CreateJobNo from './model/createJobNo'
  import renbaoCreate from './model/renbaoCreate'

  import tooltip from 'components/public/tooltip'

  export default {
    data () {
      return {
        vehicleCode,
        insCompanys,
        promotionType,
        insCityCode: this.$getStorage('youjia_citys'),
        showCreateBatch: false,
        showCreateJobNo: false,
        showJdy: false,
        createStatus: 1,
        jobId: false,
        insTypeArr: {'100': '', '1': '单交强', '2': '交商同保', '3': '单商业'},
        batchStatus: {0: '全部批次', 1: '编辑中', 2: '已发布', 3: '已下线', 4: '已过期'},
        batchList: [],
        batchForm: {},
        upDataForm: {},
        batchPage: {
          search: '',
          status: '0',
          num: 0,
          size: 10,
          total: 0
        },
        jobNoList: [],
        jobNoPage: {
          search: '',
          insCompanyCode: '9801'
        },
        jobNoForm: {
          insCompanyCode: '9801'
        },
        isSub: +this.$getCookie('_youjia_category') === 1
      }
    },
    components: {
      CreateBatch,
      CreateJobNo,
      renbaoCreate,
      tooltip
    },
    mounted () {
      this.onReady()
    },
    methods: {
      toNum: (num) => {
        return Number(num || 0)
      },
      onReady () {
        Request.post({
          url: '/order/busBasedata/list',
          done: (res) => {
            if (res.resultCode === 1) {
              const list = res.data
              this.jobNoList = list
              this.getBatchs(list[0].id)
            }
          }
        })
      },
      getBusiness (item, field, unit, tips, func) {
        const min = func ? func(item['min' + field]) : item['min' + field]
        const max = func ? func(item['max' + field]) : item['max' + field]
        if (min && max) {
          return `${min}-${max}${unit}`
        } else if (max) {
          return `${max}${unit}以下`
        } else if (min) {
          return `${min}${unit}以上`
        } else {
          if (field === 'AccidentCount') {
            tips = '次数0'
          }
          return tips || '不限'
        }
      },
      getSeats (item) {
        if (item.maxSeats > 1) {
          return item.maxSeats + '座以下/'
        } else if (item.minSeats) {
          return item.minSeats + '座以上/'
        } else {
          return ''
        }
      },
      // 获取吨位数
      getTonnages (item) {
        if (item.maxVehicleTonnages) {
          return item.maxVehicleTonnages + '吨以下'
        } else if (item.minVehicleTonnages) {
          return item.minVehicleTonnages + '吨以上'
        } else {
          return '不限吨位'
        }
      },
      // 获取保单业务类型
      getBusinessType (type) {
        const business = {1: '新保', 2: '续保', 3: '转保', 4: '旧车首年(平安专用)', 100: '不限业务类型'}
        const arr = type.split(',')
        if (arr) {
          let newArr = []
          arr.forEach(el => {
            newArr.push(business[el])
          })
          return newArr.join('、')
        } else {
          return business[type]
        }
      },
      getBatchStatus (val) {
        this.getBatchs(this.jobId, val)
      },
      getBatchs (id, status) {
        this.jobId = id
        const form = this.batchPage
        Request.post({
          url: '/policy/batchs/page',
          data: {
            pageNum: form.num,
            pageSize: form.size,
            dto: {
              jobId: id,
              status: status
            }
          },
          done: (res) => {
            if (res.resultCode === 1) {
              const list = res.pageInfo.list
              const total = res.pageInfo.total
              let Dlist = list.reverse()
              Dlist.forEach((el, i) => {
                el.showList = !i
              })
              this.batchList = Dlist
              this.batchPage.total = total
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      upBatchStatus (item, status) {
        if (status === 3) {
          this.delRules(item, this.upBatch, status)
        } else {
          this.upBatch(item, status)
        }
      },
      upBatch (item, status) {
        Request.post({
          url: '/policy/batchs/updateStatus',
          data: {id: item.id, status},
          done: (res) => {
            this.loading && this.loading.close()
            this.$alert('更新状态成功')
            item.status = status + ''
            if (+status === 2) {
              this.addRules(item, this.upBatch, status)
            }
          }
        })
      },
      delBatch (item) {
        this.$confirm('是否删除该批次', {
          done: () => {
            this.delRules(item, (item) => {
              Request.post({
                url: '/policy/batchs/delete',
                data: {
                  id: item.id,
                  status: item.status
                },
                done (res) {
                  window.location.reload()
                }
              })
            })
          }
        })
      },
      delcode (item) {
        this.$confirm('是否删除该出单工号', {
          done: () => {
            Request.post({
              url: '/order/busBasedata/delete',
              data: {
                id: item
              },
              done (res) {
                location.reload()
              }
            })
          }
        })
      },
      copyBatch (item) {
        this.$confirm('功能暂未开放')
      },
      editBatch (item) {
        this.showCreateBatch = true
        this.batchForm = item
      },
      delPolicy (item) {
        this.$confirm('是否删除该政策', {
          done: () => {
            this.delRules(item, () => {
              Request.post({
                url: '/policy/insPolicys/delete',
                data: {
                  id: item.id,
                  status: item.status
                },
                done: () => {
                  window.location.reload()
                }
              })
            })
          }
        })
      },
      addRules (item, callback, status) {
        // this.loading = this.$loading({text: '正在创建规则', background: 'rgba(0,0,0,0.5)'})
        Request.post({
          url: '/policy/insPolicys/getPolicysToRule',
          data: {
            batchId: item.id
          },
          done: (res) => {
            // callback && callback(item, status)
          },
          fail: (err) => {
            console.log(err)
          }
        })
      },
      delRules (item, callback, status) {
        this.loading = this.$loading({text: '正在删除规则', background: 'rgba(0,0,0,0.5)'})
        Request.post({
          url: '/policy/insPolicys/delRules',
          data: {
            batchId: item.id
          },
          done: (res) => {
            callback && callback(item, status)
          },
          fail: (err) => {
            console.log(err)
          }
        })
      },
      modifyShowFun (num, item) {
        this.showCreateJobNo = num === 1 || num === 2
        if (num === 4 || num === 2) {
          item.password = '******'
          item = JSON.parse(JSON.stringify(item))
          this.upDataForm = item
        }
        this.showJdy = num === 3 || num === 4
        this.createStatus = num
      },
      creatJobNo (command) {
        this.upDataForm = {}
        this.modifyShowFun(command)
      },
      upJobNo (data) {
        let isJdy = data.insCompanyCode === '9801' && data.channel === 1
        this.modifyShowFun(isJdy ? 4 : 2, data)
      }
    }
  }
</script>
