<template>
  <div class="remit">
    <div class="title">
      &nbsp;&nbsp;&nbsp;交易管理/打款/上传打款模板
    </div>
    <div class="detail">
      <div class="left">
        <span>账户余额：&nbsp;<span class="text">{{accountAmount}}</span>元</span>
      </div>
      <div class="right">
        <span>本月完成打款&nbsp;<span class="text">{{remitCount}}</span>笔</span>
        |
        <span>本月总支出&nbsp;￥<span class="text">{{totalExpend}}</span>元</span>
      </div>
    </div>
    <div class="step-bar">
      <step-bar :active="active"></step-bar>
    </div>
    <div class="introduce">
      <p>1.点击此处<a :href="templateUrl" class="download">下载模板</a></p>
      <p>2.批次名称格式建议为『商户名称+日期+序号』，例如：XX商户-20190409-01</p>
      <p>3.温馨提示：批次名称重复，将不能上传成功</p>
    </div>
    <div class="upload">
      <span>上传文件&nbsp;&nbsp;</span>
      <el-upload
        class="upload-inner"
        :action="`${NO_API_PREFIX}/zuul/api/account/upayUploadAndLock/parseExcel?batchName=${batchName}`"
        :headers="upHeaders"
        :on-change="exceed"
        :auto-upload="false"
        ref="upload"
        :file-list="fileList"
        :on-success="success"
        :on-error="error"
        :show-file-list=false
        :before-upload="beforeUp">
        <el-button style="height: 25px;padding:0 15px;" size="mini" type="primary"> <i class="iconfont icon-upload"></i> </el-button>
        <span>{{this.fileList.length ? this.fileList[0].name : ''}}</span>
      </el-upload>
      <span v-if="isUpSucc">
        <span style="vertical-align:middle;" class="upload-success">上传成功</span>
        <i style="font-size:20px; vertical-align:middle;color: #f90;" class="iconfont icon-chenggong"></i>
      </span>
      </br>
      <div class="file-name">
        <span>批次名称&nbsp;&nbsp;</span>
        <el-input v-model="batchName" placeholder="请输入批次名称" style="display:inline-block; width:300px;"></el-input>
      </div>
      <el-button style="margin:15px 0 0 70px;" type="primary" size="small" @click="sureUp">确认上传</el-button>
      <!-- <el-button class="btn_upload" size="small" @click="upload" type="primary">上传</el-button> -->
    </div>
  </div>
</template>

<script>
  import stepBar from 'pages/upay/components/step-bar'
  import Request from 'utils/request'
  import {NO_API_PREFIX} from 'configs'
  export default {
    data () {
      return {
        accountAmount: 0,
        remitCount: 0,
        active: 1,
        fileList: [],
        totalExpend: 0,
        NO_API_PREFIX,
        isUpSucc: false,
        batchName: '',
        templateUrl: 'https://oss-img.u-bx.com/print/%E5%95%86%E6%88%B7%E5%90%8D%E7%A7%B0-%E6%97%A5%E6%9C%9F-%E6%89%B9%E6%AC%A1%E5%8F%B7.xlsx'
      }
    },
    mounted () {
      this.query()
    },
    components: {
      stepBar
    },
    computed: {
      upHeaders () {
        return {
          'Authorization': this.$getCookie('_youjia_token')
        }
      }
    },
    methods: {
      // 赋值fileList
      exceed (file) {
        this.fileList = [file]
      },
      // 查询账户信息
      query () {
        Request.get({
          url: 'account/upayUploadAndLock/getAccountInfo',
          data: {},
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.data
              this.accountAmount = data.amount
              this.totalExpend = data.totalExpend
              this.remitCount = data.paySuccessCount
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      },
      error (res) {
        console.log(res)
      },
      success (res) {
        if (res.resultCode === 1) {
          this.$confirm('上传成功', {
            showFailBtn: false,
            title: '上传',
            done: () => {
              this.$router.push(`/upay/trade/remit/lock?batchName=${res.data.batchName}`)
            }
          })
          // this.isUpSucc = true
        } else if (res.resultCode === 3) {
          this.$confirm(res.message, {
            showFailBtn: true,
            title: '提示',
            done: () => {
              this.$router.push(`/upay/trade/remit/lock?batchName=${res.data.batchName}`)
            },
            fail: () => {
              Request.post({
                url: '/account/upayUploadAndLock/cancelUpayBatchAndOrder',
                data: {
                  batchName: this.batchName,
                  delFlag: 0
                },
                done: (res) => {
                  window.location.reload()
                },
                fail: (err) => {
                  this.$alert(err, 'error')
                  setTimeout(() => {
                    window.location.reload()
                  }, 1000)
                }
              })
            }
          })
        } else if (res.resultCode === 4) {
          this.$confirm(res.message, {
            showFailBtn: true,
            title: '提示',
            done: () => {
              window.location.reload()
            },
            fail: () => {
              window.location.reload()
            }
          })
        } else {
          this.$alert(res.message, 'error')
          setTimeout(() => {
            window.location.reload()
          }, 1000)
        }
      },
      sureUp () {
        if (this.batchName === '') {
          this.$alert('请输入批次名称', 'error')
          return
        }
        this.$refs.upload.submit()
        // Request.post({
        //   url: 'xxx',
        //   data: {
        //   },
        //   done: (res) => {
        //     if (res.resultCode === 1) {
        //       this.$router.push(`/upay/trade/remit/lock?batchName=${res.data.batchName}`)
        //     } else {
        //       this.$confirm(res.message, {
        //         type: 'warning',
        //         title: '提示'
        //       })
        //     }
        //   },
        //   fail: (err) => {
        //     this.$alert(err, 'error')
        //   }
        // })
      },
      beforeUp (e) {
        let arr = e.name.split('.')
        if (!(arr[arr.length - 1] === 'xls' || arr[arr.length - 1] === 'xlsx')) {
          this.$alert('文件类型不正确', 'error')
          return false
        }
      }
    }
  }
</script>

<style lang="less">
@import './index';
</style>