.remit{
  .title{
    background-color: #fff;
    line-height:56px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }
  .detail{
    font-size: 16px;
    background-color: #fff;
    padding: 0 15px;
    line-height: 56px;
    overflow: hidden;
    .text{
      color: #ff9900;
    }
    .left{
      float: left;
    }
    .right{
      float: right;
    }
  }
  .step-bar{
    margin-top: 15px;
    background-color: #fff;
    padding: 15px 15px;
  }
  .introduce{
    margin-top: 15px;
    padding: 15px 0 15px 15px;
    background-color: #fff;
    .download{
      color: #ff9900;
    }
  }
  .upload{
    margin-top: 15px;
    padding: 15px 0 15px 15px;
    background-color: #fff;
    .el-upload-list{
      width: 500px;
    }
    .btn_upload{
      margin-top: 15px;
    }
    .upload-inner{
      display: inline-block;
      width: 600px;
    }
    .file-name{
      margin-top: 15px;
    }
  }
}