@import '../../../assets/styles/color';
.user-setting {
  padding: 20px;
  .setting-item {
    height: 80px;
    width: 100%;
    border-bottom: 1px dashed @lineColor;
    img {
      width: 80px;
    }
    .icon-yonghu {
      line-height: 80px;
      font-size: 50px;
      color: @font666;
    }
    .label {
      line-height: 80px;
      float: left;
      font-size: 18px;
      font-weight: bold;
      width: 100px;
    }
    .input {
      line-height: 40px;
      margin: 20px 0;
      float: left;
      width: 780px;
      .el-input {
        width: 200px;
      }
      .el-button {
        float: right;
      }
    }
  }
  .el-dialog {
    width: 400px;
    .el-button {
      width: 100%;
      color: #fff;
      border-color: @mainColor;
      background-color: @mainColor;
    }
    .el-input-group__append {
      .el-button {
        color: @mainColor;
        border: none;
        background-color: inherit;
        display: flex;        
      }
    }
  }
  .my-form {
    position: relative;
    .mobile-input {
      padding-right: 80px;
    }
    .get-verify{
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 14px;
      color: @mainColor;
      cursor: pointer;
    }
  }
}