<template>
  <div class="wallet-bank">
    <HeadTitle title="我的银行卡"> <router-link to="/account/wallet">返回</router-link> </HeadTitle>
    <ul>
      <li class="wallet-bank-item" v-for="item of bankList" :key="item.id">
        <div class="bank-name">{{item.bank}}<a href="javascript:;" class="bank-del" @click="delBank(item.bankId)">删除</a></div>
        <div class="bank-number">{{item.bankNo}}</div>
        <!-- <div class="bank-user">{{item.cardholderName}}</div> -->
      </li>
      <li class="wallet-bank-item wallet-bank-caret" @click="showCaretBank = true"> <div class="plus">+</div> 添加银行卡</li>
    </ul>
    <caret-bank :show="showCaretBank" @toggleDialog="onReady"></caret-bank>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import HeadTitle from 'components/head-title'
  import caretBank from '../model/caretBank'

  export default {
    data () {
      return {
        showCaretBank: false,
        bankList: []
      }
    },
    components: {
      caretBank,
      HeadTitle
    },
    created () {
      this.onReady()
    },
    methods: {
      onReady () {
        this.showCaretBank = false
        Request.post({
          url: `/account/bank/queryCards`,
          done: (res) => {
            if (res.resultCode === 1) {
              this.bankList = res.data || []
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      delBank (id) {
        // Request.post({
        //   url: `/users/bankNo/deleteBankNoInfos`,
        //   data: {bankId: id},
        //   done: (res) => {
        //     if (res.resultCode === 1) {
        //       this.$alert('删除银行卡成功')
        //     } else {
        //       this.$alert(res.message, 'error')
        //     }
        //   }
        // })
      }
    }
  }
</script>
