<template>
  <div class="wallet-box">
    <div class="wallet-head">
      <div class="wallet wallet-item">
        <div class="wallet-item-title">账户余额</div>
        <div class="wallet-item-box">
          <div class="price">{{securityAmount}}</div>
          <!-- <a class="btn" href="javascript:;" @click="showPassword = !showPassword">充值</a> 
          <router-link to="/account/wallet/withdraw">提现</router-link> -->
        </div>
      </div>
      <div class="bank-card wallet-item">
        <div class="wallet-item-title">我的银行卡</div>
        <div class="wallet-item-box">
          还未绑定银行卡
          <!-- 已绑定<span class="price">{{bank_total}}</span>张银行卡 
          <router-link to="/account/wallet/bank">管理</router-link> -->
        </div>
      </div>
    </div>
    <!-- <div class="wallet-table" style="padding: 10px 20px;">
      收支明细
      <el-table 
        :row-class-name="tableRowClassName"
        :data="tableData">
        <el-table-column
          prop="createTime"
          label="时间"
          width="150"
          align="center">
          <template slot-scope="o">
            {{$dateFormat(o.row.createTime * 1000, 'yyyy-MM-dd hh:ss')}}
          </template>
        </el-table-column>
        <el-table-column
          prop="trxType"
          label="收/支"
          width="150"
          align="center">
          <template slot-scope="o">
            {{['收入', '支出', '冻结', '解冻'][o.row.trxType - 1]}}
          </template>
        </el-table-column>
        <el-table-column
          prop="amount"
          label="交易金额"
          width="150"
          align="center">
        </el-table-column>
        <el-table-column
          prop="accountAmount"
          label="余额"
          width="150"
          align="center">
        </el-table-column>
        <el-table-column
          prop="remark"
          label="交易说明"
          align="center">
        </el-table-column>
      </el-table>
      <el-pagination
        v-if="totalSize"
        @current-change="getPaymentDetail"
        :current-page="page"
        :page-size="10"
        layout="prev, pager, next, total"
        :total="totalSize">
      </el-pagination>
    </div> -->
    <div class="filter-bar">
      <el-date-picker
        v-model="dateRange"
        type="daterange"
        @change="getList"
        :picker-options="pickerSelect"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
      <el-select v-model="type" placeholder="请选择类型" @change="getList" clearable>
        <el-option
          v-for="(item, index) in selectData"
          :key="index"
          :label="item.type"
          :value="item.typeCode">
        </el-option>
      </el-select>
  </div>
      <div style="padding:0 10px 10px 10px;margin-top:10px">
        <el-table
        :data="tableData"
        border
        style="width: 100%">
        <el-table-column
          prop="createTime"
          label="时间"
          align="center"
          min-width="180px">
          <template slot-scope="data">
          {{time(data.row.createTime * 1000, 'yyyy-MM-dd hh:mm:ss')}}
        </template>
        </el-table-column>
        <el-table-column
          prop="busType"
          label="业务类型"
          align="center"
          min-width="180px">
          <template slot-scope="data">
          {{statusDispose(data.row.busType)}}
        </template>
        </el-table-column>
        <el-table-column
          prop="trafficNum"
          label="业务编号"
          align="center"
          min-width="220px">
        </el-table-column>
        <el-table-column
          prop="trxType"
          label="收/支"
          align="center"
          min-width="100px">
          <template slot-scope="data">
          {{data.row.trxType === 1 ? '收入' : '支出'}}
        </template>
        </el-table-column>
        <el-table-column
          prop="amount"
          label="交易金额"
          align="center"
          min-width="100px">
        </el-table-column>
        <el-table-column
          prop="securityAmount"
          label="余额"
          align="center"
          min-width="150px">
        </el-table-column>
      </el-table>
      <Pages :total="totalSize" :pageSize="pageSize"  @changePages="changePages" style="text-align:center;background-color:#fff;padding:10px 0;margin-top:15px;"></Pages>
      </div>
    <el-dialog
      class="modifyPassword animateFast"
      title="修改密码"
      :visible.sync="showPassword">
      <el-form v-model="formPassword">
        <el-form-item>
          <el-input placeholder="验证码" v-model="formPassword.smsCode">
            <el-button v-if="countNum === 0" slot="append" @click="getCode(user.mobile)">获取验证码</el-button>
            <el-button v-else slot="append">{{countNum}}秒后重新获取</el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入支付密码" v-model="formPassword.password" type="password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请再次输入支付密码" v-model="formPassword.password2" type="password"></el-input>
        </el-form-item>
        <el-button @click="modifyPayPassword('Password')" :loading="showLoading">修改</el-button>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import Pages from 'components/public/pages'
  export default {
    data () {
      return {
        tableData: [],
        showLoading: false,
        showPassword: false,
        formPassword: {},
        countNum: 0,
        freeze_amount: 0,
        count_total: 0,
        bank_total: 0,
        page: 1,
        totalSize: 0,
        pageSize: 10,
        borrowAmount: 0,
        securityAmount: 0,
        type: '',
        dateRange: [],
        selectData: [
          {
            typeCode: 3,
            type: '线下充值'
          }, {
            typeCode: 7,
            type: '红包购买'
          }, {
            typeCode: 8,
            type: '红包退回'
          }, {
            typeCode: 9,
            type: 'U付款'
          }, {
            typeCode: 11,
            type: '保单基础返佣'
          }, {
            typeCode: 13,
            type: '保单U币返佣'
          }, {
            typeCode: 12,
            type: '保单手续费'
          }, {
            typeCode: 15,
            type: 'U付款手续费'
          }
        ],
        pickerSelect: {
          disabledDate (time) {
            return time.getTime() > Date.now()
          },
          onPick: ({ maxDate, minDate }) => {
            if (!maxDate) return
            this.dateRange = [minDate, maxDate]
          }
        },
        time: this.$dateFormat
      }
    },
    created () {
      this.weekDate()
      this.getBalance()
      this.getList()
    },
    components: {
      Pages
    },
    methods: {
      statusDispose (status) {
        // 1.线下充值 2.U付款 10保单返佣 20U币返佣 30平台手续费 40红包购买 50红包退回
        if (status === 3) {
          return '线下充值'
        } else if (status === 9) {
          return 'U付款'
        } else if (status === 11) {
          return '保单基础返佣'
        } else if (status === 13) {
          return '保单U币返佣'
        } else if (status === 12) {
          return '保单手续费'
        } else if (status === 7) {
          return '红包购买'
        } else if (status === 8) {
          return '红包退回'
        } else if (status === 15) {
          return 'U付款手续费'
        }
      },
      tableRowClassName ({row, rowIndex}) {
        const type = row.trxType
        return type === 1 || type === 4 ? 'green' : 'red'
      },
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.getList()
      },
      getBalance () {
        Request.get({
          url: `/account/selectAccount/2`,
          done: (res) => {
            if (res.resultCode === 1) {
              const data = res.data[0]
              this.count_total = data.amount
              this.borrowAmount = data.borrowAmount
              this.securityAmount = data.securityAmount
              // this.getPaymentDetail()
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      weekDate () {
        let date = Date.now()
        this.$set(this.dateRange, 1, date)
        this.$set(this.dateRange, 0, date - 604800000)
      },
      getList () {
        Request.post({
          url: `/account/bussinessPaymentDetail`,
          data: {
            startTime: this.$dateFormat(this.dateRange[0], 'yyyy-MM-dd hh:mm:ss'),
            endTime: this.$dateFormat(this.dateRange[1], 'yyyy-MM-dd 23:59:59'),
            pageStart: this.page,
            pageSize: this.pageSize,
            type: this.type
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.tableData = res.data
              this.totalSize = res.totalSize
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      }
      // getPaymentDetail (page) {
      //   Request.post({
      //     url: `account/paymentDetail`,
      //     data: {
      //       type: 2,
      //       currentPage: page || this.page,
      //       pageSize: 10
      //     },
      //     done: (res) => {
      //       if (res.resultCode === 1) {
      //         this.tableData = res.data
      //         this.totalSize = res.totalSize
      //       } else {
      //         this.$alert(res.message, 'error')
      //       }
      //     }
      //   })
      // }
    }
  }
</script>
