@import '../../../assets/styles/color';
.user-right { 
  padding: 0;
}
.wallet-box {
  .title-head {
    a {
      margin-right: 10px;
      color: @mainColor;
      float: right;
    }
  }
  .wallet-head {
    width: 100%;
    padding: 20px;
    border-top: 5px solid @mainColor;
    border-bottom: 10px solid @bgColor;
    overflow: hidden;
    .wallet-item {
      float: left;
      width: 250px;
      height: 60px;
      padding-left: 30px;
      border-left: 1px solid #eee;
      &:first-child {
        width: 400px;
        border-left: none;
        padding-left: 0;
        .wallet-item-box {
          .price {
            float: left;
            text-align: left;
            line-height: 30px;
            padding-top: 10px;
            font-size: 28px;
            font-weight: bold;
            width: 230px;
          }
          .freeze {
            display: block;
            font-size: 14px;
            font-weight: none;
            line-height: 20px;
            color: @font999;
            white-space: nowrap;
          }
          text-align: right;
        }
      }
    }
    .wallet-item-title {
      color: #999;
    }
    .wallet-item-box {
      line-height: 50px;
      font-size: 16px;
      .price {
        font-size: 20px;
        color: @mainColor;
      }
      a {
        color: @mainColor;
        padding: 10px 25px;
        &.btn {
          color: #fff;
          background: @mainColor;
        }
      }
    }
  }
  .filter-bar {
    padding: 5px 10px;
    border-bottom: 10px solid @bgColor;
  }
  .wallet-bank {
    padding: 20px;
    overflow: auto;
    ul {
      overflow: hidden;
    }
    .wallet-bank-item {
      float: left;
      width: 240px;
      height: 135px;
      margin: 20px;
      padding: 15px;
      background: @bgColor;
      line-height: 40px;
      color: @mainColor;
      font-size: 16px;
      border-radius: 3px;
      .bank-name {
        font-size: 20px;
      }
      .bank-del {
        float: right;
        font-size: 14px;
        color: @font999;
      }
      .bank-number {
        margin-top: 25px;
      }
    }
    .wallet-bank-caret { 
      cursor: pointer;
      color: @mainColor;
      text-align: center;
      .plus {
        line-height: 60px;
        font-size: 50px;
      }
    }
  }
  .withdraw {
    padding: 20px;
    .balance {
      margin: 10px 0;
      padding: 15px;
      font-size: 16px;
      background: @bgColor;
      span {
        font-size: 20px;
        color: @mainColor
      }
    }
    .withdraw-form {
      .el-input { 
        width: 300px;
      }
      .el-select .el-input {
        width: 500px;
      }
      .add-bank {
        cursor: pointer;
        width: 300px;
        height: 40px;
        line-height: 40px;
        margin-top: 10px;
        text-align: center;
        color: @mainColor;
        border-radius: 3px;
        border: 1px solid @mainColor;
      }
    }
    .withdraw-btn {
      width: 300px;
      height: 40px;
      font-size: 18px;
      color: #fff;
      border: 1px solid @mainColor;
      background: @mainColor;
    }
  }
  .el-dialog {
    width: 400px;
    .el-button {
      width: 100%;
      color: #fff;
      border-color: @mainColor;
      background-color: @mainColor;
    }
    .el-input-group__append {
      .el-button {
        color: @mainColor;
        border: none;
        background-color: inherit;
        display: flex;        
      }
    }
  }
}