<template>
  <div class="withdraw">
    <HeadTitle title="提现"><router-link to="/account/wallet">返回</router-link></HeadTitle>
    <div class="balance">钱包余额：<span>{{balance}}</span> 元</div>
    <el-form class="withdraw-form" ref="form" :model="form" label-width="100px">
      <el-form-item label="选择银行卡：">
        <el-select v-model="form.bank" placeholder="请选择银行卡" @change="changeBank">
          <el-option 
            v-for="item of bankList"
            :key="item.bankNo"
            :label="`${item.bankName} ${item.bankNo} ${item.userName}`" 
            :value="item.bankNo">
          </el-option>
        </el-select>
        <br>
        <div class="add-bank" @click="showCaretBank = true">+添加银行卡</div>
      </el-form-item>
      <el-form-item label="提现金额：">            
        <el-input :placeholder="`最多可提现${balance}元`"></el-input>  
      </el-form-item>
      <el-form-item label="支付密码：">            
        <!-- <el-input placeholder="支付密码"></el-input> -->
        <pay-password v-model="form.password"></pay-password>
      </el-form-item>
      <el-form-item>            
        <el-button class="withdraw-btn" :loading="showLoading">提现</el-button>
      </el-form-item>
    </el-form>
    <caret-bank :show="showCaretBank" @toggleDialog="onReady"></caret-bank>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import HeadTitle from 'components/head-title'
  import caretBank from '../model/caretBank'
  import payPassword from '../model/payPassword'

  export default {
    data () {
      return {
        form: {
          bank: ''
        },
        balance: 100,
        numbers: '',
        bankList: [],
        showLoading: false,
        showCaretBank: false
      }
    },
    components: {
      caretBank,
      payPassword,
      HeadTitle
    },
    created () {
      this.onReady()
    },
    methods: {
      onReady () {
        this.showCaretBank = false
        Request.get({
          url: `/account/bank/queryCards`,
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.dto
              this.bankList = data
              this.form.bank = data[data.length - 1].bankNo
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      changeBank (val) {
        this.form.bank = val
      }
    }
  }
</script>
