<style lang="less">
    .dioStyle{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      z-index: 999;
      overflow: hidden;
      .imgbigbox{
        .imgbig {
        width: 650px;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        box-shadow: 0 1px 10px rgb(200,200,200,.8);
        z-index: 999;
        }
        .imgshows{
          display: block
        }
        .selBox{
          width: 100%;
          height: 50px;
          background: rgba(0, 0, 0, .7);
          position: fixed;
          top: 0px;
          z-index: 1000;
          .btnBox {
            float: right;
            height: 50px;
            width: 170px;
            margin-right: 120px;
            padding-top: 12px;
            z-index: 1111;
            .adjustment{
              display: block;
              width: 30px;
              font-size: 26px;
              margin-right: 10px;
              cursor: pointer;
              color: #ffffff;
              z-index: 1000;
              float: left;
            }
            .btnSel {
              display: block;
              float: left;
              font-size: 26px;
              color: #ffffff;
              z-index: 1000;
              margin-right: 10px;
              cursor: pointer;
            }
            .dio_close {
              display: block;
              width: 30px;
              font-size: 26px;
              cursor: pointer;
              color: #ffffff;
              z-index: 1000;
              float: left;
              font-weight: bolder;
            }
          }
          .tittle {
            float: left;
            height: 50px;
            margin-left: 10px;
            .character{
              height: 50px;
              line-height: 50px;
              color: #ffffff;
              font-size: 16px;
            }
            .pageSize {
              height: 50px;
              line-height: 50px;
              color: #ffffff;
              font-size: 20px;
              margin-left: 5px;
            }
          }
        }
      }
      .rightBox{
        float: right;
        width: 120px;
        height: 100%;
        background: rgba(0, 0, 0, 1);
        position: relative;
        z-index: 1001;
        overflow: auto;
        .imgsmlbox{
        width: 100px;
        height: 64px;
        margin-top: 10px;
        border: 1px solid #a89e9e;
        opacity: 0.5;
        margin-left: 8px;
          img{
            width: 100%;
            height: 100%;
            opacity: 0.5;
          }
        }
        .imgactive{
         opacity: 1;
        }
      }

    }
   
</style>
<template>
    <div class="dioStyle"
      @mousewheel="wheelBig"
    >
      <div class="imgbigbox">
        <div class="selBox">
          <div class="tittle">
            <span class="character">当前图片:</span><span class="pageSize">{{imgpage}}/{{imgsize}}</span>
          </div>
          <div class="btnBox">
            <el-tooltip class="item" effect="dark" content="上一张" placement="bottom">
              <span class="btnSel iconfont icon-zuobian" @click="preSel"></span>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="下一张" placement="bottom">
                <span class="btnSel iconfont icon-youbian" @click="nextSel"></span>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="旋转" placement="bottom">
              <span @click="adjustment" class="adjustment iconfont icon-icon_rotate"></span>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="关闭" placement="bottom">
             <span @click="dio_close" class="dio_close iconfont icon-iconddgb"></span>
            </el-tooltip>
          </div>
        </div>
        <img
        v-for="(item, index) in imgList" 
        :key="index" 
        v-img-src="item.src"
        alt="" 
        class="imgbig"
        v-if="+item.id === +sel && item.src"
        @mousedown="start"
        @mouseup="stop"
        @mousemove="move"
        :style="style"
        draggable="false"
        >
        <img
        v-for="(item, index) in imgList" 
        :key="index" 
        v-img-src="item.url"
        alt="" 
        class="imgbig"
        v-if="+item.id === +sel && item.url"
        @mousedown="start"
        @mouseup="stop"
        @mousemove="move"
        :style="style"
        draggable="false"
        >
      </div>
      <div 
      class="rightBox"
      @mousewheel="stopmaopo"
      >
        <div class="imgsmlbox"
         v-for="(item, index) in imgList" 
         :key="index" 
         :class="{imgactive:item.id==current}"
         >
          <img v-img-src="item.src" alt="" @click="imgSelect(item,index)" v-if="item.src">
          <img v-img-src="item.url" alt="" @click="imgSelect(item,index)" v-else>
        </div>
      </div>
      <div>
      </div>
    </div>
</template>
<script>
export default {
  props: {
    dioImgBig: {
      type: Boolean
    },
    imgdata: {
      type: Object
    },
    imgList: {
      type: Array
    }
  },
  data () {
    return {
      dioshow: false,
      num: 0,
      proportion: 0,
      changesize: false,
      imgfirst: this.imgdata,
      current: 0,
      imgshows: true,
      sel: 0,
      imgsize: 0,
      imgpage: 0,
      imgsetwidth: 0,
      imgsetheight: 0,
      imgposition: 0,
      astrict: {
        count: 0,
        width: 200,
        height: 70
      },
      canDrag: false,
      x0: 0,
      y0: 0,
      x1: 0,
      y1: 0,
      style: null
    }
  },
  mounted () {
    this.ImgSize()
    this.initialize()
    this.imgNum()
  },
  watch: {
    dioImgBig (val) {
      this.dioshow = val
    }
  },
  methods: {
    dio_close () {
      this.$parent.dioImgBig = false
      document.querySelector('body').style.overflow = 'auto'
    },
    // 旋转
    adjustment (event) {
      this.num = this.num + 90
      this.style = {
        width: this.imgsetwidth + 'px',
        height: this.imgsetheight + 'px',
        transform: `rotate(${this.num}deg)`
      }
      // document.querySelector('.imgbig').style.cssText = `transform:rotate(${this.num}deg)`
    },
    // 图片大小初始化
    ImgSize () {
      let imgheight, bodyheight, bodychangeHeight, imgWidth, changeWidth, imgchangeheight
      this.$nextTick(() => {
        imgheight = document.querySelector('.imgbig').clientHeight
        bodyheight = document.querySelector('body').clientHeight
        imgWidth = document.querySelector('.imgbig').clientWidth
        bodychangeHeight = bodyheight - 150
        this.proportion = bodychangeHeight / imgheight
        changeWidth = imgWidth * this.proportion
        if (imgheight >= bodychangeHeight) {
          this.changesize = true
          if (changeWidth >= bodychangeHeight) {
            this.proportion = bodychangeHeight / imgWidth
            imgchangeheight = imgheight * this.proportion
            this.style = {
              width: bodychangeHeight + 'px',
              height: imgchangeheight + 'px'
            }
            this.imgsetwidth = bodychangeHeight
            this.imgsetheight = imgchangeheight
            return
          }
          this.style = {
            width: changeWidth + 'px',
            height: bodychangeHeight + 'px'
          }
          this.imgsetwidth = changeWidth
          this.imgsetheight = bodychangeHeight
          return
        }
        this.proportion = bodychangeHeight / imgWidth
        imgchangeheight = imgheight * this.proportion
        this.style = {
          width: bodychangeHeight + 'px',
          height: imgchangeheight + 'px'
        }
        this.imgsetwidth = bodychangeHeight
        this.imgsetheight = imgchangeheight
      })
    },
    // 图片选择
    imgSelect (item, index) {
      this.current = item.id
      this.imgpage = index + 1
      this.num = 0
      this.style = {
        left: 0,
        top: 0,
        bottom: 0,
        right: 0
      }
      this.imgList.forEach(ele => {
        if (ele.id === item.id) {
          this.sel = item.id
        }
      })
      this.ImgSize()
    },
    // 上一张图片
    preSel () {
      this.imgpage--
      this.num = 0
      if (this.imgpage < 1) {
        this.imgpage = this.imgList.length
      }
      this.style = {
        left: 0,
        top: 0,
        bottom: 0,
        right: 0
      }
      this.ImgSize()
      for (let i = 0; i < this.imgList.length; i++) {
        if (this.imgList[i].id === this.current) {
          if (i < 1) {
            i = this.imgList.length
          }
          this.sel = this.imgList[i - 1].id
          this.current = this.sel
          return
        }
      }
    },
    // 下一张图片
    nextSel () {
      this.imgpage++
      this.num = 0
      if (this.imgpage > this.imgList.length) {
        this.imgpage = 1
      }
      this.style = {
        left: 0,
        top: 0,
        bottom: 0,
        right: 0
      }
      this.ImgSize()
      for (let i = 0; i < this.imgList.length; i++) {
        if (this.imgList[i].id === this.current) {
          if (i + 1 >= this.imgList.length) {
            i = -1
          }
          this.sel = this.imgList[i + 1].id
          this.current = this.sel
          return
        }
      }
    },
    initialize () {
      this.sel = this.imgdata.id
      this.current = this.imgdata.id
    },
    // 图片放大
    imgMagnify () {
      let imgWidth, imgHeight, imgchangeheight, imgchangewidth
      imgWidth = document.querySelector('.imgbig').clientWidth
      imgHeight = document.querySelector('.imgbig').clientHeight
      // imgscrollHeight = document.querySelector('.imgbig').offsetTop
      // imgscrollwidth = document.querySelector('.imgbig').offsetLeft
      // console.log(this.astrict, imgscrollHeight, imgscrollwidth)
      // if (imgscrollHeight <= this.astrict.height || imgscrollwidth <= this.astrict.width) {
      //   this.$alert('图片无法再放大', 'warning')
      //   return
      // }
      imgchangeheight = imgHeight * 1.05
      imgchangewidth = imgWidth * 1.05
      this.style = {
        width: imgchangewidth + 'px',
        height: imgchangeheight + 'px',
        transform: `rotate(${this.num}deg)`

      }
    },
    // 图片缩小
    imgshrink () {
      let imgWidth, imgHeight, imgchangeheight, imgchangewidth
      imgWidth = document.querySelector('.imgbig').clientWidth
      imgHeight = document.querySelector('.imgbig').clientHeight
      if (this.imgsetwidth >= imgWidth) {
        // this.style = 'left:0;top:0;bottom:0;right:0;'
        this.style = {
          left: 0,
          top: 0,
          bottom: 0,
          right: 0,
          width: this.imgsetwidth,
          height: this.imgsetheight,
          transform: `rotate(${this.num}deg)`
        }
        return
      }
      imgchangeheight = imgHeight / 1.05
      imgchangewidth = imgWidth / 1.05
      this.style = {
        width: imgchangewidth + 'px',
        height: imgchangeheight + 'px',
        transform: `rotate(${this.num}deg)`
      }
    },
    imgNum () {
      this.imgsize = this.imgList.length
      for (let i = 0; i < this.imgsize; i++) {
        if (this.imgList[i].id === this.imgdata.id) {
          this.imgpage = i + 1
        }
      }
    },
    // 拖拽
    start (e) {
      if (e.button === 0) {
        this.canDrag = true
        this.x0 = e.clientX
        this.y0 = e.clientY
      }
    },
    stop (e) {
      this.canDrag = false
    },
    move (e) {
      if (this.canDrag === true) {
        this.x1 = e.clientX
        this.y1 = e.clientY
        let x = this.x1 - this.x0
        let y = this.y1 - this.y0
        let img = document.querySelector('.imgbig')
        this.style = {
          width: this.imgsetwidth,
          left: img.offsetLeft + x + 'px',
          top: img.offsetTop + y + 'px',
          margin: 0,
          right: '',
          bottom: '',
          height: this.imgsetheight,
          transform: `rotate(${this.num}deg)`
        }
        this.x0 = this.x1
        this.y0 = this.y1
      }
    },
    // 鼠标滚动放大
    wheelBig (e) {
      let isMac = (navigator.platform === 'Mac68K') || (navigator.platform === 'MacPPC') || (navigator.platform === 'Macintosh') || (navigator.platform === 'MacIntel')
      if (isMac) {
        if (e.deltaY >= 2) {
          this.imgMagnify()
        }
        if (e.deltaY <= -2) {
          this.imgshrink()
        }
      } else {
        if (e.deltaY >= 2) {
          this.imgshrink()
        }
        if (e.deltaY <= -2) {
          this.imgMagnify()
        }
      }
    },
    stopmaopo (e) {
      e.stopPropagation()
    }
  }
}
</script>

