<template>
  <el-pagination
    layout="total, prev, pager, next, jumper, sizes"
    :page-size="pageSize || 10"
    :page-sizes="pageSizes || [10, 20, 50, 100]"
    :total="total"
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange">
  </el-pagination>
</template>

<script>
  export default {
    props: {
      total: {
        required: true
      },
      pageSize: {
        type: Number
      },
      pageSizes: {
        type: Array
      },
      listType: {
        type: String
      }
    },
    data () {
      return {
        limit: '',
        page: ''
      }
    },
    mounted () {
    },
    methods: {
      backTop () {
        let top = document.body.scrollTop
        let timer = setInterval(() => {
          if (top >= 0) {
            top -= 10
          } else {
            clearInterval(timer)
            top = 0
          }
          document.body.scrollTop = top
          document.documentElement.scrollTop = top
        }, 50)
      },
      handleSizeChange (limit) {
        this.limit = limit
        this.$emit('changePages', this.page, this.limit)
        this.backTop()
      },
      handleCurrentChange (page) {
        this.page = page
        this.$emit('changePages', page, this.limit)
        this.backTop()
      }
    }
  }
</script>
