<template>
  <el-tooltip placement="top" popper-class='test'>
    <div slot="content" width="300">
      基础费用: <b>{{item.trafficRate}}%</b>
              <b>/</b>
              <b>{{item.businessRate}}%</b><br />
      U币奖励: <b>{{((item.coinTrafficRate || 0)*10)}}%</b>
              <b>/</b>
              <b>{{((item.coinBusinessRate || 0)*10)}}%</b><br/>
      U币附加奖励: <b>{{Number(item.coinVehicleTaxRate || 0)*10}}%</b></div>
    <span>
      <slot></slot>
    </span>
  </el-tooltip>
</template>

<script>
  export default {
    props: ['item']
  }
</script>

<style lang='less'>
  .el-tooltip__popper[x-placement^=top] .popper__arrow{
      border-top-color: rgba(137,137,137,0.7);
    }
    .el-tooltip__popper[x-placement^=top] .popper__arrow:after {
      border-top-color: rgba(137,137,137,0.7);;
    }
    .test{
      background: rgba(137,137,137,0.7) !important;
      line-height: 25px;
      }
</style>