<style lang="less">
  #cutImgDialog {
    width: 100%;
    min-height: 100%;
    .el-dialog--small {
      width: 100%;
      height: 100%;
      top: 0 !important;
      margin-bottom: 0;
    }

    .cutImgBox {
      position:relative;
      width: 100%;
      height: 500px;
      overflow: hidden;
      border: 1px solid #ddd;
      margin: 0 auto;
      background-color: rgba(241, 242, 243, 0.8);
      img {
        width: inherit;
        height: inherit;
        display: block;
      }

      .cut-img-shade {
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #eee;
      }
      .cut-img-shade-back {
        position: absolute;
        background-color: rgba(241, 242, 243, 0.8);
      }
      .scale {
        width: 14px;
        position: absolute;
        top: 20px;
        right: 50px;

        .scale-height {
          width: 4px;
          height: 100px;
          margin: 0 auto;
          background-color: #ddd;
          position: relative;

          .scale-point {
            position: absolute;
            top:0;
            left: -3px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: #fff;
          }
        }
      }
    }
    .cutImgDone{
      margin:20px auto;
      img {
        border: 1px solid #ddd;
      }
    }
    .saveBox {
      clear: both;
      text-align: center;
    }
  }

</style>
<template>
<el-dialog title="裁剪上传" :visible.sync="show" id="cutImgDialog">
  <div>
    裁剪比例：{{width}} * {{height}}
  </div>

  <div class="cutImgDone" v-if="cutDoneImageUrl" :style="`width:${width}px;height:${height}px;`">
    <img v-img-src="cutDoneImageUrl">
  </div>
  <div class="cutImgBox" v-else>
    <img ref="image" :src="cutImageUrl" alt="" :style="`width:${imgWidth}px;height:${imgHeight}px;top:${top}px;left:${left}px`">
    <div :style="`width:${imgWidth}px;height:${imgHeight}px;position:absolute;top:0;left:0`">
      <div ref="shade" class="cut-img-shade" :style="`width:${width}px;height:${height}px;top:${top}px;left:${left}px`"></div>
      <div class="cut-img-shade-back cut-img-shade-top" :style="`width:${imgWidth}px;height:${top}px;top:0px;left:0px`"></div>
      <div class="cut-img-shade-back cut-img-shade-right" :style="`width:${imgWidth - width - left}px;height:${height}px;top:${top}px;right:0px`"></div>
      <div class="cut-img-shade-back cut-img-shade-bottom" :style="`width:${imgWidth}px;height:${imgHeight - height - top}px;bottom:0px;left:0px`"></div>
      <div class="cut-img-shade-back cut-img-shade-left" :style="`width:${left}px;height:${height}px;top:${top}px;left:0px`"></div>
    </div>
    <div class="scale">
      {{(20 - imgSizeScale) * 5}}%
      <a href="javascript:;" class="el-icon-plus" @click="scrollImg(true)"></a>
      <div class="scale-height">
        <span class="scale-point" :style="{top: imgSizeScale * 5 + 'px'}"></span>
      </div>
      <a href="javascript:;" class="el-icon-minus" @click="scrollImg(false)"></a>
    </div>
  </div>

  <canvas ref="canvas" :width="width" :height="height" style="display:none"></canvas>
  <div class="saveBox">
    <el-button class="save-btn" type="primary" @click="saveBtn" v-if="cutDoneImageUrl">保存</el-button>
    <el-button class="save-btn" type="primary" @click="loadCanvans" v-else>下一步</el-button>
  </div>
</el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        mouseX: 0,
        mouseY: 0,
        top: 0,
        left: 0,
        scale: 0,
        width: this.cutImg[0],
        height: this.cutImg[1],
        imgWidth: 0,
        imgHeight: 0,
        show: false,
        mouseup: true,
        cutStatus: 0,
        cutImageUrl: '',
        cutDoneImageUrl: '',
        imgSizeScale: 0,
        QiniuForm: {}
      }
    },
    mounted () {
      this.isIE = navigator.userAgent.indexOf('Trident') > -1
      if (this.isIE) {
        this.show = false
      }
    },
    props: {
      cutImg: {
        type: Array
      }
    },
    watch: {
      show (val) {
        if (val === false) {
          this.top = 0
          this.left = 0
          this.cutStatus = 2
          this.imgSizeScale = 0
          this.cutDoneImageUrl = ''
        }
      }
    },
    methods: {
      saveBtn () {
        let data = window.atob(this.cutDoneImageUrl.split(',')[1])
        var ia = new window.Uint8Array(data.length)
        for (var i = 0; i < data.length; i++) {
          ia[i] = data.charCodeAt(i)
        }
        this.blob = new window.Blob([ia], {type: 'image/jpeg'})
        this.cutStatus = 1
      },
      onPromise (file) {
        this.loadImg(file)
        this.cutStatus = 0
        this.Promise = new Promise((resolve, reject) => {
          let t = setInterval(() => {
            if (this.cutStatus === 1) {
              clearInterval(t)
              let files = {}
              if (!this.isIE) {
                files = new File([this.blob], file.name, {type: 'image/jpeg'})
                files.uid = file.uid
              }
              resolve(files)
              this.show = false
            }
            if (this.cutStatus === 2) {
              reject(new Error(111))
            }
          }, 100)
        })
        return this.Promise
      },
      loadImg (file) {
        let reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onloadend = () => {
          // 通过 reader.result 来访问生成的 DataURL
          var url = reader.result
          this.cutImageUrl = url
          setTimeout(this.loadImgEvent, 0)
        }
      },
      loadImgEvent () {
        let img = this.$refs.image
        let shade = this.$refs.shade

        this.imgWidth = img.naturalWidth
        this.imgHeight = img.naturalHeight

        if (this.width > this.imgWidth || this.height > this.imgHeight) {
          this.$alert('图片太小了，换个大点的吧', 'error')
          this.show = false
          return false
        }

        shade.addEventListener('mousedown', e => {
          e.preventDefault()
          this.mouseup = false
          this.mouseX = e.clientX - this.left
          this.mouseY = e.clientY - this.top
        }, false)
        shade.addEventListener('mousemove', e => {
          e.preventDefault()
          if (this.mouseup) return
          this.moveFrames(e)
        }, false)
        shade.addEventListener('mouseout', e => {
          e.preventDefault()
          this.mouseup = true
          // that.loadCanvans(e)
        }, false)
        shade.addEventListener('mouseup', e => {
          e.preventDefault()
          this.mouseup = true
          // that.loadCanvans(e)
        }, false)
      },
      loadCanvans () {
        let ctx = this.$refs.canvas.getContext('2d')
        let image = this.$refs.image
        let nw = image.naturalWidth / this.imgWidth
        let nh = image.naturalHeight / this.imgHeight
        let x = this.left * nw
        let y = this.top * nh
        let w = this.width * nw
        let h = this.height * nh

        ctx.drawImage(image, x, y, w, h, 0, 0, this.width, this.height)
        this.cutDoneImageUrl = this.$refs.canvas.toDataURL()
      },
      moveFrames (e) {
        e.preventDefault()
        let x = (e.clientX || e.pageX) - this.mouseX
        let y = (e.clientY || e.pageY) - this.mouseY
        let imgLeft = this.imgWidth - this.width
        let imgTop = this.imgHeight - this.height

        x = x > imgLeft ? imgLeft : x < 0 ? 0 : x
        y = y > imgTop ? imgTop : y < 0 ? 0 : y

        this.top = y
        this.left = x
      },
      scrollImg (bool) {
        let img = this.$refs.image
        // let box = img.parentNode
        let scaleWidth = img.naturalWidth - this.width
        let scaleHeight = img.naturalHeight - this.height
        if (scaleWidth < scaleHeight) {
          scaleWidth = scaleWidth / 20
          scaleHeight = scaleWidth * (img.naturalHeight / img.naturalWidth)
        } else {
          scaleHeight = scaleHeight / 20
          scaleWidth = scaleHeight * (img.naturalWidth / img.naturalHeight)
        }

        if (bool) {
          if (this.imgSizeScale < 1) {
            this.$alert('图片放大到最大比例', 'error')
          } else {
            this.imgSizeScale -= 1
            this.imgWidth += scaleWidth
            this.imgHeight += scaleHeight
          }
        } else {
          if (this.imgSizeScale > 19) {
            this.$alert('图片缩放到最小比例', 'error')
          } else {
            this.imgSizeScale += 1
            this.imgWidth -= scaleWidth
            this.imgHeight -= scaleHeight
          }
        }
      }
    }
  }
</script>
