<style lang="less">
  .select-type-dialog .el-dialog {
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0!important;
  }
  .el-dialog__body {
    text-align: center;
  }
</style>

<template>
  <el-dialog
    class="select-type-dialog"
    title="选择类型"
    :visible.sync="show"
    width="30%">
    <el-select ref="selectBox" v-model="selectedValue" placeholder="请选择">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.label"
        :value="item.value"
        change="handleValueChange">
      </el-option>
    </el-select>
    <span slot="footer" class="dialog-footer">
      <el-button @click="show = false">取 消</el-button>
      <el-button type="primary" @click="handleConfirm">确 定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        show: false,
        selectedValue: '',
        options: [],
        success: false
      }
    },
    props: {
      types: {
        type: Object
      }
    },
    mounted () {
      Object.keys(this.types).forEach(key => {
        this.options.push({ label: this.types[key], value: key })
      })
    },
    methods: {
      onPromise () {
        return new Promise((resolve, reject) => {
          const that = this
          const timer = setInterval(() => {
            if (this.success && that.show) {
              that.show = false
              const temp = this.selectedValue
              this.selectedValue = ''
              clearInterval(timer)
              resolve(temp)
            }
            if (that.show === false) {
              clearInterval(timer)
            }
          }, 100)
        })
      },
      handleConfirm () {
        this.success = true
      }
    },
    watch: {
      show (value) {
        this.$parent.showLoading = value
      }
    }
  }
</script>
