<template>
  <main class="yj select-group">
    <i class="iconfont icon-ditu"></i>  
    <el-select
      v-model="city"
      filterable
      placeholder="选择投保城市"
      @change="changeCity">
      <el-option
        v-for="(item, key) in options"
        :key="key"
        :label="item.name"
        :value="item.code">
      </el-option>
    </el-select>
    &nbsp;
    <i class="iconfont icon-gongsixinxi"></i>  
    <el-select
      v-model="ins"
      placeholder="请选择保险公司"
      @change="changeIns">
      <el-option
        v-for="item in insArray"
        :key="item.code"
        :label="item.name"
        :value="item.code">
      </el-option>
    </el-select>
  </main>
</template>

<script>
  export default {
    data () {
      return {
        insArray: [],
        cityIndex: '',
        city: '',
        ins: ''
      }
    },
    props: {
      options: {
        type: Object
      },
      onSelected: {
        type: Function
      }
    },
    watch: {
      options (val) {
        this.changeOption(val)
      }
    },
    mounted () {
      this.changeOption(this.options)
    },
    methods: {
      changeOption (val) {
        this.insArray = val['00105001'].ins
        this.ins = val['00105001'].ins[0].code
        this.city = '00105001'
        this.onSelected(this.city, this.ins)
      },
      changeCity (code) {
        this.insArray = this.options[code].ins
        this.ins = this.insArray[0].code
        this.onSelected(this.city, this.ins)
      },
      changeIns (e) {
        this.onSelected(this.city, e)
      }
    }
  }
</script>
