<template>
<div class="youjia-upload">
  <el-upload
    ref="upload"
    :headers="upHeaders"
    :action="`${APP_REQUEST_PREFIX}${action || YoujiaUpUrl}`"
    :drag="drag"
    :accept="accept"
    :multiple="multiple"
    :show-file-list="showFileList"
    :before-upload="YoujiaGetKey"
    :on-change="handleStateChange"
    :on-success="YoujiaUpSuccess"
    :on-error="YoujiaError"
    :data="YoujiaForm">
    <div v-if="showLoading" class="el-loading-mask" style="background-color: rgba(0, 0, 0, 0.5);"><div class="el-loading-spinner"><i class="el-icon-loading"></i><p class="el-loading-text">文件上传中</p></div></div>
    <slot></slot>
    <div class="el-upload__tip" v-if="upTip">{{upTip}}</div>
  </el-upload>
  <youjia-cut ref="cutImg" v-if="cutImg" :cutImg="cutImg"></youjia-cut>
  <youjia-select-type ref="selectType" v-if="extendType" :types="types"></youjia-select-type>
</div>
</template>

<script>
  import idType from 'types/idType'
  import { APP_REQUEST_PREFIX } from 'configs'

  import YoujiaCut from './YJCutFull'
  import YoujiaSelectType from './YJSelectType'

  export default {
    data () {
      return {
        APP_REQUEST_PREFIX,
        show: false,
        showLoading: false,
        fileIndex: 0,
        files: [],
        YoujiaForm: {},
        YoujiaUpUrl: '/base/api/image/upload',
        isIE: window.navigator.userAgent.indexOf('Trident') > -1,
        upHeaders: {Authorization: this.$getCookie('_youjia_token')},
        shouldSelectTypeShow: false
      }
    },
    components: {
      YoujiaCut,
      YoujiaSelectType
    },
    props: {
      // 是否支持拖拽
      drag: {
        type: Boolean
      },
      // 上传的链接地址
      action: {
        type: String
      },
      // 上传组件所对应的form字段名
      formField: {},
      // 上传组件的提示信息
      upTip: {
        type: String
      },
      // 限制上传文件的类型
      accept: {
        type: String
      },
      // 上传成功后的回调函数
      callback: {
        type: Function
      },
      // 选择类型后的回调函数
      onSelectedType: {
        type: Function
      },
      // 限制上传文件的大小
      maximum: {
        type: String
      },
      // 是否支持多文件上传
      multiple: {
        type: Boolean
      },
      // 是否剪切图片
      cutImg: {
        type: Array
      },
      // 是否显示上传列表
      showFileList: {
        type: Boolean
      },
      // 选择类型
      extendType: {
        type: Boolean
      },
      // 默认类型
      types: {
        type: Object,
        default: () => idType
      },
      beforeUpload: {
        type: Function
      }
    },
    methods: {
      getMaximum () {
        let num = this.maximum || '20M'
        let k = 1024
        let m = k * k
        let g = k * k * k
        if (!num) return g * g
        let G = num.indexOf('G') > -1 || num.indexOf('g') > -1
        let M = num.indexOf('M') > -1 || num.indexOf('m') > -1
        let s = num.slice(0, num.length - 1)
        let size = G ? s * g : M ? s * m : s * k
        return size
      },
      handleStateChange (file, fileList) {
        file.status === 'ready' && this.fileIndex++
        if (file.status === 'ready' && this.cutImg && !this.isIE) {
          this.$refs.cutImg.show = true
          this.$refs.cutImg.file = file
        }
        if (file.status === 'ready' && this.extendType) {
          this.$refs.selectType.success = false
          this.$refs.selectType.show = true
        }
      },
      async YoujiaGetKey (file) {
        if (this.beforeUpload) {
          const isvalid = await this.beforeUpload()
          if (!isvalid) {
            return false
          }
        }
        this.showLoading = true
        let type = file.type.split('/')[1]
        if (!type || this.accept.indexOf(type) === -1) {
          this.$alert('请选择正确的文件', 'error')
          return false
        }
        if (!this.callback) {
          this.$alert('没有可用于接收上传文件的参数', 'error')
          return false
        }
        if (file.size > this.getMaximum()) {
          this.$alert(`文件大小不能超过${this.maximum || '20M'}`, 'error')
          return false
        }

        // 图片可以裁剪
        if (this.cutImg && !this.isIE) {
          return this.$refs.cutImg.onPromise(file)
        }
        // 图片可以有附加的类型
        if (this.extendType) {
          const selectValue = await this.$refs.selectType.onPromise()
          this.YoujiaForm['type'] = selectValue
          this.onSelectedType(selectValue)
        }

        return true
      },
      YoujiaUpSuccess (res, file, fileList) {
        this.showLoading = false
        let field = this.formField
        this.files.push({res, file, field})
        if (this.fileIndex === this.files.length) {
          let data = this.multiple ? this.files : {res, file, field}
          this.callback && this.callback(data)
          this.files = []
          this.fileIndex = 0
        }
      },
      YoujiaError (err, file, fileLis) {
        this.showLoading = false
        console.error('error', err)
        if (err.status === 401) {
          this.$clearCookie()
          window.location.href = '/user/login'
          return false
        }
      }
    }
  }
</script>
