<template>
  <div class="step-bg">
    <div class="step-box">
      <div class="policy-left" v-if="insPolicyId">
        <div class="title" v-if="policyDTO.useTypeCode">
          <span v-for="(item, i) of policyDTO.useTypeCode.split(',')" :key="i"><b v-if="i !== 0">、</b>{{vehicleCode[policyDTO.vehicleTypeCode][item]}}</span>
        </div>
        <div class="title" v-else>{{vehicleCode[1][101]}}</div>
        <div class="policy-tag">
          <span v-if="policyDTO.vehicleTypeCode === '1'" class="red">{{policyDTO.maxSeats}}座以下</span>
          <span v-if="policyDTO.vehicleTypeCode === '2'">{{getTonnages(policy)}}</span>
          <span class="blue" v-if="policy.businessTypes">{{getBusinessType(policy.businessTypes)}}</span>
          <span class="blue">出险{{policy.minAccidentCount}}-{{policy.maxAccidentCount}}次</span>
        </div>
      </div>
      <div class="policy-scale" v-if="insPolicyId">
        <span>推广费比例: </span>
        <tooltip :item="policy">
          <span v-if="policy.trafficRate"><b>{{toNum(policy.trafficRate) + (toNum(policy.coinTrafficRate)*10)}}</b>%</span><span v-if="policy.businessRate">+<b>{{toNum(policy.businessRate) + (toNum(policy.coinBusinessRate)*10)}}</b>%</span><span>+<b>{{toNum(policy.vehicleTaxRate)+toNum(policy.coinVehicleTaxRate)*10}}</b>%</span>
        </tooltip>
        <span class="iconfont icon-hongbao1" v-if="redPacket">{{redPacket.amount}}元</span>
      </div>
      <div class="policy-right">
        <div class="price-box">
          <div class="price-left">
            <span class="price-label">订单金额: </span>
            <span class="price-label">推广总费用: </span>
          </div>
          <div class="price-right">
            <span class="price"><b>{{totalCost}}</b> 元</span>
            <span class="price"><b>{{subNum(promotionFee + subNum(dto.coinAmount/10, 2), 2)}}</b> 元</span>
          </div>
        </div>
        <div class="btn-box" v-if="dto.status === 80">
          <router-link class="main-btn" :to="`/print/${dto.insOrderId}`">打印保单</router-link>
        </div>
        <div class="btn-box" v-if="dto.status === 60 && $route.name === 'verify'">
          <a href="javascript:" @click="modify" class="main-btn">修改政策</a>
          <a href="javascript:" @click="verify" class="main-btn" v-privilege="'E102'">确认结算</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import vehicleCode from 'types/vehiclePropertyCode'
  import tooltip from 'components/public/tooltip'

  export default {
    data () {
      return {
        subNum: this.$subNum,
        vehicleCode,
        policy: {},
        policyDTO: {},
        insPolicyId: '',
        totalCost: 0,
        promotionFee: 0,
        coinAmount: 0
      }
    },
    components: {
      tooltip
    },
    watch: {
      dto (data) {
        this.totalCost = data.totalCost
        this.promotionFee = data.promotionFee
        this.insPolicyId = data.insPolicyId
        this.coinAmount = data.coinAmount
        if (this.insPolicyId) {
          this.onReady()
        }
      }
    },
    props: {
      dto: {
        type: Object
      },
      redPacket: {}
    },
    mounted () {
    },
    methods: {
      toNum: (num) => {
        return Number(num || 0)
      },
      onReady () {
        Request.post({
          url: '/policy/insPolicys/queryById',
          data: {id: this.insPolicyId},
          done: (res) => {
            if (res.resultCode === 1) {
              const data = res.dtoList[0]
              this.policy = data
              this.policyDTO = data.insVehiclePolicyDTOs[0] || {}
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      getTonnages (item) {
        if (item.maxVehicleTonnages) {
          return item.maxVehicleTonnages + '吨以下'
        } else if (item.minVehicleTonnages) {
          return item.minVehicleTonnages + '吨以上'
        } else {
          return '不限吨位'
        }
      },
      getBusinessType (type) {
        const business = {1: '新保', 2: '续保', 3: '转保', 4: '旧车首年(平安专用)', 100: '不限业务'}
        const arr = type.split(',')
        if (arr) {
          let newArr = []
          arr.forEach(el => {
            newArr.push(business[el])
          })
          return newArr.join('、')
        } else {
          return business[type]
        }
      },
      verify () {
        this.$emit('verify', true, this.policy)
      },
      modify () {
        this.$emit('modify', true, this.policy)
      }
    }
  }
</script>
