<template>
    <div class="dioStyle">
      <span @click="closedio" class="dioclose iconfont icon-iconddgb"></span>
      <div class="iframeBox">
        <iframe v-for="(item, index) in srcs" :key="index" :src="item" frameborder="0" class="iframeStyle" :style="iframeStyle" v-show="!(hidden && index === 0)">
        </iframe>
      </div>
    </div>
</template>
<style lang="less">
  .dioStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1111;
    background: rgba(0, 0, 0, .5);
    overflow-y: auto;
    .dioclose {
      color: #fff;
      font-size: 40px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .iframeBox {
      width: 1200px;
      background: #efefef;
      position: relative;
      left: 50%;
      margin-left: -600px;
      .iframeStyle {
        width: 1200px;
        height: 1100px;
        &:first-child{
        height: 500px;
        }
      }
    }
  }
</style>

<script>
  export default {
    data () {
      return {
        dioshow: false,
        iframeStyle: {},
        hidden: false
      }
    },
    props: {
      srcs: {
        type: Array
      }
    },
    watch: {
    },
    mounted () {
      if (this.srcs[0] === this.srcs[1]) {
        this.hidden = true
        this.iframeStyle = {
          width: '1200px',
          height: '1100px'
        }
      }
      if (this.srcs.length === 1) {
        this.iframeStyle = {
          width: '1200px',
          height: '1100px'
        }
      }
    },
    methods: {
      closedio () {
        document.querySelector('body').style.overflow = 'auto'
        this.$parent.dioShows = false
      }
    }
  }
</script>
