<template>
  <el-dialog
    class="dialog animateFast"
    title="修改结算政策"
    @close="closeModify"
    width="800px"
    :visible.sync="showModify">
    <search @change="onReady"></search>
    <div class="home-policy tips" v-if="isEmptyObject(policys)">
      还没有该标的的政策，您可以切换标的！
    </div>
    <div class="home-policy" v-for="(val, key) of policys" :key="key" v-else>
      <div class="home-policy-header">
        <div class="home-policy-title">
          <div class="title">
            <span v-for="(code, i) of val[0].useTypeCode.split(',')" :key="code"><b v-if="i !== 0">、</b>{{vehiclePropertyCode[val[0].vehicleTypeCode][code]}}</span>
          </div>
        </div>
        <div class="home-policy-name">
          {{insCompanyCode[val[0].insCompanyCode]}}({{insCitys[val[0].city_code].name}})
        </div>
        <div class="clearfix"></div>
      </div>
      <ul class="home-policy-detail">
        <li v-for="(item, i) of val" :key="i">
          <div class="title">
            <span v-if="item.minAccidentCount || item.maxAccidentCount">{{item.minAccidentCount}}-{{item.maxAccidentCount}}次出险,</span> 
            <span v-else>不限出险,</span> 
            {{getCarPrice(item)}}
            <span v-if="item.vehicleTypeCode === '1'">{{item.maxSeats}}座以下,</span>
            <span v-if="item.vehicleTypeCode === '2'">{{getTonnages(item)}},</span>
            <span v-if="insTypeArr[item.insTypes]">{{insTypeArr[item.insTypes]}}</span>  
            <span v-else>业务类型不限</span>
            <div class="policy-tag">
              <span v-for="(item, i) of (item.tar ? item.tar.split(',') : [])" :key="i">{{item}}</span>
            </div>
          </div>
          <div class="name">{{item.partnerName}}</div>
          <tooltip :item="item">
            <div class="scale">
              <span v-if="item.insTypes !== '3'">交强<b>{{Number(item.trafficRate) + (Number(item.coinTrafficRate || 0)*10)}}</b><span>%</span></span>
              <span v-if="item.insTypes !== '1'">商业<b>{{Number(item.businessRate) + (Number(item.coinBusinessRate || 0)*10)}}</b><span>%</span></span>
              <span>附加<b>{{Number(item.vehicleTaxRate)+(Number(item.coinVehicleTaxRate || 0)*10)}}</b><span>%</span></span>
            </div>
          </tooltip>
          <div class="button"><el-radio v-model="policyId" :label="item.id"></el-radio></div>
        </li>
      </ul>
    </div>
    <div v-if="remark">
        不通过原因：{{remark}}
      </div>
    <div slot="footer" class="dialog-footer">
      <el-button class="main-btn" type="primary" @click="selectPolicy">选择该政策</el-button>
    </div>
  </el-dialog>
</template>

<script>
  import Request from 'utils/request'
  import search from 'components/search'
  import { isEmptyObject } from 'utils/regCheck'
  import {insCompanyCode, vehiclePropertyCode} from 'types'
  import tooltip from '../../../../components/public/tooltip'

  export default {
    data () {
      return {
        insCompanyCode,
        vehiclePropertyCode,
        isEmptyObject,
        insCitys: this.$getStorage('youjia_citys'),
        insTypeArr: {'100': '', '1': '单交强', '2': '交商同保', '3': '单商业'},
        policys: {},
        policyId: '',
        remark: '',
        showModify: this.show,
        showLoading: false
      }
    },
    watch: {
      show (val) {
        this.showModify = val
      }
    },
    props: {
      show: {
        type: Boolean
      },
      table: {
        type: Array
      },
      policy: {
        type: Object
      },
      dto: {
        type: Object
      }
    },
    mounted () {
    },
    components: {
      search,
      tooltip
    },
    methods: {
      closeModify () {
        this.$parent.showModify = false
      },
      onReady (cityCode, carTypeCode, carUseTypeCode, search) {
        Request.post({
          url: '/policy/insPolicys/selectPolicy',
          data: {
            status: 2,
            state: 1,
            slipCityCode: cityCode,
            vehicleTypeCode: carTypeCode,
            useTypeCode: carUseTypeCode,
            userId: this.$getCookie('_youjia_user_id')
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let list = res.dtoList
              let data = {}
              for (let i = 0; i < list.length; i++) {
                const el = list[i]
                const code = el.useTypeCode
                if (data[code]) {
                  data[code].push(el)
                } else {
                  data[code] = [el]
                }
                if (i === 0) {
                  this.showList = code
                }
              }
              this.policys = data
              this.getRuleResult()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.log(err)
          }
        })
      },
      getRuleResult () {
        Request.get({
          url: `/order/insVehicles/ruleResult/${this.dto.insOrderId}`,
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.data
              for (let i = 0; i < data.length; i++) {
                let el = data[i]
                if (el.isPass === 1 && !this.policyId) {
                  this.policyId = el.pId
                }
                if (el.isPass === 0) {
                  this.remark += `${el.pId}: ${el.reason}`
                }
              }
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.log(err)
          }
        })
      },
      getCarPrice (item) {
        const min = parseInt(item.minPrice / 10000)
        const max = parseInt(item.maxPrice / 10000)
        if (min && max) {
          return min + '-' + max + '万,'
        } else if (max) {
          return max + '万以下,'
        } else if (min) {
          return min + '万以上,'
        } else {
          return '不限车价,'
        }
      },
      getTonnages (item) {
        const min = item.minVehicleTonnages
        const max = item.maxVehicleTonnages
        if (min && max) {
          return min + '-' + max + '吨以下'
        } else if (max) {
          return max + '吨以下'
        } else if (min) {
          return min + '吨以上'
        } else {
          return '不限吨位'
        }
      },
      selectPolicy (item) {
        if (this.policyId === '') {
          this.$alert('请选择政策ID', 'error')
          return
        }
        Request.post({
          url: '/order/insVehicleOrders/changeCommissionPolicy',
          data: {
            orderId: this.dto.insOrderId,
            policyId: this.policyId
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('修改结算政策成功')
              setTimeout(() => {
                window.location.reload()
              }, 500)
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      }
    }
  }
</script>
