<template>
  <el-dialog
    class="dialog animateFast"
    title="确认推广费"
    @close="closeVerify"
    :visible.sync="showVerify">
    <div class="policy-scale">
      <span>推广费比例: </span>
      <tooltip :item='policy'>
        <span v-if="policy.trafficRate"><b>{{subNum(policy.trafficRate, 2) + (subNum(policy.coinTrafficRate, 2)*10)}}</b>%</span><span v-if="policy.businessRate">+<b>{{subNum(policy.businessRate, 2) + (subNum(policy.coinBusinessRate, 2)*10)}}</b>%</span><span>+<b>{{Number(policy.coinVehicleTaxRate || 0)*10}}</b>%</span>
      </tooltip>
      <span class="iconfont icon-hongbao1" v-if="redPacket" style="font-size: 18px; color: red;">{{redPacket.amount}}元</span>
    </div>
    <el-table :data="table" show-summary>
      <el-table-column
        prop="name"
        label="基础险种"
        align="center">
      </el-table-column>
      <el-table-column
        prop="cost"
        label="保费(元)"
        align="center">
      </el-table-column>
      <el-table-column
        prop="fee"
        label="基础推广费(元)"
        align="center">
      </el-table-column>
      <el-table-column
        prop="coin"
        label="U币奖励(个)"
        align="center">
      </el-table-column>
      <el-table-column
        prop="begin"
        label="起保日期"
        align="center">
      </el-table-column>
    </el-table>
    <div class='sum'>推广总费用 <span class="sum-color">{{subNum(dto.promotionFee + subNum(dto.coinAmount/10, 2), 2)}}</span> 元</div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="closeVerify">取消</el-button>
      <el-button class="main-btn" @click="clear">取消结算</el-button>
      <el-button class="main-btn" type="primary" @click="verify" :loading="showLoading">确认结算</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import Request from 'utils/request'
  import tooltip from 'components/public/tooltip'
  export default {
    data () {
      return {
        subNum: this.$subNum,
        showVerify: this.show,
        showLoading: false
      }
    },
    components: {
      tooltip
    },
    watch: {
      show (val) {
        this.showVerify = val
      }
    },
    props: {
      show: {
        type: Boolean
      },
      table: {
        type: Array
      },
      policy: {
        type: Object
      },
      dto: {
        type: Object
      },
      redPacket: {}
    },
    methods: {
      closeVerify () {
        this.$parent.showVerify = false
      },
      verify () {
        Request.post({
          url: '/order/insVehicleOrders/confirmCommission',
          data: {
            id: this.dto.insOrderId,
            confirmStatus: 1
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.updateRpPass()
              this.$alert('结算通过')
              this.$router.push('/order')
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      updateRpPass () {
        Request.post({
          url: 'redpacket/useRedPacket/updateRpPass',
          data: {
            orderId: this.dto.insOrderId
          }
        })
      },
      clear () {
        Request.post({
          url: '/order/insVehicleOrders/confirmCommission',
          data: {
            id: this.dto.insOrderId,
            confirmStatus: 0
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('取消结算')
              this.$router.push('/order')
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      }
    }
  }
</script>
<style lang="less">
.sum{
  text-align: center;
  line-height: 44px;
  font-weight: 800;
  border-radius: 5px;
  border-bottom:1px solid #ddd;
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  .sum-color{
    color: #ff9900;
  }
}
</style>

