<style lang="less">
  @import '../assets/styles/color';
  #error404 {
    display: flex;
    min-height: 600px;
    flex-direction: column;
    align-items: center;
    background: url(//oss-img.u-bx.com/images/home/404.png) no-repeat center;
    h3 {
      margin-top: 400px;
      font-size: 36px;
      color: #557594;
    }
    span {
      font-size: 20px;
      color: #9b9b9b;
    }
    a {
      color: @mainColor
    }
  }
</style>
<template>
  <div id="error404" :style="{height: height + 'px'}">
    <h3>The Page was not Found</h3>
    <span>您访问的页面不存在！<a href="/">返回首页</a></span>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        lists: [],
        height: 0
      }
    },
    mounted () {
      this.setHeight()
      window.onresize = () => {
        this.setHeight()
      }
    },
    methods: {
      setHeight () {
        this.height = window.innerHeight - 80
      },
      backPage () {
        window.history.back()
      }
    }
  }
</script>
