<style lang="less">
  .powerError {
    color: #333333;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    background: #ffffff;
    position: fixed;
    left: 0;
    .powerBox {
      width: 1200px;
      height: 700px;
      margin: 0 auto;
      position: relative;
      .powerTitle {
        color: #557594;
        font-size: 36px;
        position: absolute;
        bottom: 170px;
        left: 35%;
      }
      .powerTxt {
        color: #9b9b9b;
        font-size: 20px;
        bottom: 110px;
        position: absolute;
        left: 39%;
        span {
          color: #f90;
        }
      }
    }
  }
</style>
<template>
  <div class="powerError">
    <div class="powerBox">
      <img v-img-src="'//oss-img.u-bx.com/images/home/Jurisdiction.png'" alt="">
      <span class="powerTitle">抱歉，您没有访问权限</span>
      <div class="powerTxt">
        {{time}}s后自动跳转或<span @click="$router.push('/')" style="cursor: pointer;">点击</span>手动跳转
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      time: 5
    }
  },
  mounted () {
    this.changeTime()
  },
  methods: {
    changeTime () {
      let timer = setInterval(() => {
        this.time--
        if (this.time === 0) {
          clearInterval(timer)
          this.$router.push('/')
        }
      }, 1000)
    }
  }
}
</script>
