<style lang="less">
  @import '../assets/styles/color';
  #print {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    .ins-box {
      margin: 30px 0;
      .ins-box-title{
        font-size: 18px;
        padding: 5px 0;
      }
      a {
        color: @mainColor;
      }
      li {
        margin-bottom: 10px;
      }
    }
    .el-input {
      width: 180px;
      // color: #fff;
      // background: @mainColor;
      // border-color: @mainColor;
    }
    .el-button {
      color: #fff;
      background: @mainColor;
      border-color: @mainColor;
    }
  }
</style>
<template>
  <div id="print">
    <div class="ins-box" v-if="trafficDto.slipNo || trafficDto.insNo">
      <div class="ins-box-title">交强险:</div>
      <el-button @click="printLink(0, 0)" v-if="trafficDto.slipNo">打印交强险投保单</el-button>
      <el-button @click="printLink(1, 0)" v-if="trafficDto.insNo">打印交强险保单</el-button>
    </div>
    <div class="ins-box" v-if="businessDto.slipNo || businessDto.insNo">
      <div class="ins-box-title">商业险:</div>
      <el-button v-if="businessDto.slipNo" @click="printLink(0, 1)">打印商业险投保单</el-button>
      <el-button v-if="businessDto.insNo" @click="printLink(1, 1)">打印商业险保单</el-button>
    </div>
    <!-- 新加电子保单开始 -->
     <div class="ins-box" v-if="poilyList.length">
    <div class="ins-box-title">电子保单:</div>
      <ul>
        <li v-for="item in poilyList" :key="item.id"  v-show="item.pdfUrl">
          <a v-if="item.yjPdfUrl" v-policy-src="item.yjPdfUrl" target="_blank">{{item.vehicleLicenceNo}}-{{item.fname}} </a>
          <el-button v-else @click="downloadPolicy(item)" :loading="item.apply">{{item.vehicleLicenceNo}}-{{item.fname}} </el-button>
        </li>
      </ul>
    </div>
    <!-- 新加电子保单结束 -->    
    <!-- <div class="ins-box" v-if="poilyList.length">
      <div class="ins-box-title">电子保单:</div>
      <ul>
        <li v-for="item in poilyList" :key="item.id"  v-show="item.pdfUrl">
          <a v-if="item.yjPdfUrl" :href="`//${domain}/${item.yjPdfUrl}`" target="_blank" download>{{item.vehicleLicenceNo}}-{{item.fname}} </a>
          <el-button @click="downloadPolicy(item)" :loading="item.apply">{{item.vehicleLicenceNo}}-{{item.fname}}</el-button>
        </li>
      </ul>
    </div> -->
    <div class="ins-box" v-if="+insDto.insCompanyCode === 9850">
      <div class="ins-box-title">生成电子发票:</div>
      <el-input placeholder="交强批单号, 非必填" v-if="trafficDto.insNo" v-model="trafficDto.correctNo"></el-input>
      <el-input placeholder="商业批单号, 非必填" v-if="businessDto.insNo" v-model="businessDto.correctNo"></el-input>
      <el-button @click="creatInvoice">生成电子发票</el-button>
    </div>
    <div class="ins-box" v-if="+insDto.insCompanyCode === 9850">
      <div class="ins-box-title">生成批单支付链接:</div>
      <el-input placeholder="交强批单号" v-model="endorse.jqEndorseNo"></el-input>
      <el-input placeholder="商业批单号" v-model="endorse.syEndorseNo"></el-input>
      <el-input placeholder="金额" v-model="endorse.amount"></el-input>
      <el-input placeholder="批单备注" v-model="endorse.remark"></el-input>
      <el-button @click="endorsePayUrl">生成批单支付链接</el-button>
    </div>
    <el-dialog
      title="输入验证码"
      :visible.sync="dialogVisible"
      width="300px">
        <el-input v-model="code" style="width:250px" placeholder="验证码已发送,请输入验证码"></el-input>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="endorsePayUrl2">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import urlQuery from 'utils/urlQuery'
  // import {RegPhone} from 'utils/regCheck'
  export default {
    data () {
      return {
        domain: this.$PoilcyDomin,
        applyLoading: false,
        insDto: {},
        poilyList: [],
        // 交强险
        trafficDto: {},
        // 商业险
        businessDto: {},
        endorse: {},
        dialogVisible: false,
        code: ''
      }
    },
    mounted () {
      this.onReady()
    },
    methods: {
      onReady () {
        Request.post({
          url: `/order/insVehicleOrders/settleComplex`,
          data: {
            insOrderId: urlQuery.queryRouterLastOne()
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.dtoList[0]
              this.insDto = data
              this.transformTableData(data)
              this.getPolicyList()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      // getCode (mobile, type) {
      //   if (!RegPhone.test(mobile)) {
      //     this.$alert('手机号格式不正确', 'error')
      //     return
      //   }
      //   if (this.countNum > 0) return
      //   Request.post({
      //     url: `/users/sysUsers/sendSms`,
      //     data: {
      //       mobile: mobile,
      //       function: 1,
      //       smsCategory: 1,
      //       sendType: type
      //     },
      //     done: (res) => {
      //       if (res.resultCode === 1) {
      //         this.$alert('验证码发送成功')
      //         this.countNum = 60
      //         let timer = setInterval(() => {
      //           this.countNum -= 1
      //           if (this.countNum === 0) {
      //             clearInterval(timer)
      //           }
      //         }, 1000)
      //       } else {
      //         this.$alert(res.message, 'error')
      //       }
      //     }
      //   })
      // },
      creatInvoice () {
        const h = this.$createElement
        const jq = this.trafficDto
        const sy = this.businessDto
        let node = h('p', null, [
          h('span', null, `交强险保单号：${jq.insNo || '无'}`),
          h('br', null, null),
          h('span', null, `交强险批单号：${jq.correctNo || '无'}`),
          h('br', null, null),
          h('span', null, `商业险保单号：${sy.insNo || '无'}`),
          h('br', null, null),
          h('span', null, `商业险批单号：${sy.correctNo || '无'}`)
        ])
        this.$confirm(node, {
          title: '确认信息',
          dangerouslyUseHTMLString: true,
          done: (done) => {
            this.loading = this.$loading({
              text: '正在生成发票',
              background: 'rgba(0,0,0,.5)'
            })
            Request.post({
              url: `/order/insVehicleOrders/electronicInvoice`,
              data: {
                jqInsNo: jq.insNo,
                jqApprovalNo: jq.correctNo,
                syInsNo: sy.insNo,
                syApprovalNo: sy.correctNo,
                sendMsgFlag: 1,
                insOrderId: urlQuery.queryRouterLastOne()
              },
              done: (res) => {
                this.loading && this.loading.close()
                if (res.resultCode === 1) {
                  this.$alert('生成发票成功')
                  window.open(res.data.shortlink)
                } else {
                  this.$alert(res.message, 'error')
                }
              },
              fail: (err) => {
                console.error(err)
              }
            })
          }
        })
      },
      endorsePayUrl () {
        const e = this.endorse
        if (!e.jqEndorseNo && !e.syEndorseNo) {
          this.$alert('请输入交强或者商业批单号', 'error')
          return
        }
        if (!e.amount) {
          this.$alert('请输入金额', 'error')
          return
        }
        if (!e.remark) {
          this.$alert('请输入批单备注', 'error')
          return
        }
        e.insOrderId = urlQuery.queryRouterLastOne()
        Request.post({
          url: `/order/insVehicleOrders/endorsePayLink`,
          data: e,
          done: (res) => {
            if (res.resultCode === 200322) {
              this.dialogVisible = true
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      endorsePayUrl2 () {
        this.dialogVisible = false
        const h = this.$createElement
        const e = this.endorse
        if (!e.jqEndorseNo && !e.syEndorseNo) {
          this.$alert('请输入交强或者商业批单号', 'error')
          return
        }
        if (!e.amount) {
          this.$alert('请输入金额', 'error')
          return
        }
        if (!e.remark) {
          this.$alert('请输入批单备注', 'error')
          return
        }
        let node = h('p', null, [
          h('span', null, `交强险批单号：${e.jqEndorseNo || '无'}`),
          h('br', null, null),
          h('span', null, `商业险批单号：${e.syEndorseNo || '无'}`)
        ])
        e.insOrderId = urlQuery.queryRouterLastOne()
        this.$confirm(node, {
          title: '确认批单信息',
          done: (done) => {
            Request.post({
              url: `/order/insVehicleOrders/endorsePayLink`,
              data: Object.assign(e, {msgCode: this.code}),
              done: (res) => {
                if (res.resultCode === 1) {
                  this.$alert('生成批单支付链接成功')
                  window.open(res.data)
                } else {
                  this.$alert(res.message, 'error')
                }
              },
              fail: (err) => {
                console.error(err)
              }
            })
          }
        })
      },
      getPolicyList () {
        Request.post({
          url: `/order/insVehicleOrders/getElecPolicy`,
          data: {
            orderId: urlQuery.queryRouterLastOne()
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.dtoList
              for (let i = 0; i < data.length; i++) {
                const el = data[i]
                el.apply = false
              }
              this.poilyList = data
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      downloadPolicy (item) {
        item.apply = true
        Request.post({
          url: `order/insVehicleOrders/testElec`,
          data: { eid: item.id },
          done: (res) => {
            item.apply = false
            if (res.resultCode === 1) {
              this.openLink(item.pdfUrl)
            } else {
              this.$alert('电子保单生成中，请您5分钟之后再试', 'warning')
            }
          },
          fail: (err) => {
            item.apply = false
            console.error(err)
          }
        })
      },
      openLink (url) {
        let form = document.createElement('form')
        form.action = url
        form.target = '_blank'
        form.method = 'POST'
        document.body.appendChild(form)
        form.submit()
      },
      transformTableData (data) {
        for (let i = 0; i < data.itemDtoList.length; i++) {
          const el = data.itemDtoList[i]
          if (el.category === 1) {
            this.trafficDto = el
          } else {
            this.businessDto = el
          }
        }
      },
      printLink (type, insType) {
        let url = '/order/print/huahai/proposalUrl'
        let trafficDto = this.trafficDto
        let businessDto = this.businessDto
        let data = {
          cappNo: insType ? businessDto.slipNo : trafficDto.slipNo,
          cplyNo: insType ? businessDto.insNo : trafficDto.insNo,
          orderId: this.insDto.insOrderId
        }
        if (type) {
          url = 'order/print/huahai/insuranceUrl'
        }
        this.returnPrint(url, data)
      },
      returnPrint (url, data) {
        Request.post({
          url: url,
          data: data,
          done: (res) => {
            if (res.resultCode === 1) {
              window.open(res.data.url)
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      }
    }
  }
</script>
