<style lang="less">
  @import "./index.less";
</style>

<template>
      <div class="order-list-page" :style="{'min-height': height + 'px'}">
        <div class="endorBox">
          <div class="tittle">
          批单修改项:
            <div class="messageBox">
              <span class="companyCode">保险公司:</span><span class="companyCode">{{insCompanyCode[formData.insCompanyCode]}}</span><span class="vehivcalNo">车牌号:</span><span class="vehivcalNo">{{formData.vehicleLicenceNo}}</span>
            </div>
          </div>
          <el-row v-for="(item, index) in personChangeList" :key="index" class="midTitle">
            <el-col :span="4" class="smallTitle">
              {{endorCode[item.subType]}}:
            </el-col>
            <el-col :span="20" class="smallTitle">
            由 <span style="color:#f90">{{item.insOldValue}} </span> 改为 <span style="color:#f90">{{item.newValue}}</span>
            </el-col>
          </el-row>
          <el-row v-for="(item, index) in vhlInfoChangeList" :key="index + 30">
            <el-col :span="4" class="smallTitle">
              {{endorCode[item.subType]}}
            </el-col>
            <el-col :span="20" class="smallTitle">
            由 <span style="color:#f90">{{item.insOldValue}} </span> 改为 <span style="color:#f90">{{item.newValue}}</span>
            </el-col>
          </el-row>
          <el-row v-for="(item, index) in riskChangeList" :key="index + 40" v-show="item.subType < 800 || item.subType > 820">
            <el-col :span="4" class="smallTitle">
              {{endorCode[item.subType]}}
            </el-col>
            <el-col :span="20" class="smallTitle">
              {{item.insChangeValue}}
            <!-- 由 <span style="color:#f90">{{item.insOldValue}} </span> 改为 <span style="color:#f90">{{item.newValue}}</span> -->
            </el-col>
          </el-row>
          <el-row v-for="(item, index) in riskChangeList" :key="index + 10" v-show="item.subType > 800 && item.subType < 810">
            <el-col :span="4" class="smallTitle">
              交强险
            </el-col>
            <el-col :span="20" class="smallTitle">
              {{item.insChangeValue}}
            <!-- 由 <span style="color:#f90">{{item.insOldValue}} </span> 改为 <span style="color:#f90">{{item.newValue}}</span> -->
            </el-col>
          </el-row>
          <el-row v-for="(item, index) in riskChangeList" :key="index + 20" v-show="item.subType === 810">
            <el-col :span="4" class="smallTitle">
              商业险
            </el-col>
            <el-col :span="20" class="smallTitle">
               {{item.insChangeValue}}
            <!-- 由 <span style="color:#f90">{{item.insOldValue}} </span> 改为 <span style="color:#f90">{{item.newValue}}</span> -->
            </el-col>
          </el-row>
          <div>
            <div class="tittle imgBox" v-if="imgPhotoListShow">
              审核图片:
            </div>
            <ul class="upload-list">
                <li v-for="(item, i) in imgPhotoList" :class="{noMarginLeft: (i+1) % 4 === 0 }" :key="item.imageType" v-show="item.ishow">
                    <img v-if="item.src" v-img-src="item.src" alt="" @dblclick="imgBig(item)">
                    <span class="pos-bottom">{{item.imageName}}</span>
                </li>
            </ul>
          </div>
          <div class="subCompany" v-if="checkBoxShow && formData.status === 3">
            <el-button type="primary" @click="checkPass" :disabled="this.$getStorage('roles').indexOf('F102') < 0">保险公司审核通过</el-button>
            <el-button type="danger" @click="subBack" :disabled="this.$getStorage('roles').indexOf('F101') < 0">批单打回</el-button>
          </div>
          <el-row>
          </el-row>
          <el-row v-if="remarkShow" style="border-top: 1px solid #ddd">
              <el-col :span="8" style="padding-top: 20px">
                <el-input
                  type="textarea"
                  :autosize="{ minRows: 4, maxRows: 4}"
                  placeholder="请输入打回原因"
                  v-model="remark">
                </el-input>
              </el-col>
              <el-col :span="8" style="padding-top: 20px;">
                <el-button type="primary" @click="subBack(2)" style="margin-top:55px;margin-left:20px;">确认打回</el-button>
                <el-button @click="subBack(1)" style="margin-top:55px;margin-left:20px;">取消</el-button>
              </el-col>
            </el-row>
          <div v-if="endorListShow && formData.status === 3 && formData.status !== 6">
            <div class="tittle imgBox">
              批改项:
            </div>
            <div>
              <!-- 交强险批改内容 -->
              <el-row v-if="jqBoxShow">
                <el-col :span="4">
                  <span class="shuxian">|</span><span class="jqTitle">交强险:</span>
                </el-col>
                <el-col :span="20">
                  <el-row>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="jqForm.insCompanyEndorseApplyNo" placeholder="请输入保险公司批单申请号"></el-input>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="jqForm.insNewAmount" placeholder="请输入现保额"></el-input>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="jqForm.insChangeAmount" placeholder="请输入保额变化"></el-input>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="jqForm.insNewPrem" placeholder="请输入现保费"></el-input>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="jqForm.insChangePrem" placeholder="请输入保费变化"></el-input>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="jqForm.insNewVhlTax" placeholder="请输入现车船税"></el-input>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="jqForm.insChangeVhlTax" placeholder="请输入车船税变化"></el-input>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px;line-height:40px;">
                    <el-col :span="6" style="margin-right: 20px">
                      请选择是否涉费：
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-radio v-model="jqForm.isChangePremConfirm" label="1">缴费</el-radio>
                      <el-radio v-model="jqForm.isChangePremConfirm" label="2">退费</el-radio>
                      <el-radio v-model="jqForm.isChangePremConfirm" label="0">未涉费</el-radio>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px" v-if="jqForm.isChangePremConfirm === '0' || jqForm.isChangePremConfirm === '2'">
                      <el-input v-model="jqForm.insCompanyEndorseNo" placeholder="请输入保险公司批单号"></el-input>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px;height:40px;line-height:40px;">
                      请选择批单有效开始时间：
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-date-picker
                        v-model="time1"
                        type="date"
                        placeholder="选择日期">
                      </el-date-picker>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px;height:40px;line-height:40px;">
                      请选择批单提交保险公司时间：
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-date-picker
                        v-model="time3"
                        type="date"
                        placeholder="选择日期">
                      </el-date-picker>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px">
                      批文：
                    </el-col>
                    <el-col :span="12" style="margin-right: 20px">
                      <el-input
                        type="textarea"
                        :autosize="{ minRows: 2, maxRows: 4}"
                        placeholder="请输入批文"
                        v-model="jqForm.insEndorseContent">
                      </el-input>
                    </el-col>
                  </el-row>
                </el-col>
              </el-row>
              <!-- 商业险批改内容 -->
              <el-row style="margin-top: 20px;" v-if="syBoxshow">
                <el-col :span="4">
                  <span class="shuxian">|</span><span class="jqTitle">商业险:</span>
                </el-col>
                <el-col :span="20">
                  <el-row>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="syForm.insCompanyEndorseApplyNo" placeholder="请输入保险公司批单申请号"></el-input>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="syForm.insNewAmount" placeholder="请输入现保额"></el-input>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="syForm.insChangeAmount" placeholder="请输入保额变化"></el-input>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="syForm.insNewPrem" placeholder="请输入现保费"></el-input>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="syForm.insChangePrem" placeholder="请输入保费变化"></el-input>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="syForm.insNewVhlTax" placeholder="请输入现车船税"></el-input>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-input v-model="syForm.insChangeVhlTax" placeholder="请输入车船税变化"></el-input>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px;line-height:40px;">
                    <el-col :span="6" style="margin-right: 20px">
                      请选择是否涉费：
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-radio v-model="syForm.isChangePremConfirm" label="1">缴费</el-radio>
                      <el-radio v-model="syForm.isChangePremConfirm" label="2">退费</el-radio>
                      <el-radio v-model="syForm.isChangePremConfirm" label="0">未涉费</el-radio>
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px" v-if="syForm.isChangePremConfirm === '0'">
                      <el-input v-model="syForm.insCompanyEndorseNo" placeholder="请输入保险公司批单号"></el-input>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px;height:40px;line-height:40px;">
                      请选择批单有效开始时间：
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-date-picker
                        v-model="time2"
                        type="date"
                        placeholder="选择日期">
                      </el-date-picker>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px;height:40px;line-height:40px;">
                      请选择批单提交保险公司时间：
                    </el-col>
                    <el-col :span="6" style="margin-right: 20px">
                      <el-date-picker
                        v-model="time4"
                        type="date"
                        placeholder="选择日期">
                      </el-date-picker>
                    </el-col>
                  </el-row>
                  <el-row style="margin-top: 10px">
                    <el-col :span="6" style="margin-right: 20px">
                      批文：
                    </el-col>
                    <el-col :span="12" style="margin-right: 20px">
                      <el-input
                        type="textarea"
                        :autosize="{ minRows: 2, maxRows: 4}"
                        placeholder="请输入批文"
                        v-model="syForm.insEndorseContent">
                      </el-input>
                    </el-col>
                  </el-row>
                </el-col>
              </el-row>
              <el-button type="primary" style="margin-left:900px;margin-top:20px;" @click="subEndor" v-if="subEndorShow && formData.status !== 6">提交批改内容</el-button>
              <el-button style="margin-left:10px" @click="checkBack" v-if="subEndorShow && formData.status !== 6">返回</el-button>
            </div>
          </div>
          <div v-if="formData.status === 6">
            <div class="tittle imgBox" v-if="imgPhotoListShow">
            确认生成支付链接：
            </div>
            <el-button type="primary" style="margin-top:20px;" @click="subCompany(7)">生成支付链接</el-button>
          </div>
          <div v-if="formData.status === 21 && subStatusShow">
            <el-button type="primary" style="margin-top:20px;" @click="insEndorseSub">批单完成</el-button>
            <el-button type="primary" style="margin-top:20px;" @click="subBack">批单打回</el-button>
          </div>
          <el-row v-if="insCompanyEndorseNoShow" style="border-top: 1px solid #ddd">
              <el-col :span="6" style="padding-top: 20px">
                <el-input
                  v-if="jqBoxShow"
                  placeholder="请输入交强险保险公司批单号"
                  v-model="jqEndorseNo">
                </el-input>
                <el-input
                  v-if="syBoxshow"
                  style="margin-top:16px"
                  placeholder="请输入商业险保险公司批单号"
                  v-model="syEndorseNo">
                </el-input>
              </el-col>
              <el-col :span="8" style="padding-top: 20px;">
                <el-button type="primary" @click="subStatus" style="margin-top:55px;margin-left:20px;">确认批单完成</el-button>
                <el-button @click="subBack(1)" style="margin-top:55px;margin-left:20px;">取消</el-button>
              </el-col>
            </el-row>
            <!-- 审核结果展示 -->
          <el-row v-if="formData.status === 8 || formData.status === 2">
            <div class="tittle imgBox">
              审核结果：
            </div>
              <el-row>
                <el-col :span="4" class="smallTitle" v-if="jqEndorData && jqEndorData.insOldPrem">
                  交强险原保费：
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="jqEndorData && jqEndorData.insOldPrem">
                  {{jqEndorData.insOldPrem}}
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="jqEndorData && jqEndorData.insNewPrem">
                  交强险现保费：
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="jqEndorData && jqEndorData.insNewPrem">
                  {{jqEndorData.insNewPrem}}
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="4" class="smallTitle" v-if="jqEndorData && jqEndorData.endorseBeginTime">
                  交强险批单起期：
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="jqEndorData && jqEndorData.endorseBeginTime">
                  {{jqEndorData.endorseBeginTime}}
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="jqEndorData && jqEndorData.endorseEndTime">
                  交强险批单有效止期：
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="jqEndorData && jqEndorData.endorseEndTime">
                  {{jqEndorData.endorseEndTime}}
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="4" class="smallTitle" v-if="jqEndorData && jqEndorData.insEndorseContent">
                  批文：
                </el-col>
                <el-col :span="20" class="smallTitle" v-if="jqEndorData && jqEndorData.insEndorseContent">
                  {{jqEndorData.insEndorseContent}}
                </el-col>
              </el-row>
              <el-row style="border-bottom:1px dashed #ddd;padding-bottom:10px;" v-if="jqEndorData && jqEndorData.payUrl && formData.status === 6">
                <el-col :span="4" class="smallTitle">
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="4" class="smallTitle" v-if="syEndorData && syEndorData.insOldPrem">
                  商业险原保费：
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="syEndorData && syEndorData.insOldPrem">
                  {{syEndorData.insOldPrem}}
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="syEndorData && syEndorData.insNewPrem">
                  商业险现保费：
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="syEndorData && syEndorData.insNewPrem">
                  {{syEndorData.insNewPrem}}
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="4" class="smallTitle" v-if="syEndorData && syEndorData.endorseBeginTime">
                  商业险批单起期：
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="syEndorData && syEndorData.endorseBeginTime">
                  {{syEndorData.endorseBeginTime}}
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="syEndorData && syEndorData.endorseEndTime">
                  商业险批单有效止期：
                </el-col>
                <el-col :span="6" class="smallTitle" v-if="syEndorData && syEndorData.endorseEndTime">
                  {{syEndorData.endorseEndTime}}
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="4" class="smallTitle" v-if="syEndorData && syEndorData.insEndorseContent">
                  批文：
                </el-col>
                <el-col :span="20" class="smallTitle" v-if="syEndorData && syEndorData.insEndorseContent">
                  {{syEndorData.insEndorseContent}}
                </el-col>
              </el-row>
              <el-row v-if="formData.status === 2">
                <el-col :span="4" class="smallTitle" v-if="formData && formData.remark">
                  打回原因：
                </el-col>
                <el-col :span="20" class="smallTitle" v-if="formData && formData.remark">
                  {{formData.remark}}
                </el-col>
              </el-row>
          </el-row>
        </div>
        <imgProview v-if="dioImgBig" :imgList="formData.photoList" :imgdata="imgdata"></imgProview>
      </div>
</template>

<script>
  import urlQuery from 'utils/urlQuery'
  import Request from 'utils/request'
  import imgPhotoList from 'types/imgList'
  import insCompanyCode from 'types/insCompanyCode'
  import {endorCode} from 'types/endorCodeMp'
  import imgProview from 'components/public/imgProview'

  export default {
    data () {
      return {
        height: 500,
        endorCode,
        imgProview,
        insCompanyCode,
        imgPhotoList,
        formData: {},
        stepNm: 1,
        imgdata: {},
        insEndorseOrderRelationId: urlQuery.queryRouterLastOne(),
        vhlInfoChangeList: [],
        riskChangeList: [],
        personChangeList: [],
        jqEndorData: {},
        syEndorData: {},
        imgList: [],
        checked2: false,
        checked1: false,
        radio: '',
        dioImgBig: false,
        checkBoxShow: true, // 提交或者打回显示
        imgPhotoListShow: false, // 图片显示
        endorListShow: false, // 批改项显示
        remarkShow: false, // 打回原因显示
        syBoxshow: false, // 商业审批
        jqBoxShow: false, // 交强审批
        subEndorShow: true, // 提交审批按钮显示
        subStatusShow: true, // 批单完成与打回按钮
        insCompanyEndorseNoShow: false, // 交强险，商业险批单号
        jqEndorseNo: '',
        syEndorseNo: '',
        jqForm: {},
        syForm: {},
        time1: '',
        time2: '',
        time3: '',
        time4: '',
        remark: ''
      }
    },
    mounted () {
      for (let g = 0; g < this.imgPhotoList.length; g++) {
        const eleData = this.imgPhotoList[g]
        eleData.ishow = false
      }
      this.getList()
    },
    components: {
      imgProview
    },
    methods: {
      getList () {
        Request.post({
          url: '/endorse/manageEndorseOrders/getUserEndorseOrderDetail',
          data: {
            orderId: '',
            vehicleLicenceNo: '',
            insEndorseOrderRelationId: this.insEndorseOrderRelationId,
            status: ''
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.formData = res.data[0]
              let data1 = res.data[0].endorseRelpyList
              for (let i = 0; i < data1.length; i++) {
                const ele = data1[i]
                if (ele.insType === 1) {
                  this.jqBoxShow = true
                }
                if (ele.insType === 2) {
                  this.syBoxshow = true
                }
              }
              this.initialize(res.data[0])
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      initialize (val) {
        this.jqEndorData = val.endorseRelpyList[1]
        this.syEndorData = val.endorseRelpyList[0]
        this.oldEndorData = {}
        if (val.personChangeList.length) {
          this.personChangeList = val.personChangeList
          this.oldEndorData.personChangeList = val.personChangeList
        }
        if (val.riskChangeList.length) {
          this.riskChangeList = val.riskChangeList
          this.oldEndorData.riskChangeList = val.riskChangeList
        }
        if (val.vhlInfoChangeList.length) {
          this.vhlInfoChangeList = val.vhlInfoChangeList
          this.oldEndorData.vhlInfoChangeList = val.vhlInfoChangeList
        }
        if (val.photoList) {
          for (let index = 0; index < val.photoList.length; index++) {
            const ele = val.photoList[index]
            for (let g = 0; g < this.imgPhotoList.length; g++) {
              const eleData = this.imgPhotoList[g]
              if (+ele.type === +eleData.imageType) {
                eleData.src = ele.url
                eleData.ishow = true
                eleData.id = ele.id
                this.imgPhotoListShow = true
              }
            }
          }
        }
      },
      // 更改状态3
      subCompany (num) {
        let message
        if (num === 7) message = '审核已完成，确认生成支付链接'
        this.$confirm(message, {
          doneBtn: '确定',
          failBtn: '取消',
          type: 'warning',
          title: '提示',
          showFailBtn: true,
          done: (res) => {
            Request.post({
              url: '/endorse/manageEndorseOrders/updateUserEndorseOrder',
              data: {
                status: num,
                insEndorseOrderRelationId: this.insEndorseOrderRelationId,
                remark: ''
              },
              done: (res) => {
                if (res.resultCode === 1) {
                  if (num === 7) {
                    this.$alert('支付链接生成成功')
                    location.reload()
                  }
                } else {
                  this.$alert(res.message, 'error')
                }
              },
              fail: (err) => {
                console.error(err)
              }
            })
          },
          fail: (res) => {
            this.checked1 = false
          }
        })
      },
      // 批单打回
      subBack (val) {
        this.checkBoxShow = false
        this.remarkShow = true
        this.subStatusShow = false
        this.insCompanyEndorseNoShow = false
        if (val === 1) {
          this.checkBoxShow = true
          this.remarkShow = false
          this.subStatusShow = true
        }
        if (val === 2) {
          Request.post({
            url: '/endorse/manageEndorseOrders/updateUserEndorseOrder',
            data: {
              status: 2,
              insEndorseOrderRelationId: this.insEndorseOrderRelationId,
              remark: this.remark
            },
            done: (res) => {
              if (res.resultCode === 1) {
                this.$alert('打回成功')
                this.remarkShow = false
              } else {
                this.$alert(res.message, 'error')
              }
            },
            fail: (err) => {
              console.error(err)
            }
          })
        }
      },
      // 数据处理
      subEndor () {
        let data = {}
        data.insEndorseOrderRelationId = this.insEndorseOrderRelationId
        data.status = 6
        data.remark = ''
        data.endorseApplyList = []
        for (let i = 0; i < this.formData.endorseRelpyList.length; i++) {
          const ele = this.formData.endorseRelpyList[i]
          if (ele.insType === 1) {
            this.jqForm.insType = 1
            this.jqForm.id = ele.id
          } else {
            this.syForm.id = this.formData.endorseRelpyList[0].id
            this.syForm.insType = 2
          }
        }
        if (this.time1) {
          this.jqForm.endorseBeginTime = this.$dateFormat(this.time1.getTime(), 'yyyy-MM-dd 00:00:00')
        }
        if (this.time3) this.jqForm.endorseApplyTime = this.$dateFormat(this.time3.getTime(), 'yyyy-MM-dd')
        if (this.time2) {
          this.syForm.endorseBeginTime = this.$dateFormat(this.time2.getTime(), 'yyyy-MM-dd 00:00:00')
        }
        if (this.time4) this.syForm.endorseApplyTime = this.$dateFormat(this.time4.getTime(), 'yyyy-MM-dd')
        data.endorseApplyList[0] = this.jqForm
        data.endorseApplyList[1] = this.syForm
        for (let i = 0; i < data.endorseApplyList.length; i++) {
          const ele = data.endorseApplyList[i]
          if (!ele.insType) {
            data.endorseApplyList.splice(i, 1)
          }
        }
        this.subData(data)
      },
      // 提交审核数据
      subData (data) {
        Request.post({
          url: '/endorse/manageEndorseOrders/updateUserEndorseOrder',
          data,
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('批单成功')
              setTimeout(() => {
                location.reload()
              }, 1000)
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      // 批单完成
      insEndorseSub () {
        this.subStatusShow = false
        this.insCompanyEndorseNoShow = true
      },
      // 却认批单完成
      subStatus () {
        for (let i = 0; i < this.formData.endorseRelpyList.length; i++) {
          const ele = this.formData.endorseRelpyList[i]
          if (ele.insType === 1) {
            ele.insCompanyEndorseNo = this.jqEndorseNo
          }
          if (ele.insType === 2) {
            ele.insCompanyEndorseNo = this.syEndorseNo
          }
        }
        this.$confirm('确认批单用户支付完成', {
          doneBtn: '确定',
          failBtn: '取消',
          type: 'warning',
          title: '提示',
          showFailBtn: true,
          done: (res) => {
            Request.post({
              url: '/endorse/manageEndorseOrders/updateUserEndorseOrder',
              data: {
                endorseApplyList: this.formData.endorseRelpyList,
                insEndorseOrderRelationId: this.formData.insEndorseOrderRelationId
              },
              done: (res) => {
                if (res.resultCode === 1) {
                  this.$alert('用户批单成功')
                  location.reload()
                } else {
                  this.$alert(res.message, 'error')
                }
              },
              fail: (err) => {
                console.error(err)
              }
            })
          },
          fail: (res) => {
            this.checked1 = false
          }
        })
      },
      imgBig (val) {
        this.dioImgBig = true
        this.imgdata = val
      },
      checkPass () {
        this.endorListShow = true
        this.checkBoxShow = false
      },
      // 批单打回
      checkBack () {
        this.checkBoxShow = true
        this.endorListShow = false
      }
    }
  }
</script>