@import '../../../assets/styles/color';
.order-list-page {
  padding: 20px;
  margin-bottom: 50px;
  background: #fff;
  min-height: 600px;
  position: relative;
  .tittle {
    font-size: 18px;
    margin-bottom: 10px;
    .messageBox {
      float: right;
    }
    .companyCode {
      float: left;
      font-size: 16px;
      &:nth-child(2) {
        margin-right: 10px;
        color: rgb(50, 108, 231);
      }
    }
    .vehivcalNo {
      float: left;
      font-size: 16px;
    }
  }
  .subCompany {
    border-top: 1px solid #dddddd;
    padding-top: 10px;
  }
  .imgBox {
    padding-top: 10px;
    margin-top: 50px;
    border-top: 1px solid #dddddd;
  }
  .amountBox {
    padding-top: 10px;
    margin-top: 50px;
    border-top: 1px solid #dddddd;
  }
  .midTitle {
    margin-top: 20px;
  }
  .smallTitle {
    padding-left: 10px;
    font-size: 15px;
    color: @font666;
    margin-top: 20px;
  }
  .jqTitle {
    font-size: 15px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
  }
  .shuxian {
    color: #ff9900;
    font-weight: bolder;
  }
  .upload-list {
    padding: 20px 0;
    overflow: hidden;
    li {
      float: left;
      position: relative;
      margin: 0px 25px 5px 0;
      overflow: hidden;
      height: 120px;
      border: 1px dashed #dddddd;
      .image-box{
        position: absolute;
        left: 7px;
        height: 20px;
        width: 177px;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 3px;
        .image-del {
          position: absolute;
          top: 0px;
          right: 5px;
          color: @redColor;
          cursor: pointer;
        }
        .image-big {
          position: absolute;
          top: 0px;
          left: 5px;
          color: #fff;
          cursor: pointer;
        }
      }
      img {
      width: 190px;
      height: 120px;
      }
      .pos-bottom {
        position: absolute;
        bottom: 0px;
        z-index: 9;
        color: #fff;
        background: rgb(68, 65, 65);
        width: 190px;
        text-align: center;
      }
    }
    &::after {
      content: ' ';
      clear: both;
      height: 1px;
    }
  }
  .footer{
    width: 900px;
    margin-top: 40px;
  }
}