@import '../../../assets/styles/color';
.order-list-page {
  padding: 20px;
  margin-bottom: 50px;
  background: #fff;
  min-height: 600px;
  .title {
    font-size: 18px;
    padding-bottom: 10px;
    color: @font999;
    border-bottom: 1px solid @lineColor;
  }
  .tabs {
    border-bottom: 1px solid @lineColor;
    .tabs-item {
      float: left;
      width: 90px; 
      line-height: 70px;
      margin-right: 50px; 
      font-size: 22px;
      text-align: center;
      cursor: pointer;
      &.active {
        color: @mainColor;
        margin-bottom: -1px;
        border-bottom: 2px solid @mainColor;
      }
    }
  }
  .list-box {
    margin-top: 20px;
    border:1px solid #dddddd;
    height: 100px;
    .viewBtn {
      background: #ff9900;
      padding: 10px 10px;
      color: #ffffff;
      border-radius: 3px;
      &:hover {
        background: #f3a42c
      }
    }
    .list-title {
      height: 40px;
      font-size: 16px;
      color: #666666;
      background-color: rgb(248, 248, 248);
      .time-box {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
      }
      .order-box {
        height: 40px;
        line-height: 40px;
      }
      .nameBox {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #5193be;
      }
    }
    .list-txt {
      line-height: 60px;
      height: 60px;
      color: #333333;
      .linsNo {
        font-size: 20px;
        padding-left: 20px;
      }
    }
  }
  .pageStyle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}