<style lang="less">
  @import "./index.less";
</style>

<template>
    <div class="order-list-page" :style="{'min-height': height + 'px'}">
      <div class="title">
        <el-row>
            <el-col :span="12" style="line-height:40px">
            批单列表
            </el-col>
            <el-col :span="12">
            <el-input v-model="searchStr" class="search-input" placeholder="输入车牌号查询">
                <span class="el-icon-close el-input__icon" slot="suffix" @click="getList()"></span>
                <span slot="append" @click="getList()">搜索</span>
            </el-input>
            </el-col>
        </el-row>
        </div>
        <div class="tabs">
            <div class="tabs-item" :class="{'active': !status}" @click="getList()" >全部</div>
            <div class="tabs-item" :class="{'active': status === 1}" @click="getList(1)">未审核</div>
            <div class="tabs-item" :class="{'active': status === 3}" @click="getList(3)">已提交</div>
            <div class="tabs-item" :class="{'active': status === 2}" @click="getList(2)">批单打回</div>
            <div class="tabs-item" :class="{'active': status === 8}" @click="getList(8)">批改完成</div>
            <div class="clearfix"></div>
        </div>
        <div>
        <el-row class="list-box" v-for="(item, index) in orderList" :key="index">
            <el-row class="list-title">
                <el-col :span="7" class="time-box">
                    {{item.endorseCreateTime}}
                </el-col>
                <el-col :span="7" class="order-box">
                    批单号: {{item.insEndorseOrderRelationId}}
                </el-col>
                <el-col :span="5" class="order-box">
                    手机号: {{item.buyerMobile}}
                </el-col>
                <el-col :span="5" class="order-box nameBox">
                  <el-tooltip class="item" effect="dark" :content="item.buyerNickName" placement="top">
                    <span>{{item.buyerNickName}}</span>
                  </el-tooltip>
                </el-col>
            </el-row>
            <el-row class="list-txt">
                <el-col :span="7" class="linsNo">
                    {{item.vehicleLicenceNo}}
                </el-col>
                <el-col :span="9">
                    订单号:{{item.insOrderId}}
                </el-col>
                <el-col :span="4" class="">
                    {{endorStatus[item.endorseStatus]}}
                </el-col>
                <el-col :span="4">
                  <!-- <router-link :to="`/endor/review/${item.insEndorseOrderRelationId}`" class="viewBtn" >查看详情</router-link> -->
                  <el-button @click="changeStatus(item)" type="primary">查看详情</el-button>
                  <span style="color:red" v-if="item.isUrgent === 1">加急处理</span>
                </el-col>
            </el-row>
        </el-row>
      <Pages :total="total" :pageSize="pageSize"  @changePages="changePages" v-if="pageshows" class="pageStyle"></Pages>
    </div>
    </div>
</template>

<script>
import Request from 'utils/request'
import {endorStatus} from 'types/vihicleTypeCode'
import Pages from 'components/public/pages'

export default {
  data () {
    return {
      endorStatus,
      Pages,
      status: '',
      total: 0,
      page: 1,
      pageSize: 10,
      orderList: [],
      height: 500,
      pageshows: false,
      searchStr: ''
    }
  },
  mounted () {
    this.getList()
  },
  components: {
    Pages
  },
  methods: {
    getList (status) {
      this.status = status
      Request.post({
        url: '/endorse/manageEndorseOrders/getUserEndorseOrderList',
        data: {
          insOrderId: '',
          vehicleLicenceNo: this.searchStr,
          insEndorseOrderRelationId: '',
          status: this.status,
          pageStart: this.page,
          pageSize: this.pageSize
        },
        done: (res) => {
          if (res.resultCode === 1) {
            this.orderList = res.data
            this.total = res.totalSize
            if (res.totalSize > 0) {
              this.pageshows = true
            }
          } else {
            this.$alert(res.message, 'error')
          }
        }
      })
    },
    changePages (page, limit) {
      this.page = !page ? 1 : page
      this.pageSize = !limit ? 10 : limit
      this.getList()
    },
    // 状态置为3
    changeStatus (val) {
      if (val.endorseStatus >= 2) {
        this.$router.push(`/endor/review/${val.insEndorseOrderRelationId}`)
        return
      }
      Request.post({
        url: '/endorse/manageEndorseOrders/updateUserEndorseOrder',
        data: {
          status: 3,
          insEndorseOrderRelationId: val.insEndorseOrderRelationId,
          remark: ''
        },
        done: (res) => {
          if (res.resultCode === 1) {
            this.$router.push(`/endor/review/${val.insEndorseOrderRelationId}`)
          } else {
            this.$alert(res.message, 'error')
          }
        },
        fail: (err) => {
          console.error(err)
        }
      })
    }
  }
}
</script>
