<template>
  <div class=" login-banner">
    <div class="animateUser login-text">
      <h2>保险科技智能平台</h2>  
      <div class="slogan">科技赋能&nbsp;&nbsp;&nbsp;&nbsp;无所不及</div>
      <div>
        <router-link to="/user/login">个人登录</router-link>
        <router-link to="/user">商户登录</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'login',
    mounted () {
      if (this.$getCookie('_youjia_token')) {
        window.location.href = '/home'
      }
    }
  }
</script>
