@import '../../assets/styles/color';
.login_box {
  color: #fff;
  height: 100%;
  min-height: 500px;
  overflow: hidden;
  background: url(//oss-img.u-bx.com/images/bg/8.jpg);
  background-size: cover;
  background-position: center top;
  .login-bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 1002;
    .login-form {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -200px;
      margin-top: -220px;
      width: 400px;
      height: 440px;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      overflow: hidden;
      .el-form-item {
        margin-bottom: 30px;
      }
      .youjia-logo {
        display: block;
        width: 100px;
        height: 110px;
        margin: 18px auto 15px;
      }
      .phoneBox {
        width: 300px;
        margin: 40px auto 0;
        .el-input {
          border-bottom: 1px solid #D5D9DD;
          input {
            -webkit-box-shadow: 0 0 0 30px #fff inset;
            border: none;
            font-size: 18px;
            padding: 0 1px;
            &::-webkit-input-placeholder,
            &::placeholder {
              font-size: 18px;
            }
          }
        }
        a {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 16px;
        }
        .verifiCode {
          color: #f90;
          cursor: pointer;
        }
        .awaitTime {
          color: #666;
        }
        .el-button {
          width: 300px;
          height: 46px;
          color: #fff;
          font-size: 18px;
        }
      }
    }
  }
}
