<template>
  <div class="login-bg">
    <div class="login-form">
      <img src="//oss-img.u-bx.com/images/home/logo-2.png" alt class="youjia-logo">
      <div id="loginByPhone">
        <el-form v-model="form" class="phoneBox">
          <el-form-item>
            <el-input placeholder="请输入手机号" v-model="form.mobile" :maxlength="11"></el-input>
          </el-form-item>
          <el-form-item>
            <el-input
              placeholder="请输入密码"
              v-model="form.password"
              type="password"
              @keyup.enter.native="verifyPassword"
              :minlength="6"
            ></el-input>
          </el-form-item>
          <el-button @click="verifyPassword" class="main-btn" :loading="showLoading">登录</el-button>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import { RegPhone } from 'utils/regCheck'
  import storage from 'utils/storage'
  export default {
    name: 'login',
    data () {
      return {
        showLoading: false,
        countNum: 0,
        tabIndex: 1,
        form: {
          mobile: '',
          password: '',
          smsCode: ''
        }
      }
    },
    mounted () {
      if (this.$getCookie('_youjia_token')) {
        window.location.href = '/'
      }
    },
    methods: {
      verifyPassword () {
        let form = this.form
        if (!RegPhone.test(form.mobile)) {
          this.$alert('手机号格式不正确', 'error')
          return
        }
        if (form.password.length < 6) {
          this.$alert('密码需要包含数字、字母、符号至少两种组合的6-20位字符', 'error')
          return
        }
        this.login('/users/auth/pwdLogin', {
          mobile: form.mobile,
          password: form.password
        })
      },
      login (url, data) {
        if (this.showLoading) return
        this.showLoading = true
        Request.post({
          url: url,
          data: data,
          done: (res) => {
            this.showLoading = false
            if (res.resultCode === 1) {
              this.$setCookie('_youjia_token', res.dtoList[0].token)
              this.$setCookie('_youjia_user_id', res.dtoList[0].belongId || res.dtoList[0].id)
              this.$setCookie('_youjia_user_name', res.dtoList[0].userName)
              this.$setCookie('_youjia_category', res.dtoList[0].category)
              this.$setCookie('_youjia_user_mobile', res.dtoList[0].mobile)
              this.$setCookie('_youjia_user_modify', res.dtoList[0].needModifyPassword)
              if (res.dtoList[0].belongMobile) {
                this.$setCookie('_youjia_belong_mobile', res.dtoList[0].belongMobile)
              }
              this.$setCookie('_youjia_has_tradepwd', res.dtoList[0].tradePwdFlag)
              this.$setCookie('_youjia_user_businessType', res.dtoList[0].businessType)
              this.$alert('登录成功')
              this.getSubAccountPrivilege(this.$getCookie('_youjia_user_mobile'))
              setTimeout(() => {
                window.location.href = '/'
              }, 1000)
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      // 获取子账户权限
      getSubAccountPrivilege (id) {
        Request.post({
          url: '/manage/jurisdiction/getJurisdiction',
          done: (res) => {
            // 存储权限信息到 vuex 和 localstorage 中
            this.$store.commit('addRoles', res.data)
            storage.setStorage('roles', JSON.parse(JSON.stringify(res.data)))
          },
          fail: (err) => {
            console.log(err)
          }
        })
      }
    }
  }
</script>
