<template>
  <div class="login-bg">
    <div class="login-form animateUser">
      <el-form v-model="form">
        <i class="el-icon-close" @click="$router.push('/user')"></i>
        <div class="title">用户注册</div>
        <el-form-item>
          <el-input placeholder="请输入手机号" v-model="form.mobile"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="验证码" v-model="form.smsCode">
            <a v-if="countNum === 0" slot="append" @click="getCode">获取验证码</a>
            <a v-else slot="append">{{countNum}}秒后重新获取</a>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入密码" v-model="form.password" type="password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请再次输入密码" v-model="form.password2" type="password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入邀请码" v-model="form.inviteCode"></el-input>
        </el-form-item>
        <el-button @click="verifyForm">注册</el-button>
      </el-form>
      <router-link to="/user/apply" class="forget">申请商户</router-link>
      <router-link to="/user/login" class="register" :loading="showLoading">去登录</router-link>
    </div>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import urlQuery from 'utils/urlQuery'
  import { RegCode, RegPhone, RegPassword } from 'utils/regCheck'

  export default {
    name: 'login',
    data () {
      return {
        showLoading: false,
        countNum: 0,
        form: {
          inviteCode: urlQuery.queryOne('invite')
        }
      }
    },
    mounted () {
    },
    methods: {
      verifyForm (data) {
        const form = this.form
        if (!RegPhone.test(form.mobile)) {
          this.$alert('手机号格式不正确', 'error')
          return
        }
        if (!RegCode.test(form.smsCode)) {
          this.$alert('请输入正确的验证码', 'error')
          return
        }
        if (!RegPassword.test(form.password)) {
          this.$alert('密码需要包含数字、字母、符号至少两种组合的6-20位字符', 'error')
          return
        }
        if (form.password !== form.password2) {
          this.$alert('两次密码不一致', 'error')
          return
        }
        this.register()
      },
      register () {
        if (this.showLoading) return
        this.showLoading = true
        Request.post({
          url: `/users/sysUsers/registerMerchants`,
          data: this.form,
          done: (res) => {
            this.showLoading = false
            if (res.resultCode === 1) {
              this.$alert('注册商户成功')
              this.$router.push('/user/login')
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      getCode () {
        if (!RegPhone.test(this.form.mobile)) {
          this.$alert('手机号格式不正确', 'error')
          return
        }
        if (this.countNum !== 0) return
        Request.post({
          url: `/users/sysUsers/sendSms`,
          data: {
            mobile: this.form.mobile,
            function: 1,
            smsCategory: 1,
            sendType: 2
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('验证码发送成功')
              this.countNum = 60
              let timer = setInterval(() => {
                this.countNum -= 1
                if (this.countNum === 0) {
                  clearInterval(timer)
                }
              }, 1000)
            } else {
              this.countNum = 0
              this.$alert(res.message, 'error')
            }
          },
          fail () {
            this.countNum = 0
          }
        })
      }
    }
  }
</script>
