@import '../../assets/styles/color';
.header {
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: rgba(200, 200, 200, 0.5) 0px 2px 10px;
  position: fixed;
  z-index: 10;
  .header-con {
    width: 1200px;
    margin: 0 auto;
    a {
      float: left;
      display: block;
      color: @fontColor;
      &.nav-logo {
        width: 260px;
        overflow: hidden;
        img {
          float: left;
          height: 40px;
          margin: 10px 0;
        }
        .title {
          float: left;
          font-size: 18px;
          line-height: 62px;
          margin-left: 8px;
        }
      }
      &.nav-item {
        width: 80px;
        line-height: 60px;
        text-align: center;
        margin-right: 40px;
        font-size: 18px;
        &.active {
          color: @mainColor;
        }
      }
    }
    .right-box {
      float: right;
      height: 26px;
      line-height: 26px;
      .merchants {
        height: 26px;
        padding: 17px 0;
        img {
          float: left;
          height: 26px;
          margin: 0 10px;
        }
        .line {
          display: inline;
          margin: 0 5px 0 15px;
          color: @font999;
        }
      }
      .register {
        color: @mainColor;
        &:hover {
          text-decoration: underline;
        }
      }
      .user {
        padding: 17px 0;
        position: relative;
        .icon-yonghu {
          float: left;
          font-size: 26px;
          margin: 0 10px;
        }
        .avatar {
          float: left;
          display: block;
          height: 26px;
          margin: 0 10px;
          border-radius: 26px;
        }
        .logout-btn {
          display: none;
        }
        .el-icon-caret-bottom {
          transition-duration: 0.2s;
        }
        &:hover {
          .el-icon-caret-bottom {
            transform: rotateZ(180deg);
          }
          .logout-btn {
            position: absolute;
            top: 60px;
            right: 0px;
            display: block;
            width: 100%;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 1px 1px 5px 2px rgba(200, 200, 200, 0.5);
            padding: 10px 0;
            a {
              text-align: center;
              width: 100%;
              padding: 5px;
              font-size: 14px;
              border-bottom: 1px solid @lineColor;
              &:last-child {
                border-bottom: none;
              }
              &:hover {
                color: #66b1ff;
              }
              i {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}