<style lang="less">
	@import "./index";
</style>

<template>
  <div class="header">
  	<div class="header-con">
      <router-link class="nav-logo" to="/">
        <img class="logo" src="//oss-img.u-bx.com/images/home/logo-1.png" alt="有家保险">
        <div class="title"> | 商户中心</div>
      </router-link>
      <div v-if="isLogin">
        <router-link class="nav-item" to="/order" v-privilege="'E001'">订单管理</router-link>
        <router-link class="nav-item" to="/endor" v-privilege="'F001'">批单管理</router-link>
        <router-link class="nav-item" to="/policy" v-privilege="'G001'">政策管理</router-link>
         <!-- v-privilege="'J001'"   TODO -->
        <router-link class="nav-item" to="/operation" v-privilege="'R001'">运营管理</router-link>
        <router-link class="nav-item" to="/upay" v-if = "this.$getStorage('roles').indexOf('Z001') > -1 || this.$getStorage('roles').indexOf('L001') > -1">U付款</router-link>
        <router-link class="nav-item" to="/accmanage" v-if="!isUUser">账户管理</router-link>
      </div>
      <div class="right-box" v-if="isLogin">
        <a class="merchants" target="_blank" :href="`//${isDev ? 'tst' : 'trade'}.u-bx.com`">
          个人中心
          <div class="line">|</div>
        </a>
        <router-link class="user" to="#">
          <img class="avatar" v-if="userAvatar" :src="userAvatar" alt="头像">
          <i class="iconfont icon-yonghu" v-else></i>
          {{userName || '用户名'}} 
          <i class="el-icon-caret-bottom"></i>
          <div class="logout-btn">
            <router-link to="/account/wallet" v-privilege="'H102'" v-if="isUUser"> <i class="iconfont icon-qianbao"></i> 钱 包</router-link>
            <router-link to="/account/order" v-privilege="'H101'" v-if="isUUser"> <i class="iconfont icon-wenjian"></i> 报 表</router-link>
            <router-link to="/account/setting" v-if="isUUser"> <i class="iconfont icon-shezhi"></i> 设 置</router-link>
            <router-link to="/logout"><i class="iconfont icon-tuichu"></i> 退 出</router-link>    
          </div>
        </router-link>
      </div>
  	</div>
  </div>
</template>

<script>
  import { APP_ENV } from 'configs'
  export default {
    data () {
      return {
        userAvatar: this.$getCookie('_youjia_user_avatar'),
        userName: this.$getCookie('_youjia_user_name'),
        isLogin: this.$getCookie('_youjia_token'),
        isShop: this.$getCookie('_youjia_shop'),
        isDev: APP_ENV.match('tst'),
        privilegeList: this.$getStorage('roles'),
        isUUser: this.$getCookie('_youjia_user_businessType') === '1'
      }
    }
  }
</script>
