<style lang="less">
  .detail-bar{
    margin-top: 5px;
    background-color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    .text{
      color: #ff9900;
    }
    .button {
      text-align: right;
    }
    .batchName {
      line-height: 32px;
    }
    .nbsp {
      display: inline-block;
      padding: 0 5px;
      color: #999
    }
  }
</style>
<template>
  <div class='detail-bar'>
    <el-row>
      <el-col :span="18" class="batchName">
        <span>批次名称: <span class="text">{{data.batchName}}</span></span>
        <span class="nbsp">|</span>
        <span>状态: <span class="text">{{types[status]}}</span></span>
        <span class="nbsp">|</span>
        <span>合计: <span class="text">{{data.totalCount}}</span> 笔</span>
        <span class="nbsp">|</span>
        <span>总金额: <span class="text">{{data.totalAmount}}</span> 元</span>
      </el-col>
      <el-col :span="6" class="button">
        <el-button @click='cancleBatch' size='small' type="primary" v-if="status!==40&&status!=30">取消批次</el-button>
        <el-button @click='showLockBatch = true' size='small' type="primary" v-if="status === 10">锁定批次</el-button>
        <el-button @click='handleRemit' size='small' type="primary" v-if="status === 20&&this.$getStorage('roles').indexOf('Z102') >-1" :disabled="data.checkPassAmount > balance">打款</el-button>
      </el-col>
    </el-row>
    <el-dialog
      title="锁定批次"
      :visible.sync="showLockBatch"
      width="30%">
        <el-table
        :data="lockBatchData"
        stripe
        style="width: 100%">
        <el-table-column
          prop="batchAmount"
          label="批次总量">
        </el-table-column>
        <el-table-column
          prop="pass"
          label="验证通过">
        </el-table-column>
        <el-table-column
          prop="fail"
          label="验证失败">
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showLockBatch = false">取 消</el-button>
        <el-button type="primary" @click="lockBath">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="设置交易密码" :visible.sync="showSetPwd" width="400px">
      <div>温馨提示：您是第一次使用U付款，需设置交易密码</div>
      <el-form :model="setPwdForm" class='my-form'>
        <el-form-item>
          <el-input :placeholder="`${mobile}的验证码`" v-model="setPwdForm.verify">
            <el-button v-if="countNum === 0" slot="append" @click="getCode(mobile, 3)">获取验证码</el-button>
            <el-button v-else slot="append">{{countNum}}秒后重新获取</el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入密码" v-model="setPwdForm.pwd" type="password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请再次输入密码" v-model="setPwdForm.pwdAgain" type="password"></el-input>
        </el-form-item>
      </el-form>
      <el-button type="primary" @click="modifyTradePassword">确 定</el-button>
    </el-dialog>
    <el-dialog title="立即打款" :visible.sync="showRemit" width="400px">
      <el-form :model="remitForm">
        <el-form-item label="交易密码" label-width="70px">
          <el-input v-model="remitForm.pwd" type="password" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="showRemit = false">取 消</el-button>
        <el-button type="primary" :disabled="this.$getStorage('roles').indexOf('Z102') < 0" @click="remit">打 款</el-button>
      </div>
    </el-dialog>
    <el-dialog
      :visible.sync="remitSuccess"
      width="20%">
      <div style="text-align: center;"><i class="iconfont icon-chenggong" style="font-size: 80px; color: #ff9900;"></i></div>
      <div style="text-align: center; margin-top:15px;">操作成功，可在打款记录里查看详情，关闭页面不会影响打款进程</div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="sureRemit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import {RegPassword, RegPhone} from 'utils/regCheck'
  export default {
    inject: ['reload'],
    data () {
      return {
        types: {
          10: '待锁定',
          20: '待打款',
          30: '打款中',
          40: '已打款'
        },
        isClick: true,
        countNum: 0,
        remitForm: {},
        setPwdForm: {},
        showRemit: false,
        showSetPwd: false,
        remitSuccess: false,
        showLockBatch: false,
        mobile: this.$getCookie('_youjia_belong_mobile') || this.$getCookie('_youjia_user_mobile')

      }
    },
    props: {
      balance: {
        type: Number
      },
      status: {
        type: Number
      },
      data: {
        type: Object
      },
      lockBatchData: {
        type: Array
      }
    },
    methods: {
      handleRemit () {
        let hasTradePwd = this.$getCookie('_youjia_has_tradepwd')
        if (hasTradePwd === '1') {
          this.showRemit = true
        } else {
          this.showSetPwd = true
        }
      },
      // 获取验证码
      getCode (mobile, type) {
        if (!RegPhone.test(mobile)) {
          this.$alert('手机号格式不正确', 'error')
          return
        }
        if (this.countNum > 0) return
        Request.post({
          url: `/users/sysUsers/sendSms`,
          data: {
            mobile: mobile,
            function: 1,
            smsCategory: 1,
            sendType: type
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('验证码发送成功')
              this.countNum = 60
              let timer = setInterval(() => {
                this.countNum -= 1
                if (this.countNum === 0) {
                  clearInterval(timer)
                }
              }, 1000)
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      // 设置密码
      modifyTradePassword () {
        if (!RegPassword.test(this.setPwdForm.pwd)) {
          this.$alert('密码需要包含数字、字母、符号至少两种组合的6-20位字符', 'error')
          return
        }
        if (this.setPwdForm.pwd === '') {
          this.$alert('密码不能为空', 'error')
          return
        }
        if (this.setPwdForm.pwd !== this.setPwdForm.pwdAgain) {
          this.$alert('两次密码不一致', 'error')
          return
        }
        // 设置交易密码接口
        Request.post({
          url: 'account/updatePassword',
          data: {
            password: this.setPwdForm.pwd
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('修改成功')
              this.$setCookie('_youjia_has_tradepwd', 1)
              this.showSetPwd = false
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
        this.setPwdForm.verify = ''
        this.setPwdForm.pwd = ''
        this.setPwdForm.pwdAgain = ''
      },
      sureRemit () {
        this.remitSuccess = false
        this.showRemit = false
        this.$router.push('/upay/trade/remitList')
      },
      // 立即打款接口
      remit () {
        if (this.isClick) {
          this.isClick = false
          Request.post({
            url: 'account/remittance',
            data: {
              batchId: this.data.batchName,
              password: this.remitForm.pwd
            },
            done: (res) => {
              this.isClick = true
              if (res.resultCode === 1) {
                this.$alert('打款成功')
                this.remitSuccess = true
              } else if (res.resultCode === 100103) {
                this.$alert('密码错误', 'error')
              } else if (res.resultCode === 100104) {
                this.$alert('请输入密码', 'error')
              } else {
                this.$alert(res.message, 'error')
              }
            },
            fail: (err) => {
              this.isClick = true
              this.$alert(err, 'error')
            }
          })
        }
      },
      // 取消批次
      cancleBatch () {
        this.$confirm('确定取消该批次打款操作？', {
          showCancelButton: false,
          type: 'warning',
          title: '提示',
          done: () => {
            // 取消批次接口
            Request.post({
              url: 'account/upayUploadAndLock/updateUpayBatchStatus',
              data: {
                batchName: this.data.batchName,
                status: 50 // 取消
              },
              done: (res) => {
                if (res.resultCode === 1) {
                  this.$alert('取消批次状态成功')
                  this.$router.push('/upay/trade/remitList')
                  // this.reload()
                } else {
                  this.$alert(res.message, 'error')
                }
              },
              fail: (err) => {
                this.$alert(err, 'error')
              }
            })
          }
        })
      },
      // 锁定批次
      lockBath () {
        this.showLockBatch = true
        Request.post({
          url: 'account/upayUploadAndLock/updateUpayBatchStatus',
          data: {
            batchName: this.data.batchName,
            status: 20 // 锁定
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('锁定批次状态成功')
              this.$router.push(`/upay/trade/remit/start?batchName=${this.data.batchName}`)
            } else if (res.resultCode === 3) {
              this.$confirm('该批次打款金额为0元，是否取消该批次打款？', {
                showCancelButton: true,
                type: 'warning',
                title: '提示',
                done: () => {
                  this.$router.push('/upay/trade/remitlist')
                },
                fail: () => {
                  this.showLockBatch = false
                }
              })
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      }
    }
  }
</script>
