<style lang="less">
  @import './index';
</style>

<template>
  <div class="lock">
    <div class="title">
      &nbsp;&nbsp;&nbsp;交易管理/打款/锁定打款
    </div>
    <div class="step-bar">
      <step-bar :active="2"></step-bar>
    </div>
    <detail-bar :data="accountData" :lockBatchData="lockBatchData" :status="10"></detail-bar>
    <statistics-bar :accessBi='accessBi' :accessYuan="accessYuan" :loseBi="loseBi" :loseYuan="loseYuan" :serviceYuan="serviceYuan" :serviceBi="serviceBi"></statistics-bar>
    <div style="padding:0 10px; background-color:#fff;">
      <el-table
        :data="tableData"
        stripe
        style="width: 100%;margin-top:5px;"
        class="table">
        <el-table-column
          fixed="left"
          prop="receiverName"
          align="center"
          label="收款户名"
          min-width="100px">
        </el-table-column>
        <el-table-column
          fixed="left"
          prop="payAmount"
          align="center"
          label="打款金额"
          min-width="120px">
          <template slot-scope="data">
            {{data.row.payAmount || 0}}
          </template>
        </el-table-column>
        <el-table-column
          prop="serviceCharge"
          label="手续费"
          v-if="serviceYuan !== 0"
          min-width="100px">
          <template slot-scope="data">
            {{subNum(data.row.serviceCharge, 2) || 0}}
          </template>
        </el-table-column>
        <el-table-column
          prop="id"
          label="交易流水号"
          align="center"
          min-width="200px">
        </el-table-column>
        <el-table-column
          prop="receiverAccountNo"
          align="center"
          label="收款账号"
          min-width="200px">
        </el-table-column>
        <el-table-column
          prop="receiverCertNo"
          align="center"
          label="证件号码"
          min-width="200px">
        </el-table-column>
        <el-table-column
          prop="receiverMobile"
          align="center"
          label="手机号"
          min-width="150px">
        </el-table-column>
        <el-table-column
          prop="createTime"
          align="center"
          label="交易创建时间"
          min-width="200px">
          <template slot-scope="data">
            {{time(data.row.createTime * 1000, 'yyyy-MM-dd hh:mm:ss')}}
          </template>
        </el-table-column>
        <el-table-column
          prop="updateTime"
          align="center"
          label="交易更新时间"
          min-width="200px">
          <template slot-scope="data">
            {{time(data.row.updateTime * 1000, 'yyyy-MM-dd hh:mm:ss')}}
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          prop="status"
          align="center"
          label="交易状态"
          width="110">
          <template slot-scope="data">
            {{statusDispose(data.row.status)}}
            <div v-if="data.row.status=== 12" style="font-size:12px;">商户主动取消</div>
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          align="center"
          label="操作"
          width="110">
          <template slot-scope="scope">
            <el-button @click="handleClick(scope.row)" type="text" size="small">{{filterStatus(scope.row.status, scope.row.payAmount) || '-/-'}}</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <Pages :total="totalSize" :pageSize="pageSize"  @changePages="changePages" style="text-align:center; background-color:#fff;padding:10px 0;"></Pages>
    <el-dialog title="修改三要素" :visible.sync="dialogFormVisible" width="400px">
      <el-form :model="form">
        <el-form-item label="批次号" label-width="80px">
          <el-input v-model="batchName" disabled></el-input>
        </el-form-item>
        <el-form-item label="收款账号" label-width="80px">
          <el-input v-model="form.accountNo"></el-input>
        </el-form-item>
        <el-form-item label="身份证号" label-width="80px">
          <el-input v-model="form.certNo"></el-input>
        </el-form-item>
        <el-form-item label="收款户名" label-width="80px">
          <el-input v-model="form.userName"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="cancleThree">取 消</el-button>
        <el-button type="primary" @click="modifyThree">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import stepBar from 'pages/upay/components/step-bar'
  import detailBar from 'pages/upay/components/detail-bar'
  import statisticsBar from 'pages/upay/components/statistics-bar'
  import remitTable from 'pages/upay/components/remit-table'
  import Pages from 'components/public/pages'
  import Request from 'utils/request'
  import {RegIdCardNumber, RegBankNo} from 'utils/regCheck'
  export default {
    inject: ['reload'],
    data () {
      return {
        batchName: this.$route.query.batchName,
        status: '未锁定',
        accountData: {},
        sum: 0,
        totalAmount: 0,
        tableData: [],
        page: 1,
        pageSize: 10,
        totalSize: 0,
        showLockBatch: false,
        lockBatchData: [],
        operationName: '',
        form: {
          userName: '',
          certNo: '',
          accountNo: ''
        },
        dialogFormVisible: false,
        accessBi: 0,
        accessYuan: 0,
        loseBi: 0,
        loseYuan: 0,
        serviceBi: 0,
        serviceYuan: 0,
        upayOrderId: '',
        time: this.$dateFormat,
        subNum: this.$subNum
      }
    },
    components: {
      stepBar,
      detailBar,
      statisticsBar,
      remitTable,
      Pages
    },
    mounted () {
      this.getRemitList()
      this.getBatchInfo()
    },
    methods: {
      // 过滤status
      filterStatus (status, payAmount) {
        if (status === 10) {
          return '取消订单'
        } else if (status === 11 && payAmount > 0) {
          return '修改三要素'
        } else if (status === 12) {
          return ''
        } else {
          return ''
        }
      },
      statusDispose (status) {
        if (status === 10) {
          return '已校验'
        } else if (status === 11) {
          return '校验失败'
        } else if (status === 12) {
          return '已取消'
        } else if (status === 61) {
          return '打款失败'
        }
      },
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.getRemitList()
      },
      handleClick (val) {
        if (val.status === 10) {
          this.cancleOrder(val)
        } else if (val.status === 11) {
          this.form.accountNo = val.receiverAccountNo
          this.form.certNo = val.receiverCertNo
          this.form.userName = val.receiverName
          this.dialogFormVisible = true
          this.upayOrderId = val.id
        }
      },
      // 取消订单
      cancleOrder (val) {
        this.$confirm('此条订单将被无效，确定后该批次打款将不会对此条订单打款，是否继续', {
          showCancelButton: false,
          type: 'warning',
          title: '提示',
          done: () => {
            // 取消订单接口
            Request.post({
              url: 'account/upayUploadAndLock/updateUpayOrderStatus',
              data: {
                upayOrderId: val.id,
                status: 21 // 取消
              },
              done: (res) => {
                if (res.resultCode === 1) {
                  this.$alert('修改订单状态成功')
                  this.reload()
                } else {
                  this.$alert(res.message, 'error')
                }
              },
              fail: (err) => {
                this.$alert(err, 'error')
              }
            })
          }
        })
      },
      // 修改三要素
      modifyThree (val) {
        // 首先要进行表单验证
        let form = this.form
        if (!RegBankNo.test(form.accountNo)) {
          this.$alert('请输入数字', 'error')
          return false
        }
        if (!RegIdCardNumber.test(form.certNo)) {
          this.$alert('请输入正确格式的身份证号', 'error')
          return false
        }
        this.dialogFormVisible = false
        // 修改三要素接口
        Request.post({
          url: 'account/upayUploadAndLock/updateBankCardInfo',
          data: {
            upayOrderId: this.upayOrderId,
            receiverName: form.userName,
            receiverAccountNo: form.accountNo.replace(/\s+/g, ''),
            receiverCertNo: form.certNo
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.form.accountNo = ''
              this.form.certNo = ''
              this.form.userName = ''
              this.$alert('修改成功')
              this.reload()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      },
      // 获取打款列表
      getRemitList () {
        Request.post({
          url: 'account/upayUploadAndLock/getUpayOrderInfo',
          data: {
            batchName: this.$route.query.batchName,
            pageStart: this.page,
            pageSize: this.pageSize
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.totalSize = res.totalSize
              this.tableData = res.data
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      },
      getBatchInfo () {
        // account/upayUploadAndLock/getUpayBatchInfo
        Request.post({
          url: 'account/upayUploadAndLock/getUpayBatchInfo',
          data: {
            batchName: this.$route.query.batchName
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.data
              this.accountData = data
              this.accountData.batchName = this.$route.query.batchName
              this.sum = data.totalCount
              this.totalAmount = data.totalAmount
              this.accessBi = data.checkPassCount
              this.accessYuan = data.checkPassAmount
              this.loseBi = data.checkFailCount
              this.loseYuan = data.checkFailAmount
              this.serviceBi = data.serviceChargeCount || 0
              this.serviceYuan = data.serviceCharge || 0
              this.lockBatchData.push({
                fail: data.checkFailCount,
                pass: data.checkPassCount,
                batchAmount: data.totalCount
              })
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      },
      cancleThree () {
        this.dialogFormVisible = false
        this.form.accountNo = ''
        this.form.certNo = ''
        this.form.userName = ''
      }
    }
  }
</script>
