.lock{
  .title{
    background-color: #fff;
    line-height:56px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }
  .step-bar{
    margin-top: 5px;
    background-color: #fff;
    padding: 10px 15px;
  }
}