<template>
  <div class="create-red-packet">
    <div class="title">
      &nbsp;&nbsp;&nbsp;红包管理/创建红包
    </div>
    <div class="redpacket-form">
      <el-form ref="form" :model="form" :rules="rules" label-width="100px" class='create-form'>
        <el-form-item label="关联政策">
          <el-button type='primary' size='mini' @click="selectPolicy">+选择政策</el-button>
          <ul class="batch-table-list" style="width:800px">
          <li v-for="(el, i) of selectPolicyList" :key="el.id + i">
            <div class="policy-txt">
              政策ID：{{el.id}}
              <div class="policy-title">
                <span>出险{{getBusiness(el, 'AccidentCount', '次', '次数不限')}}</span>
                <span v-if="el.minPrice || el.maxPrice">、购置价{{getBusiness(el, 'Price', '万', '不限', (el) => { return parseInt(el / 10000) })}}</span>
                <span v-if="el.minVehicleYear || el.maxVehicleYear">、车龄{{getBusiness(el, 'VehicleYear', '年', '不限')}}</span>
                <!-- <span v-if="el.minSeats || el.maxSeats">、{{getBusiness(el, 'Seats', '座', '座位不限')}}</span> -->
                <span>{{getProvince(el.province_code)}}</span>
                <!-- <span v-if="insTypeArr[el.insTypes]">、{{insTypeArr[el.insTypes]}}</span> -->
                <!-- <span v-else>、险种类型不限</span> -->
              </div>
              <!-- <div class="tag-box">
                <span class="tag" v-for="(item, i) of (el.tar ? el.tar.split(',') : [])" :key="i">{{item}}</span>
              </div> -->
            </div>
            <div class="policy-price">
              <span>
                保险推广费
                <tooltip :item="el">
                  <div class="price">{{Number(el.trafficRate)+(Number(el.coinTrafficRate || 0)*10)}}%+{{Number(el.businessRate)+(Number(el.coinBusinessRate || 0)*10)}}%<span>+{{Number(el.vehicleTaxRate)+Number(el.coinVehicleTaxRate || 0)*10}}%</span></div>
                </tooltip>
              </span>
            </div>
            <div class="policy-menu">
              <el-button type='primary' @click="remove" size='mini'>移除</el-button>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
        </el-form-item>
        <el-form-item label="投放地区" required>
          <el-col :span="6">
            <el-form-item prop="provinceCode">
            <el-select v-model="form.provinceCode" placeholder="请选择省份" style="width:90%;" @change='selectProvince(form.provinceCode)'>
            <el-option
              v-for="(item, index) in provinces"
              :key="index"
              :label="item.provincename"
              :value="item.id">
            </el-option>
          </el-select>
          </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item prop="cityCode">
            <el-select v-model="form.cityCode" placeholder="请选择市区" style="width:90%;" @change='setRedName'>
            <el-option
              v-for="(item, index) in citys"
              :key="index"
              :label="item.cityName"
              :value="item.cityId">
            </el-option>
          </el-select>
          </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="红包类型" prop="rpType">
          <el-radio v-model="form.rpType" label="1" @change='setRedName'>交强险</el-radio>
          <el-radio v-model="form.rpType" label="2" @change='setRedName'>商业险</el-radio>
          <el-radio v-model="form.rpType" label="3" @change='setRedName'>交商同保险</el-radio>
        </el-form-item>
        <el-form-item label="红包名称" prop="rpName">
          <el-input v-model="form.rpName" placeholder="请输入红包名称" style="width:280px;"></el-input>
        </el-form-item>
        <el-form-item label="备注" prop="remark">
          <el-input v-model="form.remark" placeholder="例:完成人保交强险出单后自动兑换现金" style="width:280px;"></el-input>
        </el-form-item>
        <el-form-item label="金额" prop="denomination">
          <el-input v-model="form.denomination" type="number" placeholder="请输入红包金额" style="width:150px;"></el-input>
          元
        </el-form-item>
        <!-- <el-form-item label="发放时间" required>
          <el-form-item>
            <el-date-picker
              v-model="form.startTime"
              type="date"
              prop="startTime"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
          至
          <el-form-item>
              <el-date-picker
              v-model="form.endTime"
              type="date"
              prop="endTime"
              placeholder="选择日期">
            </el-date-picker>
          </el-form-item>
        </el-form-item> -->
        <el-form-item label="发放时间" prop='DataRange'>
          <el-date-picker
            v-model="form.DataRange"
            type="daterange"
            :picker-options="pickerOptions"
            value-format="yyyy-MM-dd"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="红包有效期" prop="effectiveDays">
          <el-radio v-model="form.effectiveDays" label="1">一天</el-radio>
          <!-- <el-radio v-model="form.effectiveDays" label=form.effectiveDays>自定义</el-radio>
          <el-input v-model="form.effectiveDays" type="number" placeholder="请输入红包有效期" style="width:150px;"></el-input> -->
          <!-- 天 -->
        </el-form-item>
        <el-form-item label="发放个数" prop="releaseCount">
          <el-input v-model="form.releaseCount" type="number" placeholder="请输入发放个数" style="width:150px;" @change="sumTotal"></el-input>
          个
        </el-form-item>
        <el-form-item label="总金额">
          {{form.totalAmount}}
          元
          <span style="color: #f90;">&nbsp;&nbsp;&nbsp;提示：未被消费的金额，次日返还至账户</span>
        </el-form-item>
        <el-form-item>
          <el-button type='primary' @click="createRedPacket('form')">确认</el-button>
        </el-form-item>
      </el-form>
      <el-dialog
        title="选择政策"
        :visible.sync="dialogVisible"
        width="850px"
        :before-close="handleClose"
        center>
          工号&nbsp;&nbsp;
          <el-select v-model="jobNo" placeholder="请选择工号" style="width:150px;" @change="selectJobNo">
            <el-option
              v-for="(item,index) in jobNos"
              :key="index"
              :label="item.jobName"
              :value="item.jobNo">
            </el-option>
          </el-select>
          &nbsp;&nbsp;批次&nbsp;&nbsp;
          <el-select v-model="batchNo" placeholder="请选择批次" style="width:150px;" no-data-text="请先选择工号" @change='selectBatch'>
            <el-option
              v-for="(item,index) in batchNos"
              :key="index"
              :label="item.batchName"
              :value="item.batchNo">
            </el-option>
          </el-select>
          <ul class="batch-table-list" style="width:800px">
          <li v-for="(el, i) of policyList" :key="el.id + i" style="padding-top:10px;">
            <div class="policy-txt">
              政策ID：{{el.id}}
              <div class="policy-title">
                <span>出险{{getBusiness(el, 'AccidentCount', '次', '次数不限')}}</span>
                <span v-if="el.minPrice || el.maxPrice">、购置价{{getBusiness(el, 'Price', '万', '不限', (el) => { return parseInt(el / 10000) })}}</span>
                <span v-if="el.minVehicleYear || el.maxVehicleYear">、车龄{{getBusiness(el, 'VehicleYear', '年', '不限')}}</span>
                <!-- <span v-if="el.minSeats || el.maxSeats">、{{getBusiness(el, 'Seats', '座', '座位不限')}}</span> -->
                <span>{{getProvince(el.province_code)}}</span>
                <!-- <span v-if="insTypeArr[el.insTypes]">、{{insTypeArr[el.insTypes]}}</span> -->
                <!-- <span v-else>、险种类型不限</span> -->
              </div>
              <!-- <div class="tag-box">
                <span class="tag" v-for="(item, i) of (el.tar ? el.tar.split(',') : [])" :key="i">{{item}}</span>
              </div> -->
            </div>
            <div class="policy-price">
              <span>
                保险推广费
                <tooltip :item="el">
                  <div class="price">{{Number(el.trafficRate)+(Number(el.coinTrafficRate || 0)*10)}}%+{{Number(el.businessRate)+(Number(el.coinBusinessRate || 0)*10)}}%<span>+{{Number(el.vehicleTaxRate || 0)+Number(el.coinVehicleTaxRate || 0)*10}}%</span></div>
                </tooltip>
              </span>
            </div>
            <div class="policy-menu">
              <el-button type='primary' @click="select(el)" size='mini'>确认</el-button>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </el-dialog>
    </div>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import insProvinceCode from 'types/insProvinceCode'
  import insCompanyCode from 'types/insCompanyCode'
  import tooltip from '../../../components/public/tooltip'
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate (time) {
            return time.getTime() < Date.now() - 8.64e7
          }
        },
        form: {
          provinceCode: '',
          cityCode: '',
          rpType: '',
          rpName: '',
          remark: '',
          denomination: '',
          effectiveDays: '',
          DataRange: [],
          releaseCount: '',
          totalAmount: 0
        },
        provinces: insProvinceCode,
        citys: [],
        jobNos: [],
        batchNos: [],
        jobNo: '',
        batchNo: '',
        radio: '1',
        dialogVisible: false,
        insCompanyName: '',
        policyList: [],
        middleList: [],
        selectPolicyList: [],
        cityName: '',
        userName: this.$getCookie('_youjia_user_name'),
        rules: {
          provinceCode: [
            {required: true, message: '请输入省份', trigger: 'blur'}
          ],
          cityCode: [
            {required: true, message: '请输入城市', trigger: 'blur'}
          ],
          rpType: [
            {required: true, message: '请选择红包类型', trigger: 'change'}
          ],
          rpName: [
            {required: true, message: '请输入红包名称', trigger: 'blur'},
            { min: 1, max: 14, message: '长度在14个字符以内', trigger: 'blur' }
          ],
          remark: [
            {required: true, message: '请输入红包备注', trigger: 'blur'},
            { min: 1, max: 16, message: '长度在16个字符以内', trigger: 'blur' }
          ],
          DataRange: [
            {required: true, message: '请输入发放时间段', trigger: 'blur'}
          ],
          denomination: [
            {
              required: true,
              validator (rule, value, callback) {
                var reg = /^-?\d{1,7}(?:\.\d{1,2})?$/
                if (reg.test(value) && value > 0) {
                  callback()
                } else {
                  callback(new Error('请输入不超过两位小数的正数'))
                }
              },
              // message: '请输入有效的红包面额',
              trigger: 'blur'
            }
          ],
          effectiveDays: [
            {
              required: true,
              message: '请选择红包有效期',
              trigger: 'blur'
            }
          ],
          releaseCount: [
            {
              required: true,
              validator (rule, value, callback) {
                var reg = /^-?\d{1,7}?$/
                if (reg.test(value) && value > 0) {
                  callback()
                } else {
                  callback(new Error('请输入正整数'))
                }
              },
              message: '请输入有效的发放个数',
              trigger: 'blur'
            }
          ]
        }
      }
    },
    components: {
      tooltip
    },
    methods: {
      getBusiness (item, field, unit, tips, func) {
        const min = func ? func(item['min' + field]) : item['min' + field]
        const max = func ? func(item['max' + field]) : item['max' + field]
        if (min && max) {
          return `${min}-${max}${unit}`
        } else if (max) {
          return `${max}${unit}${field === 'AccidentCount' ? '及' : ''}以下`
        } else if (min) {
          return `${min}${unit}以上`
        } else {
          if (field === 'AccidentCount') {
            tips = '次数0'
          }
          return tips || '不限'
        }
      },
      getProvinceId (province) {
        for (const item of this.provinces) {
          if (item.provincename === province) {
            return item.id
          }
        }
        return ''
      },
      getProvince (provinceId) {
        for (const item of this.provinces) {
          if (item.id === provinceId) {
            return item.provincename
          }
        }
        return ''
      },
      getCity (id) {
        const _this = this
        Request.get({
          url: `base/city/${id}`,
          done: (res) => {
            if (+res.resultCode === 1) {
              let list = res.dtoList
              for (const item of list) {
                _this.citys.push({cityName: item.cityname, cityId: item.id})
              }
            }
          }
        })
      },
      getCityName (id) {
        for (const item of this.citys) {
          if (item.cityId === id) {
            return item.cityName
          }
        }
      },
      sumTotal () {
        this.form.totalAmount = this.form.denomination * this.form.releaseCount
      },
      getCityById (provinceId, cityId) {
        const _this = this
        Request.get({
          url: `base/city/${provinceId}`,
          done: (res) => {
            if (+res.resultCode === 1) {
              for (const item of res.dtoList) {
                if (item.id === cityId) {
                  _this.cityName = item.cityname
                }
              }
            }
          }
        })
        return _this.cityName
      },
      selectProvince (id) {
        this.form.cityCode = ''
        this.citys = []
        this.getCity(id)
      },
      selectPolicy () {
        this.dialogVisible = true
        const _this = this
        Request.post({
          url: 'order/busBasedata/list',
          done: (res) => {
            this.showLoading = false
            if (res.resultCode === 1) {
              for (const item of res.data) {
                let jobNoName = `${insCompanyCode[item.insCompanyCode]}-${item.operNme || '业务员'}(${item.remark || '测试权限'})`
                _this.jobNos.unshift({jobNo: item.id, jobName: jobNoName})
              }
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
        // policy/batchs/page
      },
      selectJobNo (value) {
        this.batchNos = []
        this.policyList = []
        this.batchNo = ''
        Request.post({
          url: 'policy/batchs/page',
          data: {
            pageNum: 0,
            pageSize: 10,
            dto: { jobId: this.jobNo }
          },
          done: (res) => {
            this.showLoading = false
            const _this = this
            if (res.resultCode === 1) {
              let list = res.pageInfo.list
              for (const item of list) {
                let remark = item.remark
                let jobId = item.jobId
                let insPolicyDTOS = item.insPolicyDTOS
                if (!insPolicyDTOS) {
                  continue
                }
                for (const batch of insPolicyDTOS) {
                  let batchName = `${insCompanyCode[batch.insCompanyCode]}-${jobId}(${remark || '默认政策'})`
                  _this.batchNos.push({batchNo: batch.id, batchName: batchName})
                  if (this.jobNo === value) {
                    _this.policyList.push(batch)
                  }
                  _this.middleList = _this.policyList
                }
              }
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.log(err)
          }
        })
      },
      // getJobId (jobName) {
      //   for (const item of this.jobNos) {
      //     console.log(jobName)
      //     if (item.jobName === jobName) {
      //       console.log(item.jobNo)
      //       return item.jobNo
      //     }
      //   }
      // },
      selectBatch (value) {
        let finalList = []
        this.policyList = this.middleList
        for (const item of this.policyList) {
          if (item.id === value) {
            finalList.push(item)
          }
        }
        this.policyList = finalList
      },
      setRedName () {
        let type = ''
        if (this.form.rpType === '1') {
          type = '交强险'
        } else if (this.form.rpType === '2') {
          type = '商业险'
        } else if (this.form.rpType === '3') {
          type = '交商同保'
        }
        this.form.rpName = `${this.userName}-${this.insCompanyName}-${type}红包`
      },
      select (el) {
        this.insCompanyName = insCompanyCode[el.insCompanyCode]
        this.dialogVisible = false
        this.jobNos = []
        this.policyList = []
        this.selectPolicyList = []
        this.selectPolicyList.push(el)
        this.jobNo = ''
        this.batchNo = ''
      },
      handleClose () {
        this.policyList = []
        this.jobNos = []
        this.jobNo = ''
        this.batchNo = ''
        this.dialogVisible = false
      },
      remove () {
        this.selectPolicyList.splice(0, 1)
      },
      // 创建红包
      createRedPacket (formName) {
        if (this.selectPolicyList.length === 0) {
          this.$alert('请先选择政策', 'error')
          return
        }
        let type = ''
        if (this.form.rpType === '1') {
          type = '交强险'
        } else if (this.form.rpType === '2') {
          type = '商业险'
        } else if (this.form.rpType === '3') {
          type = '交商同保险'
        }
        this.$refs[formName].validate((valid) => {
          if (valid) {
            Request.post({
              url: '/redpacket/redPacketBatch/createRedPacket',
              data: {
                insPolicyIds: [this.selectPolicyList[0].id],
                provinceCode: this.form.provinceCode,
                cityCode: this.form.cityCode,
                rpType: this.form.rpType,
                rpName: this.form.rpName,
                remark: this.form.remark || `完成${this.insCompanyName}${type}出单后自动兑换现金`,
                denomination: this.form.denomination,
                startTime: this.form.DataRange[0],
                endTime: this.form.DataRange[1],
                effectiveDays: this.form.effectiveDays,
                releaseCount: this.form.releaseCount
              },
              done: (res) => {
                if (res.resultCode === 1) {
                  this.$alert('添加成功')
                  this.$router.push('/operation/redpacketlist')
                } else {
                  this.$alert(res.message, 'error')
                }
              }
            })
          } else {
            console.log('error submit!!')
            return false
          }
        })
      }
    }
  }
</script>

<style scoped lang="less">
@import './index.less';
</style>