@import '../../../assets/styles/color';
.title{
  background-color: #fff;
  line-height:56px;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}
.redpacket-form{
  background-color: #fff;
  margin-top: 15px;
  .create-form{
    padding: 15px 0;
  }
}
.batch-table-list {
  border: 1px dashed #ddd;
  background: @bgColor;
  margin-top: 15px;
  .policy-add {
    cursor: pointer;
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: @font666;
    text-align: center;
    background: #eee;
    border-bottom: none;
    span {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 22px;
      font-size: 24px;
      border-radius: 5px;
      border: 2px solid @font999;
    }
  }
  li {
    margin: 0 20px;
    border-top: 1px dashed #ddd;
    &:first-child {
      border-top: none;
    }
    .policy-txt {
      float: left;
      width: 460px;
      color: @font666;
      .policy-title {
        font-size: 14px;
        color: #000;
      }
      .tag {
        display: inline-block;
        margin: 5px 5px 0 0;
        padding: 0px 5px;
        font-size: 12px;
        color: @font666;
        background: @mainbgColor;
        border-radius: 4px;
        // border: 1px dashed @mainColor;
      }
    }
    .policy-price {
      float: left;
      width: 200px;
      color: @font666;
      .price {
        font-size: 18px;
        color: @mainColor;
      }
    }
    .policy-menu {
      float: left;
      width: 40px;
      text-align: right;
      line-height: 50px;
      margin-top: 15px;
      span, a {
        cursor: pointer;
        color: @mainColor;
        padding: 0 5px;
      }
    }
  }
}