<style lang="less">
@import './index';
</style>
<template>
  <div class="remit-list">
    <div class="title">
      &nbsp;&nbsp;&nbsp;交易管理/批量打款记录
    </div>
      <div class="filter-bar">
      <el-date-picker
        v-model="dateRange"
        type="daterange"
        @change="getRemitList"
        :picker-options="pickerSelect"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
      <el-select v-model="sta" placeholder="请选择状态" @change="getRemitList" clearable>
        <el-option
          v-for="(item, index) in selectData"
          :key="index"
          :label="item.status"
          :value="item.statusCode">
        </el-option>
      </el-select>
      <el-button type="primary">导出</el-button>
  </div>
      <div style="padding:0 10px 10px 10px;background-color:#fff;">
        <el-table
        :data="tableData"
        stripe
        style="width: 100%">
        <el-table-column
          prop="createTime"
          label="批次创建时间"
          fixed="left"
          align="center"
          min-width="180px">
          <template slot-scope="data">
          {{time(data.row.createTime * 1000, 'yyyy-MM-dd hh:mm:ss')}}
        </template>
        </el-table-column>
        <el-table-column
          prop="batchName"
          label="批次号"
          align="center"
          min-width="220px">
        </el-table-column>
        <el-table-column
          prop="totalCount"
          label="打款记录（条）"
          align="center"
          min-width="120px">
          <template slot-scope="data">
          {{data.row.totalCount || 0}}
        </template>
        </el-table-column>
        <el-table-column
          prop="totalAmount"
          label="请求打款金额（元）"
          align="center"
          min-width="150px">
          <template slot-scope="data">
          {{data.row.totalAmount || 0}}
        </template>
        </el-table-column>
        <el-table-column
          prop="paySuccessAmount"
          label="实际打款金额（元）"
          align="center"
          min-width="150px">
          <template slot-scope="data">
          <!-- {{data.row.paySuccessAmount || 0}} -->
          {{data.row.status === 20 || data.row.status === 30 ? data.row.checkPassAmount || 0 : data.row.paySuccessAmount || 0}}
        </template>
        </el-table-column>
        <el-table-column
          prop="creator"
          label="批次创建人"
          align="center"
          min-width="200px">
        </el-table-column>
        <el-table-column
          prop="operator"
          label="打款操作人"
          align="center"
          min-width="200px">
        </el-table-column>
        <el-table-column
          prop="status"
          fixed="right"
          label="状态"
          align="center"
          min-width="80px">
          <template slot-scope="data">
          {{statusDispose(data.row.status)}}
          <div v-if="data.row.status=== 41" style="font-size:12px;">部分失败</div>
        </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          align="center"
          min-width="80px">
          <template slot-scope="scope">
            <el-button @click="checkDetail(scope.row)" type="text" size="small">查看详情</el-button>
          </template>
        </el-table-column>
      </el-table>
      </div>
      <Pages :total="totalSize" :pageSize="pageSize"  @changePages="changePages" style="text-align:center;background-color:#fff;padding:10px 0;margin-top:15px;"></Pages>
      <el-dialog
        :title="statusTitle"
        :visible.sync="remitDialog"
        width="80%">
        <div class='detail-bar'>
          <span>批次名称&nbsp;<span class="text">{{batchName}}</span></span>
          |
          <span>状态&nbsp;<span class="text">{{status}}</span></span>
          |
          <span>合计&nbsp;<span class="text">{{sum}}</span>笔</span>
          |
          <span>总金额&nbsp;<span class="text">{{totalAmount}}</span>元</span>
        </div>
        <statistics-bar :accessBi='accessBi' :accessYuan="accessYuan" :loseBi="loseBi" :loseYuan="loseYuan" :serviceYuan="serviceYuan" :serviceBi="serviceBi"></statistics-bar>
        <remit-table :tableData='tableData2' operationName='-/-' :serviceYuan="serviceYuan"></remit-table>
        <Pages :total="totalSize2" :pageSize="pageSize2"  @changePages="changePages2" style="text-align:center;padding:10px 0;"></Pages>
      </el-dialog>
  </div>
</template>

<script>
  import filterBar from 'pages/upay/components/filter-bar'
  import statisticsBar from 'pages/upay/components/statistics-bar'
  import remitTable from 'pages/upay/components/remit-table'
  import Pages from 'components/public/pages'
  import Request from 'utils/request'
  export default {
    data () {
      return {
        dateRange: [],
        time: this.$dateFormat,
        selectData: [
          {
            statusCode: 10,
            status: '待锁定'
          }, {
            statusCode: 20,
            status: '待打款'
          }, {
            statusCode: 30,
            status: '打款中'
          }, {
            statusCode: 40,
            status: '已打款'
          }, {
            statusCode: 41,
            status: '已打款(部分失败)'
          }, {
            statusCode: 50,
            status: '已取消'
          }
        ],
        selected: '',
        tableData: [],
        tableData2: [],
        page: 1,
        pageSize: 10,
        totalSize: 0,
        page2: 1,
        pageSize2: 10,
        totalSize2: 0,
        batchName: '',
        status: '',
        sta: '',
        statusTitle: '',
        accessBi: 0,
        accessYuan: 0,
        loseBi: 0,
        loseYuan: 0,
        serviceBi: 0,
        serviceYuan: 0,
        statusCodes: '',
        sum: 0,
        totalAmount: 0,
        remitDialog: false,
        pickerSelect: {
          disabledDate (time) {
            return time.getTime() > Date.now()
          },
          onPick: ({ maxDate, minDate }) => {
            if (!maxDate) return
            this.dateRange = [minDate, maxDate]
          }
        }
      }
    },
    components: {
      filterBar,
      Pages,
      statisticsBar,
      remitTable
    },
    mounted () {
      this.getRemitList()
      this.weekDate()
    },
    methods: {
      statusDispose (status) {
        if (status === 10) {
          return '待锁定'
        } else if (status === 20) {
          return '待打款'
        } else if (status === 30) {
          return '打款中'
        } else if (status === 40) {
          return '已打款'
        } else if (status === 41) {
          return '已打款'
        } else if (status === 50) {
          return '已取消'
        } else if (status === 61) {
          return '打款失败'
        }
      },
      checkDetail (val) {
        // 10 待锁定 20 待打款 30 打款中 40 已打款 41 已打款（部分失败） 50 已取消
        switch (val.status) {
          case 10:
            // 跳转至锁定打款页
            this.$router.push(`/upay/trade/remit/lock?batchName=${val.batchName}`)
            break
          case 20:
            // 跳转至开始打款状态页
            this.$router.push(`/upay/trade/remit/start?batchName=${val.batchName}`)
            break
          case 30:
            // 跳转至开始打款状态页
            this.$router.push(`/upay/trade/remit/start?batchName=${val.batchName}`)
            break
          case 40:
            // 跳转至已打款状态页
            this.getTooTipData(40, val.batchName)
            this.batchName = val.batchName
            this.statusTitle = '交易管理/打款列表/已打款'
            this.status = '已打款'
            this.remitDialog = true
            break
          case 41:
            // 跳转至已打款状态页
            this.getTooTipData(41, val.batchName)
            this.batchName = val.batchName
            this.statusTitle = '交易管理/打款列表/已打款（部分失败）'
            this.status = '已打款（部分失败）'
            this.statusCodes = 41
            this.remitDialog = true
            break
          case 50:
            // 跳转至已取消状态页
            this.getTooTipData(50, val.batchName)
            this.statusTitle = `交易管理/打款列表/已取消`
            this.statusCodes = 50
            this.status = `已取消`
            this.remitDialog = true
            break
          case 61:
            // 跳转至已取消状态页
            this.getTooTipData(61, val.batchName)
            this.statusTitle = `交易管理/打款列表/已失败`
            this.statusCodes = 61
            this.status = `已失败`
            this.remitDialog = true
            break
        }
      },
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.getRemitList()
      },
      changePages2 (page, limit) {
        this.page2 = !page ? 1 : page
        this.pageSize2 = !limit ? 10 : limit
        this.getTooTipData(this.statusCodes, this.batchName)
      },
      weekDate () {
        let date = Date.now()
        this.$set(this.dateRange, 1, date)
        this.$set(this.dateRange, 0, date - 604800000)
      },
      // 获取打款列表接口
      getRemitList () {
        Request.post({
          url: '/account/remittance/list',
          data: {
            startTime: this.$dateFormat(this.dateRange[0], 'yyyy-MM-dd hh:mm:ss'),
            endTime: this.$dateFormat(this.dateRange[1], 'yyyy-MM-dd 23:59:59'),
            status: this.sta,
            pageStart: this.page,
            pageSize: this.pageSize
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.data
              this.tableData = data
              this.totalSize = res.totalSize
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      },
      // 已打款 未打款数据列表获取
      getTooTipData (status, batchName) {
        Request.post({
          url: '/account/remittance/batchDetail',
          data: {
            batchName: batchName,
            status: status,
            pageStart: this.page2,
            pageSize: this.pageSize2
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.data
              this.accessBi = data.checkPassCount
              this.accessYuan = data.checkPassAmount
              this.loseBi = data.failCount
              this.loseYuan = data.failAmount
              this.serviceBi = data.serviceChargeCount || 0
              this.serviceYuan = data.serviceCharge || 0
              this.sum = data.totalCount
              this.totalAmount = data.totalAmount
              this.batchName = batchName
              this.tableData2 = data.batchDetailInfos
              this.totalSize2 = res.totalSize
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
      }
    }
  }
</script>