.remit-list{
  .title{
    background-color: #fff;
    line-height:56px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }
  .detail-bar{
    margin-top: 15px;
    background-color: #fff;
    padding: 15px;
    font-size: 16px;
    .text{
      color: #ff9900;
    }
  }
  .el-dialog__body{
    padding: 0 15px;
  }
  .filter-bar{
    padding: 10px;
    margin-top: 15px;
    background-color: #fff;
  }
  .tooltip{
    margin-top: 15px;
    background-color: #fff;
    line-height: 36px;
    color: #ff9900;
    padding-left: 15px;
  }
}