<style lang="less">
  @import "./index.less";
</style>

<template>
  <div class="content account">
    <div class="user-left">
      <div class="avatar">
        <img v-if="userAvatar" :src="userAvatar" alt="">
        <i v-else class="iconfont icon-yonghu"></i>
        {{userName || '用户名'}}
      </div>
      <ul class="nav">
        <router-link to="/accmanage/setting" tag="li"><i class="iconfont icon-shezhi"></i> 设置</router-link>
        <router-link to="/accmanage/personnels" tag="li" v-privilege="'H103'"><i class="iconfont icon-yonghu"></i> 子账户</router-link>
      </ul>
    </div>
    <div class="user-right">
      <router-view></router-view>
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        userAvatar: this.$getCookie('_youjia_user_avatar'),
        userName: this.$getCookie('_youjia_user_name'),
        isLogin: this.$getCookie('_youjia_token'),
        height: 500
      }
    },
    mounted () {
      this.height = window.innerHeight - 130
      window.onresize = () => {
        this.height = window.innerHeight - 130
      }
    }
  }
</script>
