@import '../../assets/styles/color';
.account {
  min-height: 420px;
  padding: 30px 0;
}
.user-left {
  height: 100%;
  float: left;
  width: 240px;
  background-color: #fff;
  line-height: 50px;
  border-radius: 4px;
  .avatar {
    margin: 20px;
    border-bottom: 1px solid @lineColor;
    text-align: center;
    img {
      width: 150px;
      height: 150px;
      border-radius: 100px;
      display: block;
      margin: 0 auto;
    }
    .icon-yonghu {
      line-height: 150px;
      display: block;
      margin: 0 auto;
      font-size: 100px;
      color: @font666;
    }
  }
  .nav {
    margin: 20px;
    li {
      cursor: pointer;
      padding-left: 50px;
      // text-align: center;
      &.active {
        color: @mainColor;
      }
    }
  }
}
.user-right {
  height: 100%;
  float: left;
  width: 940px;
  margin-left: 20px;
  border-radius: 4px;
  background-color: #fff;
}