<template>
  <div>
    <el-dialog
      :title="title"
      :visible="show"
      width="1200px"
      @close="closeDialog">
        <el-form
          label-width="160px"
          :model="form"
          :inline="true"
          class="demo-form-inline el-inline"
          :rules="rules">
          <el-form-item label="保险公司:">
            <el-select 
              placeholder="请选择保险公司"
              v-model="form.insCompanyCode"
              @change="changeCompany"
              style="width:180px"
              class="changesmall">
              <el-option
                v-for="(val, key) of insCompanys"
                :key="key"
                :label="val"
                :value="key">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="业务来源:" v-if="isZhongmei">
              <el-input v-model="form.businessSource" style="width:180px" placeholder="例:313"></el-input>
          </el-form-item>
          <el-form-item label="账号:" v-if="isZhongmei">
              <el-input v-model="form.accountId" style="width:180px" placeholder="例:THIRDLqOuloft20190227111159904zmHMYJ"></el-input>
          </el-form-item>
          <el-form-item label="业务归属机构名称:" v-if="isHuahai">
              <el-input v-model="form.dptNme" style="width:180px" placeholder="例:青岛分公司营业本部业务一部"></el-input>
          </el-form-item>
          <el-form-item label="业务归属机构代码:" v-if="isHuahai">
              <el-input v-model="form.dptCde" style="width:180px" placeholder="例:1073000001"></el-input>
          </el-form-item>
          <el-form-item label="保单归属地市:" v-if="isHuahai">
              <el-input v-model="form.areaFlag" style="width:180px"></el-input>
          </el-form-item>
          <el-form-item label="保单归属区县:" v-if="isHuahai">
              <el-input v-model="form.countryFlag" style="width:180px"></el-input>
          </el-form-item>
          <el-form-item label="代理人名称:" v-if="isHuahai">
              <el-input v-model="form.brkrNme" style="width:180px" placeholder="例:青岛海尔保险代理有限公司"></el-input>
          </el-form-item>
          <el-form-item label="代理人代码:" v-if="isHuahai">
              <el-input v-model="form.brkrCde" style="width:180px" placeholder="例:U1073001000023"></el-input>
          </el-form-item>
          <el-form-item label="代理协议代码:" v-if="isHuahai">
              <el-input v-model="form.brkAgreementNo" style="width:180px" placeholder="例:U1073001000023-01"></el-input>
          </el-form-item>
          <el-form-item label="归属业务员名称:" v-if="isHuahai">
              <el-input v-model="form.slsNme" style="width:180px" placeholder="例:赵旭琴"></el-input>
          </el-form-item>
          <el-form-item label="归属业务员工号:" v-if="isHuahai">
              <el-input v-model="form.slsCde" style="width:180px" placeholder="例:101073001031"></el-input>
          </el-form-item>
          <el-form-item label="归属出单员名称:" v-if="isHuahai">
              <el-input v-model="form.operNme" style="width:180px" placeholder="例:华海虚拟出单员"></el-input>
          </el-form-item>
          <el-form-item label="归属出单员代码:" v-if="isHuahai">
              <el-input v-model="form.operCde" style="width:180px" placeholder="例:华海虚拟出单员"></el-input>
          </el-form-item>
          <!-- <el-form-item label="代理公司的业务员代码:" v-if="isHuahai">
              <el-input v-model="form.brkSlsCde" style="width:180px"></el-input>
          </el-form-item>
          <el-form-item label="代理公司的业务员名称:" v-if="isHuahai">
              <el-input v-model="form.brkSlsNme" style="width:180px"></el-input>
          </el-form-item>
          <el-form-item label="移动出单人员手机号:" prop="slsTel" v-if="isHuahai">
              <el-input v-model="form.slsTel" style="width:180px"></el-input>
          </el-form-item> -->
          <el-form-item label="省份:" v-if="createStatus === 1">
            <el-select 
              placeholder="请选择省"
              @change="getCity(0, $event)"
              v-model="form.countryCode"
              style="width:180px"
              class="changesmall">
              <el-option
                v-for="item of insProvinceCode"
                :key="item.id"
                :label="item.provincename"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="地市:" v-if="createStatus === 1">
            <el-select 
              placeholder="请选择市"
              @change="getCity(1, form.cityCode)"
              v-model="form.cityCode"
              style="width:180px"
              class="changesmall">
              <el-option
                v-for="item of insCitys"
                :key="item.id"
                :label="item.cityname"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="区/县:" v-if="createStatus === 1">
            <el-select
              placeholder="请选择区/县"
              class="changesmall"
              style="width:180px"
              v-model="form.areaCode">
              <el-option
                v-for="item of insCountys"
                :key="item.id"
                :label="item.districtname"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="折扣:" v-if="createStatus === 1">
              <el-input v-model="form.wantDis" style="width:180px" placeholder="请填入0-1之间的数值"></el-input>
          </el-form-item>
          <el-form-item label="是否生效:">
              <el-select v-model="form.status" placeholder="请选择状态" class="selectStyle" style="width:180px">
                <el-option label="生效" :value="0" class="selectStyle"></el-option>
                <el-option label="失效" :value="1" class="selectStyle"></el-option>
              </el-select>
          </el-form-item>
          <el-form-item label="备注:">
              <el-input v-model="form.remark" style="width:180px"></el-input>
          </el-form-item>
          <el-form-item label="用户名:">
              <el-input v-model="form.operCde" style="width:180px"></el-input>
          </el-form-item>
          <el-form-item label="密码:">
              <el-input v-model="form.password" style="width:180px" show-password></el-input>
          </el-form-item>
          <el-form-item label="渠道系数最低:" v-if="isHuahai">
              <el-input v-model="form.autoChaCoefMin" style="width:180px"></el-input>
          </el-form-item>
          <el-form-item label="核保系数最低:" v-if="isHuahai">
              <el-input v-model="form.autoCheCoefMin" style="width:180px"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="submit">提交</el-button>
        </span>
    </el-dialog>
    <!-- 修改出单账户 -->
  </div>
</template>
<style lang="less">
  @import "./index.less";
</style>


<script>
  import Request from 'utils/request'
  import insCompanys from 'types/insCompanyCode'
  import insProvinceCode from 'types/insProvinceCode'
  import {RegPhone} from 'utils/regCheck'

  export default {
    data () {
      return {
        RegPhone,
        insCompanys,
        insProvinceCode,
        insCitys: [],
        insCountys: [],
        title: this.createStatus === 1 ? '添加出单账户' : '出单账户修改',
        isPicc: false,
        isHuahai: false,
        isZhongmei: false,
        form: {
          channel: '1',
          insCompanyCode: ''
        },
        upForm: this.upDataForm,
        rules: {
          slsTel: [
            {pattern: RegPhone, trigger: 'blur', message: '电话格式错误'},
            {required: true, message: '此项必填', trigger: 'blur'}
          ]
        }
      }
    },
    props: {
      // 双向绑定数据
      show: {
        type: Boolean
      },
      createStatus: {
        type: Number
      },
      upDataForm: {
        type: Object
      }
    },
    watch: {
      upDataForm (val) {
        this.form = val || {insCompanyCode: '9850'}
        this.changeCompany(val ? val.insCompanyCode : 9850)
      }
    },
    mounted () {
      // this.changeCompany(9850)
    },
    methods: {
      closeDialog () {
        this.$parent.showCreateJobNo = false
      },
      changeCompany (code) {
        let v = +code
        this.isPicc = v === 9801
        this.isHuahai = v === 9850
        this.isZhongmei = v === 9821
      },
      getCity (index, id) {
        const arr = ['city', 'district']
        Request.get({
          url: `/base/${arr[index]}/${id}`,
          done: (res) => {
            if (res.resultCode === 1) {
              const list = res.dtoList
              // const form = this.form
              if (index) {
                this.insCountys = list
                this.$set(this.form, 'areaCode', list[0].id)
              } else {
                this.insCitys = list
                this.$set(this.form, 'cityCode', list[0].id)
                this.getCity(1, list[0].id)
              }
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      submit () {
        let form = this.form
        // if (form.dptNme === '') {
        //   this.$alert('业务归属机构名称不能为空')
        //   return
        // }
        // if (form.dptCde === '') {
        //   this.$alert('业务归属机构代码不能为空')
        //   return
        // }
        // if (form.slsNme === '') {
        //   this.$alert('归属业务员名称不能为空')
        //   return
        // }
        // if (form.slsCde === '') {
        //   this.$alert('归属业务员工号不能为空')
        //   return
        // }
        // if (form.operNme === '') {
        //   this.$alert('归属出单员名称不能为空')
        //   return
        // }
        // if (form.operCde === '') {
        //   this.$alert('归属出单员代码不能为空')
        //   return
        // }
        let code = +form.insCompanyCode
        let url = this.createStatus === 1 ? '/order/busBasedata/add' : '/order/busBasedata/update'
        this.form.channel = 1
        if (code === 9801) {
          form.channel = 2
        }
        this.singleAdd(url)
      },
      singleAdd (url) {
        Request.post({
          url,
          data: this.form,
          done: (res) => {
            if (res.resultCode === 1) {
              location.reload()
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      }
    }
  }
</script>
