<template>
  <el-dialog
    class="animateFast"
    title="添加批次"
    @close="closeDialog"
    :visible.sync="showDialog">
    <el-form class="dialog-form">
      <el-row :gutter="8">
        <el-col :span="5">
          <el-select v-model="form.index" placeholder="请选择">
            <el-option label="出单工号" :value="0"></el-option>
            <!-- <el-option label="保险公司" :value="1"></el-option> -->
          </el-select>
        </el-col>
        <el-col :span="19" v-if="form.index">
          <el-select v-model="form.insCompanyCode" placeholder="请选择保险公司">
            <el-option
              v-for="(val, key) in insCompanys"
              :key="key"
              :label="val"
              :value="key">
            </el-option>
          </el-select>
        </el-col>
        <el-col :span="19" v-else>
          <el-select v-model="form.jobId" placeholder="请选择出单工号">
            <el-option
              v-for="item of jobNo"
              :key="item.id"
              :label="`${insCompanys[item.insCompanyCode]}-${item.operNme || '业务员'}(${item.remark || '无备注'})`"
              :value="item.id">
            </el-option>
          </el-select>
        </el-col>
      </el-row>
      <el-row :gutter="8">
        <el-col :span="5">批次有效期</el-col>
        <el-col :span="9">
          <el-date-picker type="datetime" v-model="form.startDay" placeholder="批次生效日期" value-format="timestamp"></el-date-picker> 
        </el-col>
        <el-col :span="1">至</el-col>
        <el-col :span="9">
          <el-date-picker type="datetime" v-model="form.endDay" placeholder="批次截止日期" value-format="timestamp"></el-date-picker> 
        </el-col>
      </el-row>
      <el-row :gutter="8">
        <el-col :span="5">政策描述</el-col>
        <el-col :span="19">
          <el-input v-model="form.remark" placeholder="政策描述"></el-input> 
        </el-col>
      </el-row>
      <el-row :gutter="8">
        <el-button type="primary" @click="creatBatch">确定</el-button> <el-button type="default" @click="showDialog = false">取消</el-button>
      </el-row>
    </el-form>
  </el-dialog>
</template>

<script>
  import Request from 'utils/request'
  import insCompanys from 'types/insCompanyCode'
  
  export default {
    data () {
      return {
        insCompanys,
        form: {index: 0},
        showDialog: this.show || false
      }
    },
    props: {
      value: {
        type: Object
      },
      jobNo: {
        type: Array
      },
      show: {
        type: Boolean
      }
    },
    watch: {
      value (val) {
        let data = JSON.parse(JSON.stringify(val))
        data.startDay = new Date(data.startDay)
        data.endDay = new Date(data.endDay)
        data.index = 0
        this.form = data
      },
      show (val) {
        this.showDialog = val
      }
    },
    mounted () {
    },
    methods: {
      closeDialog () {
        this.$parent.showCreateBatch = false
      },
      creatBatch () {
        const uri = this.form.id ? '/policy/batchs/update' : '/policy/batchs/addBatch'
        Request.post({
          url: uri,
          data: this.form,
          done: (res) => {
            if (res.resultCode === 1) {
              window.location.reload()
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      }
    }
  }
</script>
