@import '../../../../assets/styles/color';
.el-inline{
  text-align: left
}
.selectStyle{
  width: 180px;
}
.changesmall{
  width: 180px;
}
.changeBtn {
  position: absolute;
  top: 20px;
  right: 130px;
}