<template>
  <div>
    <el-dialog
      title="添加出单账户(人保)"
      :visible="true"
      width="1200px"
      @close="closeDialog"
      v-if="createStatus === 3"
      >
        <el-form
          label-width="160px"
          :model="form"
          :inline="true"
          class="demo-form-inline el-inline"
          :rules="rules"
          >
          <el-form-item label="省份:">
            <el-select 
              placeholder="请选择省"
              @change="getCity(0, $event)"
              v-model="form.countryCode"
              class="changesmall"
              style="width:180px"
              >
              <el-option
                v-for="item of insProvinceCode"
                :key="item.id"
                :label="item.provincename"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="地市:">
            <el-select 
              placeholder="请选择市"
              @change="getCity(1, form.cityCode)"
              v-model="form.cityCode"
              style="width:180px"
              class="changesmall"
              >
              <el-option
                v-for="item of insCitys"
                :key="item.id"
                :label="item.cityname"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="区/县:">
            <el-select 
              placeholder="请选择区/县"
              style="width:180px"
              class="changesmall"
              v-model="form.areaCode">
              <el-option
                v-for="item of insCountys"
                :key="item.id"
                :label="item.districtname"
                :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="出单员姓名" v-if="form.channel === 1">
           <el-input v-model="form.operNme" style="width:180px"></el-input>
          </el-form-item>
          <el-form-item label="出单员工号/账号" v-if="form.channel === 1">
           <el-input v-model="form.operCde" style="width:180px"></el-input>
          </el-form-item>
          <el-form-item label="密码" v-if="form.channel === 1">
           <el-input v-model="form.password" type="password" style="width:180px"></el-input>
          </el-form-item>
            <el-form-item label="移动出单人员手机号:" prop="slsTel" v-if="form.channel === 1">
                <el-input v-model="form.slsTel" style="width:180px"></el-input>
            </el-form-item>
            <el-form-item label="折扣:" v-if="form.channel === 1">
              <el-input v-model="form.wantDis" placeholder="请填入0-1之间的数值" style="width:180px"></el-input>
            </el-form-item>
            <el-form-item label="是否生效:">
                <el-select v-model="form.status" placeholder="请选择状态" class="selectStyle" style="width:180px">
                  <el-option label="生效" value="0" class="selectStyle"></el-option>
                  <el-option label="失效" value="1" class="selectStyle"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="备注:">
                <el-input v-model="form.remark" style="width:180px"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="closeDialog">取 消</el-button>
          <el-button type="primary" @click="singleAddOrUp()">提交</el-button>
        </span>
    </el-dialog>
    <!-- 出单账户修改 -->
    <el-dialog
    title="出单账户修改（人保）"
    :visible="true"
    width="1200px"
    @close="closeDialog"
    v-if="createStatus === 4"
    >
      <el-form
        label-width="160px"
        :model="upForm"
        :inline="true"
        :rules="rules"
        class="demo-form-inline el-inline"
        >
        <el-button class="changeBtn" type="success" icon="el-icon-edit" @click="reviseMes">修改</el-button>
        <el-form-item label="出单员姓名">
           <el-input v-model="upForm.operNme" :disabled="disabled" style="width:180px"></el-input>
        </el-form-item>
        <el-form-item label="出单员工号/账号">
          <el-input v-model="upForm.operCde" :disabled="disabled" style="width:180px"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input v-model="upForm.password" @blur="getSelMes('dptNme', 'upForm')" type="password" :disabled="disabled" style="width:180px"></el-input>
        </el-form-item>
        <el-form-item label="业务归属部门">
          <el-select
            :placeholder="placeholder"
            class="changesmall"
            v-model="upForm.dptCde"
            @change="getSelMes('slsNme', 'upForm')"
            :loading="loadBox.load1"
            :disabled="disabled"
            filterable
            style="width:180px"
            >
            <el-option
              v-for="item of sectionSel"
              :key="item.value"
              :label="item.text"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="业务归属人">
          <el-select 
            placeholder="请选择归属人"
            class="changesmall"
            :disabled="disabled1"
            v-model="upForm.slsCde"
            :loading="loadBox.load2"
            filterable
            style="width:180px"
            @change="getSelMes('brkrNme', 'upForm')"
            >
            <el-option
              v-for="item of personSel"
              :key="item.value"
              :label="item.text"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="经办人">
          <el-select 
            placeholder="请选择经办人"
            class="changesmall"
            :disabled="disabled1"
            filterable
            style="width:180px"
            v-model="upForm.brkrCde"
            :loading="loadBox.load3"
            @change="getSelMes('business', 'upForm')"
            >
            <el-option
              v-for="item of operatorSel"
              :key="item.value"
              :label="item.text"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="业务来源">
          <el-select 
            placeholder="请选择业务来源"
            class="changesmall"
            :disabled="disabled1"
            :loading="loadBox.load4"
            style="width:180px"
            filterable
            v-model="upForm.businessSource"
            @change="getSelMes('tax', 'upForm')"
            >
            <el-option
              v-for="item of businessSel"
              :key="item.value"
              :label="item.text"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="税务部门">
          <el-select
            placeholder="请选择税务部门"
            class="changesmall"
            :disabled="disabled1"
            v-model="upForm.taxCode"
            style="width:180px"
            filterable
            @change="getSelMes('agentPoint', 'upForm')"
            :loading="loadBox.load5"
            >
            <el-option
              v-for="item of taxSel"
              :key="item.value"
              :label="item.text"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="业务渠道">
          <el-select
            placeholder="请选择业务渠道"
            class="changesmall"
            :disabled="disabled1"
            style="width:180px"
            v-model="upForm.agentPoint"
            filterable
            @change="inputShow"
            :loading="loadBox.load6"
            >
            <el-option
              v-for="item of agentPointSel"
              :key="item.value"
              :label="item.text"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <template>
          <el-form-item label="移动出单人员手机号:" prop="slsTel">
              <el-input v-model="upForm.slsTel" style="width:180px" :disabled="disabled1"></el-input>
          </el-form-item>
          <el-form-item label="折扣:">
            <el-input v-model="upForm.wantDis" style="width:180px" placeholder="请填入0-1之间的数值" :disabled="disabled1"></el-input>
          </el-form-item>
          <el-form-item label="是否生效:">
              <el-select v-model="upForm.status" style="width:180px" placeholder="请选择状态" class="selectStyle" :disabled="disabled1">
                <el-option label="生效" :value="0" class="selectStyle"></el-option>
                <el-option label="失效" :value="1" class="selectStyle"></el-option>
              </el-select>
          </el-form-item>
          <el-form-item label="备注:">
              <el-input v-model="upForm.remark" style="width:180px" :disabled="disabled1"></el-input>
          </el-form-item>
        </template>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="closeDialog">取 消</el-button>
        <el-button type="primary" @click="singleAddOrUp('upForm')">提交</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="less">
  @import "./index.less";
</style>


<script>
  import Request from 'utils/request'
  import insCompanys from 'types/insCompanyCode'
  import insProvinceCode from 'types/insProvinceCode'
  import {RegPhone} from 'utils/regCheck'

  export default {
    data () {
      return {
        insCitys: [],
        insCountys: [],
        insCompanys,
        RegPhone,
        placeholder: '请先填写账号密码',
        insProvinceCode,
        form: {
          insCompanyCode: '9801',
          channel: 1
        },
        upForm: this.upDataForm,
        rules: {
          slsTel: [
            {pattern: RegPhone, trigger: 'blur', message: '电话格式错误'},
            {required: true, message: '此项必填', trigger: 'blur'}
          ]
        },
        disabled: true,
        disabled1: true,
        sectionSel: [],
        personSel: [],
        operatorSel: [],
        businessSel: [],
        taxSel: [],
        agentPointSel: [],
        isinputShow: false,
        loadBox: {
          load1: false,
          load2: false,
          load3: false,
          load4: false,
          load5: false,
          load6: false
        }
      }
    },
    props: {
      createStatus: {
        type: Number
      },
      upDataForm: {
        type: Object
      }
    },
    watch: {
    },
    mounted () {
      if (this.upForm) {
        this.informationMatching()
        let data = ''
        if (this.upForm.agentPoint) data = this.upForm.agentPoint
        this.$set(this.upForm, 'agentPoint', data)
      }
    },
    methods: {
      closeDialog () {
        this.$parent.showJdy = false
      },
      getCity (index, id) {
        const arr = ['city', 'district']
        Request.get({
          url: `/base/${arr[index]}/${id}`,
          done: (res) => {
            if (res.resultCode === 1) {
              const list = res.dtoList
              // const form = this.form
              if (index) {
                this.insCountys = list
                this.$set(this.form, 'areaCode', list[0].id)
              } else {
                this.insCitys = list
                this.$set(this.form, 'cityCode', list[0].id)
                this.getCity(1, list[0].id)
              }
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      singleAddOrUp (upForm) {
        let url = upForm ? '/order/busBasedata/update' : '/order/busBasedata/add'
        if (upForm) {
          this.assignment('upForm')
          for (let i in this.upForm) {
            if (this.upForm[i] === '') {
              this.$alert('修改出单账户每一项不能为空', 'warning')
              return false
            }
          }
        } else {
          let Num = []
          for (let i in this.form) {
            Num.push(i)
          }
          if (Num.length < 10 && this.form.channel === 1) {
            this.$alert('添加出单工号每一项必填', 'warning')
            return
          }
        }
        let form = upForm ? this.upForm : this.form
        Request.post({
          url,
          data: form,
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('批单工号添加成功')
              setTimeout(() => {
                location.reload()
              }, 1000)
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      creatJobNo () {
        Request.post({
          url: '/base/jobNumbers',
          data: this.form,
          done (res) {
            window.location.reload()
          }
        })
      },
      // 获取下拉选项信息
      getSelMes (val, fla) {
        let data, form
        form = fla === 'upForm' ? this.upForm : this.form
        if (!form.operCde || !form.password || !form.cityCode) {
          this.$alert('请从左到右依次填写信息', 'warning')
          return false
        }
        data = {
          username: form.operCde,
          password: form.password,
          cityCode: form.cityCode,
          searchType: val
        }
        if (fla === 'upForm') {
          if (val !== 'dptNme') {
            data.belongDepartment = form.dptCde
          }
          if (val === 'slsNme') {
            this.disabled1 = false
            this.upForm.slsCde = ''
            this.upForm.brkrCde = ''
            this.upForm.businessSource = ''
            this.upForm.taxCode = ''
            this.upForm.agentPoint = ''
            this.personSel = []
            this.operatorSel = []
            this.businessSel = []
            this.taxSel = []
            this.agentPointSel = []
          }
          if (val === 'agentPoint') {
            data.belongPerson = form.slsCde
            data.businessSrc = form.businessSource
          }
          this.loading(val)
        } else {
          if (val !== 'dptNme') {
            data.belongDepartment = form.dptCde
          }
          this.loading(val)
        }
        Request.post({
          url: '/order/jdy/accountsOptions',
          data,
          done: (res) => {
            if (res.resultCode === 1) {
              if (val === 'dptNme') {
                this.loadBox.load1 = false
                if (fla === 'upForm') {
                  this.placeholder = '请选择业务归属部门'
                }
                this.sectionSel = res.yobeeAccountsOptionsResVo.options
              }
              if (val === 'slsNme') {
                this.loadBox.load2 = false
                this.personSel = res.yobeeAccountsOptionsResVo.options
              }
              if (val === 'brkrNme') {
                this.loadBox.load3 = false
                this.operatorSel = res.yobeeAccountsOptionsResVo.options
              }
              if (val === 'business') {
                this.loadBox.load4 = false
                this.businessSel = res.yobeeAccountsOptionsResVo.options
              }
              if (val === 'tax') {
                this.loadBox.load5 = false
                this.taxSel = res.yobeeAccountsOptionsResVo.options
              }
              if (val === 'agentPoint') {
                this.loadBox.load6 = false
                this.agentPointSel = res.yobeeAccountsOptionsResVo.options
              }
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      assignment (upForm) {
        let form = upForm ? this.upForm : this.form
        this.sectionSel.forEach(ele => {
          if (ele.value === form.dptCde) {
            form.dptNme = ele.text
          }
        })
        this.taxSel.forEach(ele => {
          if (ele.value === form.taxCode) {
            form.taxContent = ele.text
          }
        })
        this.businessSel.forEach(ele => {
          if (ele.value === form.businessSource) {
            form.businessContent = ele.text
          }
        })
        this.personSel.forEach(ele => {
          if (ele.value === form.slsCde) {
            form.slsNme = ele.text
          }
        })
        this.operatorSel.forEach(ele => {
          if (ele.value === form.brkrCde) {
            form.brkrNme = ele.text
          }
        })
        this.agentPointSel.forEach(ele => {
          if (ele.value === form.agentPoint) {
            form.agentPointDesc = ele.text
          }
        })
        if (upForm) {
          this.upForm = form
        } else {
          this.form = form
        }
      },
      loading (val, upForm) {
        if (val === 'dptNme') {
          this.loadBox.load1 = true
        }
        if (val === 'slsNme') {
          this.loadBox.load2 = true
        }
        if (val === 'brkrNme') {
          this.loadBox.load3 = true
        }
        if (val === 'business') {
          this.loadBox.load4 = true
        }
        if (val === 'tax') {
          this.loadBox.load5 = true
        }
      },
      inputShow (data) {
        this.$set(this.upForm, 'agentPoint', data)
      },
      reviseMes () {
        this.disabled = false
        this.upForm.password = ''
        this.upForm.dptCde = ''
        this.$alert('请先填写账号/密码，选择业务归属部门')
      },
      informationMatching () {
        this.sectionSel = [{text: this.upForm.dptNme, value: this.upForm.dptCde}]
        this.personSel = [{text: this.upForm.slsNme, value: this.upForm.slsCde}]
        this.operatorSel = [{text: this.upForm.brkrNme, value: this.upForm.brkrCde}]
        this.businessSel = [{text: this.upForm.businessContent, value: this.upForm.businessSource}]
        this.taxSel = [{text: this.upForm.taxContent, value: this.upForm.taxCode}]
        this.agentPointSel = [{text: this.upForm.agentPointDesc, value: this.upForm.agentPoint}]
      }
    }
  }
</script>
