@import '../../assets/styles/color';

.footer {
  border-top: 1px solid #eee;
  background: #fff;
  color: @footerColor;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  .footer-box {
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
  }
  a {
    color: @footerColor;
  }
  .footer-left {
    float: left;
    width: 600px;
    text-align: left;
    font-size: 12px;
    img {
      display: block;
      float: left;
      width: 80px;
      margin-right: 10px;
    }
    .title {
      float: left;
      width: 280px;
      font-size: 18px;
      line-height: 30px;
      border-bottom: 1px solid @lineColor;
    }
    .des {
      float: left;
      width: 280px;
      span.right20 {
        margin-right: 20px;
      }
    }
  }
  .footer-right {
    float: left;
    width: 600px;
    text-align: right;
    font-size: 12px;
  }
}