<style lang='less'>
  @import './index.less';
</style>

<template>
  <div class='footer'>
    <div class="footer-box">
      <span> © 2018 <a href="http://www.u-bx.com">u-bx.com</a> 版权所有 &nbsp;|&nbsp; 苏ICP备18014330号-1</span>
      <!-- <div class="footer-left">
        <img src="https://oss-img.u-bx.com/images/trade/youjia-weixin.png" alt="">
        <div class="title">@有家保险</div>
        <div class="des">
          <span class="right20">电话：13366228818</span>
          <span>邮箱：bd@u-bx.com</span>
          <br>
          <span>地址：北京市海淀区上地东路35号颐泉汇2号楼220</span>
        </div>
      </div>
      <div class="footer-right">
        有家保险的全部保险产品均由保险公司承保，本公司为第三方技术平台。<br>
        © 2018 <a href="http://www.u-bx.com">u-bx.com</a> 版权所有 <br>
        苏ICP备1801433号-1 
      </div> -->
      <div class="clearfix"></div>
    </div>
  </div>
</template>
