@import '../../../assets/styles/color';
.order-list-page {
  padding: 20px;
  margin-bottom: 50px;
  background: #fff;
  min-height: 600px;
  .title {
    font-size: 18px;
    padding-bottom: 10px;
    color: @font999;
    border-bottom: 1px solid @lineColor;
    .tabBtn {
      float: right;
      margin: 0 10px;
    }
  }
  .search-input {
    span {
      cursor: pointer;
      color: @mainColor;
    }
  }
  .order-list {
    li {
      border: 1px solid @lineColor;
      margin-top: 20px;
      .ol-header {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        background: @bgColor;
        font-size: 16px;
        span {
          display: inline-block;
          margin-right: -3px;
        }
        .time {
          width: 200px;
          color: @font999
        }
        .order-no {
          width: 300px;
          a {
            color: @font666;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .auto {
          text-align: right;
          width: 200px;
          i {
            font-style: normal;
          }
        }
      }
      .order {
        padding: 0 20px;
        .car-no{
          width: 200px;
          padding: 35px 0 0;
          .number {
            font-size: 26px;
          }
          .info {
            color: @font999;
          }
        }
        .price {
          color: @mainColor;
          line-height: 110px;
          width: 410px;
          b {
            font-size: 26px;
            font-weight: bold;
          }
        }
        .status {
          font-size: 18px;
          margin: 42px 20px 0 0;
          span {
            display: block;
            font-size: 12px;
            color: @font999;            
          }
        }
        .status-info {
          display:table-cell;
          vertical-align:middle;
          width: 280px;
          height: 110px;
          line-height: 20px;
          color: @font999;
        }
        .button {
          float: right;
          cursor: pointer;
          margin-top: 35px;
          color: @mainColor;
          a {
            display: block;
            width: 100px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            text-align: center;
            color: @mainColor;
            border: 1px solid @mainColor;
            border-radius: 4px;
            span {
              line-height: 20px;
              display: block;
              text-align: center;
              font-size: 12px;
            }
          }
          
        }
      }
    }
  }
  .tips {
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    color: @mainColor;
  }
  .el-pagination {
    margin: 20px;
    text-align: center;
  }
}