<style lang="less">
  @import "./index.less";
</style>

<template>
<div class="content">
  <div class="order-list-page" :style="{'min-height': height + 'px'}">
    <div class="title">
      <el-row>
        <el-col :span="12" style="line-height:40px">
          车险保单 
          <el-button class="tabBtn" type="primary" @click="creatOrder">新建支付单</el-button>
        </el-col>
        <el-col :span="12">
          <el-input v-model="searchStr" class="search-input" placeholder="输入车牌、车架号、车主或订单号查询订单" @keyup.enter.native="searchOrder">
            <span class="el-icon-close el-input__icon" slot="suffix" @click="() => {searchStr = ''; searchOrder()}"></span>
            <span slot="append" @click="searchOrder">搜索</span>
          </el-input>
        </el-col>
      </el-row>
    </div>
    <ul v-if="orders.length" class="order-list">
      <li v-for="(item, i) in orders" :key="item.id + i">
        <div class="ol-header">
          <span class="time">{{item.created}}</span>
          <span class="order-no">订单号：{{item.id}}</span> 
        </div>
        <div class="order">
          <div class="car-no box-left">
            <div class="number">{{item.licenseNo}}</div>
            <div class="info">{{item.piccUserName}}</div>
          </div>
          <div class="price box-left"> ￥<b> {{item.total_money}}</b> 推广费用：<b> {{item.commission}}</b></div>
          <div class="status blue box-left">{{insStatus[item.status]}}</div>
          <div class="button">
            <el-dropdown>
              <el-button type="primary">
                操作 <i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>
                  <div @click="showDialog = true" v-if="!item.pay_time">发送支付链接</div>
                </el-dropdown-item>
                <!-- <el-dropdown-item>
                  <div @click="creatOrder(item.id)">编辑</div>
                </el-dropdown-item>
                <el-dropdown-item>
                  <div @click="creatOrder">删除</div>
                </el-dropdown-item> -->
              </el-dropdown-menu>
            </el-dropdown>
          </div>
          <div class="clearfix"></div>
        </div>
      </li>
    </ul>
    <div v-else class="tips">
      暂时没有数据
    </div>
    <el-pagination
      v-if="total"
      @size-change="changeSize"
      @current-change="changeCurrent"
      :current-page="page"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      layout="total, prev, pager, next, sizes"
      :total="total">
    </el-pagination>
  </div>
  <personnel :show="showDialog" @toggleDialog="showDialog = false"></personnel>
</div>
</template>

<script>
  import Request from 'utils/request'
  import personnel from '../model/personnel'

  export default {
    data () {
      return {
        insStatus: ['新建', '待支付', '超时', '支付中', '支付成功', '支付失败'],
        total: 0,
        status: 0,
        page: 1,
        pageSize: 10,
        showDialog: false,
        orders: [],
        searchStr: undefined,
        height: 500
      }
    },
    mounted () {
      this.onReady()
    },
    components: {
      personnel
    },
    methods: {
      onReady () {
        this.height = window.innerHeight - 180
        window.onresize = () => {
          this.height = window.innerHeight - 180
        }
        this.searchOrder()
      },
      creatOrder (id) {
        id = typeof id === 'string' ? id : ''
        this.$router.push('/pay/detail/' + id)
      },
      changeSize (size) {
        this.pageSize = size
        this.searchOrder()
      },
      changeCurrent (page) {
        this.page = page
        this.searchOrder()
      },
      searchOrder () {
        this.page = 1
        this.pageSize = 10
        Request.post({
          url: 'order/qrCodePayOrder/queryOrder',
          data: {
            pagenum: this.page,
            pagesize: this.pageSize,
            licenceNo: this.searchStr
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.orders = res.qrCodeInfo
              this.total = res.totalCount
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      }
    }
  }
</script>
