@import '../../assets/styles/color';
.search-header {
  width: 100%;
  padding: 0 0 10px;
  background: #fff;
  .el-select {
    width: 140px;
    margin-right: 10px;
    &.plate {
      width: 200px;
    }
  }
  .search-input {
    width: 500px;
    margin-right: 10px;
  }
  .search-btn {
    float: right;
    color: #fff;
    background: @mainColor;
    border-color: @mainColor;
    width: 100px;
  }
}