<style lang="less">
	@import "./index";
</style>

<template>
  <div class="search-header">
    <!-- <el-select
      filterable
      placeholder="选择投保城市"
      v-model="cityCode"
      @change="onSearch">
      <el-option
        v-for="(item, key) in insCityCode"
        :key="key"
        :label="item.name"
        :value="item.code">
      </el-option>
    </el-select> -->
    <el-select v-model="carTypeCode" @change="onSearch">
      <el-option
        v-for="(val, key) in vehicleClassCode"
        :key="key"
        :label="val"
        :value="key">
      </el-option>
    </el-select>
    <el-select v-model="carUseTypeCode" @change="onSearch">
      <el-option
        v-for="(val, key) in vehiclePropertyCode[carTypeCode]"
        :key="key"
        :label="val"
        :value="key">
      </el-option>
    </el-select>
    <!-- <el-input class="search-input" placeholder="关键字如拖拉机、二手车" v-model="search"></el-input>
    <el-button class="search-btn" @click="onSearch">搜索</el-button> -->
  </div>
</template>

<script>
  import {vehicleClassCode, vehiclePropertyCode} from 'types/'
  
  export default {
    data () {
      return {
        vehicleClassCode,
        vehiclePropertyCode,
        // insCityCode: this.$getStorage('youjia_citys'),
        search: '',
        cityCode: this.$getCookie('insCityCode'),
        carTypeCode: '1',
        carUseTypeCode: '101'
      }
    },
    mounted () {
      this.onSearch()
    },
    methods: {
      onSearch () {
        this.$emit('change', this.cityCode, this.carTypeCode, this.carUseTypeCode, this.search)
      }
    }
  }
</script>
