<style lang="less">
@import './index';
</style>
<template>
  <div class="recharge-record">
    <div class="title">
      &nbsp;&nbsp;&nbsp;资金管理/充值记录
    </div>
    <div class="filter-bar">
    <el-date-picker
      v-model="selectDate"
      type="daterange"
      range-separator="至"
      start-placeholder="开始日期"
      :picker-options="pickerSelect"                           
      end-placeholder="结束日期">
    </el-date-picker>
    <el-button type="primary" @click="exportTable">导出</el-button>
    </div>
    <div class="table">
      <el-table
        :data="list"
        stripe
        style="width: 100%;">
        <el-table-column
          prop="time"
          label="充值时间"
          fixed="left"
          :min-width="180"
          align="center">
        </el-table-column>
        <el-table-column
          prop="id"
          label="充值订单编号"
          :min-width="200"
          align="center">
        </el-table-column>
        <el-table-column
          prop="reAmount"
          label="充值金额"
          :min-width="100"
          align="center">
        </el-table-column>
        <el-table-column
          prop="bankName"
          label="银行名称"
          :min-width="140"
          align="center">
        </el-table-column>
        <el-table-column
          prop="bankNo"
          label="银行账号"
          :min-width="180"
          align="center">
        </el-table-column>
        <el-table-column
          prop="transVoucher"
          label="银行交易凭证号"
          :min-width="180"
          align="center">
        </el-table-column>
        <el-table-column
          prop="surplusAmount"
          label="充值后余额"
          :min-width="100"
          align="center">
        </el-table-column>
        <el-table-column
          prop="rechargeType"
          label="充值方式"
          :min-width="100"
          align="center">
        </el-table-column>
        <el-table-column
          prop="statu"
          label="状态"
          :min-width="140"
          align="center"
          fixed="right">
        </el-table-column>
      </el-table>
    </div>
    <div class="tootip">{{record}} 条记录,累计充值{{accountAmount}}元。</div>
    <Pages :total="totalSize" :pageSize="pageSize"  @changePages="changePages" style="text-align:center;"></Pages>
  </div>
</template>

<script>
  import filterBar from 'pages/upay/components/filter-bar'
  import Pages from 'components/public/pages'
  import Request from 'utils/request'
  export default {
    data () {
      return {
        dateRange: [],
        selected: '',
        tableData: [],
        selectDate: [],
        list: [],
        page: 1,
        pageSize: 10,
        totalSize: 0,
        record: 0,
        accountAmount: 0,
        pickerSelect: {
          disabledDate (time) {
            return time.getTime() > Date.now()
          },
          onPick: ({ maxDate, minDate }) => {
            if (!maxDate) return
            this.selectDate = [minDate, maxDate]
            this.getList()
          }
        }
      }
    },
    mounted () {
      this.weekDate()
      this.getList()
    },
    created () {
    },
    components: {
      filterBar,
      Pages
    },
    methods: {
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.getList()
      },
      exportTable () {
        Request.post({
          url: '/users/auth/authParam',
          data: {
            startTime: this.$dateFormat(this.selectDate[0], 'yyyy-MM-dd 00:00:00'),
            endTime: this.$dateFormat(this.selectDate[1], 'yyyy-MM-dd 23:59:59')
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let form = document.createElement('form')
              form.action = `/api/account/capitalInfo/getChargeListExcel/${res.data}`
              form.target = '_blank'
              form.method = 'GET'
              document.body.appendChild(form)
              form.submit()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      weekDate () {
        let date = Date.now()
        this.$set(this.selectDate, 1, date)
        this.$set(this.selectDate, 0, date - 604800000)
      },
      getList () {
        this.list = []
        Request.post({
          url: '/account/capitalInfo/chargeList',
          data: {
            startTime: this.$dateFormat(this.selectDate[0], 'yyyy-MM-dd 00:00:00'),
            endTime: this.$dateFormat(this.selectDate[1], 'yyyy-MM-dd 23:59:59'),
            pageStart: this.page,
            pageSize: this.pageSize
          },
          done: (res) => {
            if (res.resultCode === 1) {
              const data = res.data
              const list = data.trafficDetailsInfos
              this.record = res.totalSize
              this.totalSize = res.totalSize
              this.accountAmount = data.amount
              for (var i = 0; i < list.length; i++) {
                const el = list[i]
                el.rechargeType = el.isAuto === 1 ? '线下充值' : '自动充值'
                el.statu = el.status === 1 ? '充值成功' : '充值失败'
                const time = el.createTime * 1000
                el.time = this.$dateFormat(time, 'yyyy-MM-dd hh:mm:ss')
              }
              this.list = list
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      }
    }
  }
</script>