<style lang="less">
  @import "./index.less";
</style>

<template>
  <div class="content account">
    <div class="user-left">
      <div class="avatar">
        <img v-if="userAvatar" :src="userAvatar" alt="">
        <i v-else class="iconfont icon-yonghu"></i>
        {{userName || '用户名'}}
      </div>
      <ul class="nav">
        <router-link to="/account/wallet" tag="li" v-privilege="'H101'"><i class="iconfont icon-qianbao"></i> 钱包</router-link>
        <router-link to="/account/order" tag="li" v-privilege="'H102'"><i class="iconfont icon-wenjian"></i> 报表</router-link>
        <router-link to="/account/setting" tag="li"><i class="iconfont icon-shezhi"></i> 设置</router-link>
        <router-link to="/account/personnels" tag="li" v-privilege="'H103'"><i class="iconfont icon-yonghu"></i> 子账户</router-link>
        <!-- <router-link to="/account/jobno" tag="li"><i class="iconfont icon-yonghu"></i> PICC账号</router-link> -->
      </ul>
    </div>
    <div class="user-right">
      <router-view></router-view>
    </div>
    <div class="clearfix"></div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        userAvatar: this.$getCookie('_youjia_user_avatar'),
        userName: this.$getCookie('_youjia_user_name'),
        isLogin: this.$getCookie('_youjia_token'),
        height: 500
      }
    },
    mounted () {
      this.height = window.innerHeight - 130
      window.onresize = () => {
        this.height = window.innerHeight - 130
      }
    }
  }
</script>
