.trade-detail{
  .el-pagination {
    padding-bottom: 40px;
    background-color: #fff;
  }
  .el-table{
    padding-top: 0px;
    box-sizing: border-box;
  }
  .title{
    background-color: #fff;
    line-height:56px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }
  .inquire {
    margin-left: 10px;
  }
  .filter-more{
    margin-top: 15px;
    padding: 15px;
    // padding-left: 26px;
    background-color: #fff;
    .el-form {
      margin-top: 15px;
    }
    .gaoji span {
      color: #606266;
    }
    .el-form-item {
      margin-bottom: 0px;
    }
  }
  .tootip{
    color: #ff9900;
    padding: 15px;
    background-color: #fff;
  }
  .filter-bar{
    padding: 10px;
    margin-top: 15px;
    background-color: #fff;
  }
}
.hand {
  cursor: pointer;
}