<style lang="less">
@import './index';
</style>
<template>
  <div class="trade-detail">
    <div class="title">
      &nbsp;&nbsp;&nbsp;交易管理/交易明细
    </div>
    <div class="filter-bar">
    <el-date-picker
      v-model="selectDate"
      type="daterange"
      :picker-options="pickerSelect"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期">
    </el-date-picker>
    <el-button type="primary" class="inquire" @click="getList">查询</el-button>
    <el-button type="primary" @click="exportTable">导出</el-button>    
  </div>
    <div class="filter-more">
      <div  @click="highGrade(!gaojiShow)" class="hand gaoji">
      <span>高级模式</span>
      <i class="el-icon-arrow-down" v-if="!gaojiShow"></i>
      <i class="el-icon-arrow-up" v-if="gaojiShow"></i>      
      </div>
      <el-form :inline="true" :model="form" class="demo-form-inline" v-if="gaojiShow">
        <el-form-item label="订单状态">
          <el-select v-model="form.process" placeholder="全部" style="width:160px" clearable>
            <el-option
             v-for="(val, key) of orderStatu"
            :key="key"
            :label="val"
            :value="key">
            </el-option>                                    
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-input v-model="form.user" placeholder="收款户名" style="width:160px" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="form.bankNo" placeholder="银行账号" style="width:160px" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="form.certNo" placeholder="证件号" style="width:160px" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="getList">搜索</el-button>
        </el-form-item>
      </el-form>
    </div>
      <div style="padding:0 10px;background-color:#fff;margin-top:15px;">
        <el-table
          :data="list"
          stripe
          style="width: 100%">
          <el-table-column
            prop="batchName"
            label="批次号"
            fixed="left"
            :min-width="220"
            align="center">
          </el-table-column>
          <el-table-column
            prop="receiverName"
            label="收款户名"
            :min-width="100"
            align="center">
          </el-table-column>
          <el-table-column
            prop="serviceCharge"
            label="手续费"
            min-width="100px"
            align="center">
            <template slot-scope="data">
            {{subNum(data.row.serviceCharge, 2) || 0}}
          </template>
          </el-table-column>
          <el-table-column
            prop="payAmount"
            label="打款金额"
            :min-width="100"
            align="center">
          </el-table-column>
          <el-table-column
            prop="trafficNum"
            label="交易流水号"
            align="center"
            :min-width="220">
          </el-table-column>
          <el-table-column
            prop="receiverAccountNo"
            label="收款账号"
            align="center"
            :min-width="180">
          </el-table-column>
          <el-table-column
            prop="receiverCertNo"
            label="证件号码"
            :min-width="180"
            align="center">
          </el-table-column>
          <el-table-column
            prop="receiverMobile"
            label="手机号"
            :min-width="140"
            align="center">
          </el-table-column>
          <el-table-column
            prop="time"
            label="创建时间"
            align="center"
            :min-width="180">
          </el-table-column>
          <el-table-column
            prop="updateTime"
            label="更新时间"
            align="center"
            :min-width="180">
          </el-table-column>
          <el-table-column
            prop="status"
            label="交易状态"
            align="center"
            :min-width="120"
            fixed="right">
          </el-table-column>
        </el-table>
      </div>
      <!-- <div class="tootip">{{record}} 条记录；打款金额 {{remitAmount}}元；打款成功 {{success}}元；打款失败 {{fail}}元。</div> -->
      <Pages :total="totalSize" :pageSize="pageSize"  @changePages="changePages" style="text-align:center;padding:10px 0;background-color:#fff;border-top:1px solid #f8f8f8;"></Pages>
  </div>
</template>

<script>
  import filterBar from 'pages/upay/components/filter-bar'
  import Pages from 'components/public/pages'
  import Request from 'utils/request'
  import orderStatu from 'types/orderStatu'
  export default {
    data () {
      return {
        list: [],
        selectData: {},
        selected: '',
        form: {},
        tableData: [],
        page: 1,
        pageSize: 10,
        orderStatu,
        totalSize: 0,
        record: 0,
        remitAmount: 0,
        selectDate: [],
        success: 0,
        fail: 0,
        subNum: this.$subNum,
        pickerSelect: {
          disabledDate (time) {
            return time.getTime() > Date.now()
          },
          onPick: ({ maxDate, minDate }) => {
            if (!maxDate) return
            this.form.dateTime = [minDate, maxDate]
          }
        },
        gaojiShow: false
      }
    },
    mounted () {
      this.weekDate()
      this.getList()
    },
    created () {
    },
    components: {
      filterBar,
      Pages
    },
    methods: {
      // 导出报表
      exportTable () {
        Request.post({
          url: '/users/auth/authParam',
          data: {
            startTime: this.$dateFormat(this.selectDate[0], 'yyyy-MM-dd 00:00:00'),
            endTime: this.$dateFormat(this.selectDate[1], 'yyyy-MM-dd 23:59:59'),
            receiverName: this.form.user,
            receiverAccountNo: this.form.bankNo,
            receiverCertNo: this.form.certNo,
            status: this.form.process
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let form = document.createElement('form')
              form.action = `/api/account/remittance/getTrafficDetailExcel/${res.data}`
              form.target = '_blank'
              form.method = 'GET'
              document.body.appendChild(form)
              form.submit()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      highGrade (gaojiShow) {
        this.gaojiShow = gaojiShow
      },
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.getList()
      },
      weekDate () {
        let date = Date.now()
        this.$set(this.selectDate, 1, date)
        this.$set(this.selectDate, 0, date - 604800000)
      },
      getList () {
        Request.post({
          url: 'account/remittance/details',
          data: {
            startTime: this.$dateFormat(this.selectDate[0], 'yyyy-MM-dd 00:00:00'),
            endTime: this.$dateFormat(this.selectDate[1], 'yyyy-MM-dd 23:59:59'),
            pageStart: this.page,
            pageSize: this.pageSize,
            receiverName: this.form.user,
            receiverAccountNo: this.form.bankNo,
            receiverCertNo: this.form.certNo,
            status: this.form.process
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.record = res.totalSize
              this.totalSize = res.totalSize
              this.remitAmount = res.data.amount
              this.success = res.data.successAmount
              this.fail = res.data.failAmount
              const data = res.data.batchDetailInfos
              for (var i = 0; i < data.length; i++) {
                const el = data[i]
                const time = el.createTime * 1000
                const updateTime = el.updateTime * 1000
                el.time = this.$dateFormat(time, 'yyyy-MM-dd hh:mm:ss')
                el.updateTime = this.$dateFormat(updateTime, 'yyyy-MM-dd hh:mm:ss')
                if (el.status === 10) {
                  el.status = '已校验'
                } else if (el.status === 20) {
                  el.status = '待打款'
                } else if (el.status === 21) {
                  el.status = '已取消'
                } else if (el.status === 41) {
                  el.status = '失败'
                } else if (el.status === 40) {
                  el.status = '打款中 '
                } else if (el.status === 50) {
                  el.status = '已打款'
                } else if (el.status === 11) {
                  el.status = '校验失败'
                } else if (el.status === 12) {
                  el.status = '商户主动取消'
                } else if (el.status === 30) {
                  el.status = '打款中'
                } else if (el.status === 60) {
                  el.status = '打款回退'
                } else if (el.status === 61) {
                  el.status = '打款失败'
                }
              }
              this.list = data
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      }
    }
  }
</script>