<style lang="less">
  .filter-bar{
    padding: 10px;
    margin-top: 15px;
    background-color: #fff;
  }
</style>
<template>
  <div class="filter-bar">
    <el-date-picker
      v-model="dateRange"
      type="daterange"
      range-separator="至"
      start-placeholder="开始日期"
      end-placeholder="结束日期">
    </el-date-picker>
    <el-select v-if="showSelect" v-model="selected" placeholder="请选择">
      <el-option
        v-for="(item, key) in selectData"
        :key="key"
        :label="item[key]"
        :value="key">
      </el-option>
    </el-select>
    <el-button type="primary" v-if="showButton">导出</el-button>
  </div>
</template>

<script>
  export default {
    props: {
      selectData: {
        type: Object
      },
      dateRange: {
        type: Array
      },
      selected: {
        type: String
      },
      showButton: {
        type: Boolean
      },
      showSelect: {
        type: Boolean
      }
    }
  }
</script>
