<style lang='less'>
  @import './assets/styles/index';
</style>

<template>
  <div class="app">
    <Header v-if="!$route.meta.noHeader"></Header>
    <main class="container" :class="{'shareMain': $route.meta.shareMain, 'userFlex': $route.meta.user}" ref="content">
      <router-view/>
    </main>
    <Footer v-if="$route.meta.user"></Footer>
  </div>
</template>

<script>
  import Header from 'components/header'
  import Footer from 'components/footer'
  import getInsCitys from 'utils/getInsCitys'
  // import getPrivilege from 'utils/getPrivilege'

  export default {
    data () {
      return {
        height: 500
      }
    },
    components: {
      Footer,
      Header
    },
    mounted () {
      this.setHeight()
      window.onresize = () => {
        this.setHeight()
      }
      getInsCitys()
      // getPrivilege()
    },
    methods: {
      setHeight () {
        const CH = this.$refs.content.clientHeight
        const WH = window.innerHeight
        this.height = CH < WH ? WH - 135 : CH
      }
    }
  }
</script>
