.border-radius(@a) {
  -webkit-border-radius: unit(@a, px);
  -moz-border-radius: unit(@a, px);
  -ms-border-radius: unit(@a, px);
  -o-border-radius: unit(@a, px);
  border-radius: unit(@a, px);
}

.border-radius(@a, @b, @c, @d) {
  -webkit-border-radius: unit(@a, px) unit(@b, px) unit(@c, px) unit(@d, px);
  -moz-border-radius: unit(@a, px) unit(@b, px) unit(@c, px) unit(@d, px);
  -ms-border-radius: unit(@a, px) unit(@b, px) unit(@c, px) unit(@d, px);
  -o-border-radius: unit(@a, px) unit(@b, px) unit(@c, px) unit(@d, px);
  border-radius: unit(@a, px) unit(@b, px) unit(@c, px) unit(@d, px);
}

.translateY(@a) {
  -webkit-transform: translateY(unit(@a, px));
  -moz-transform: translateY(unit(@a, px));
  transform: translateY(unit(@a, px));
}

.translateX-5Y(@a) {
  -webkit-transform: translateX(-50%) translateY(unit(@a, px));
  -moz-transform: translateX(-50%) translateY(unit(@a, px));
  transform: translateX(-50%) translateY(unit(@a, px));
}


// 文本只显示一行，超出部分隐藏
.line-hide() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 删除app中的click背景
.deleteOutline () {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.ellipsis() {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

// 三角形
.triangle(@a, @topColor, @rightColor, @bottomColor, @leftColor) {
  width: 0;
  height: 0;
  .border-width(@a);
  border-style: solid;
  border-color: @topColor @rightColor @bottomColor @leftColor;
}

.border-1px-all(@border-color) {
  border: 1px solid @border-color;
}

.border-1px-top(@border-color) {
  border-top: 1px solid @border-color;
}

.border-1px-left(@border-color) {
  border-left: 1px solid @border-color;
}

.border-1px-bottom(@border-color) {
  border-bottom: 1px solid @border-color;
}

.border-1px-right(@border-color) {
  border-right: 1px solid @border-color;
}

