@bgColor: #F8F8F8;
@mainColor: #FF9900;
@mainbgColor: rgba(255, 153, 0, 0.21);
@fontColor: #111;
@font666: #666;
@font999: #999;
@fontD8: #D8D8D8;
@footerColor: #999;
@lineColor: #E5E5E5;

@tagRedColor: #f38989;
@tagBlueColor: #6EA7EA;
@tagGreenColor: #00D0A8;

@redColor: #DF2028;
@blueColor: #1671F9;
@greenColor: #27B666;
@linkColor: #10AEFF;
