@import './reset';
@import './color';
@import './animate';


html, body, .app {
  height: 100%;
  width: 100%;
}
html {
  font-size: 14px;
  background-color: @bgColor;
}
.app {
  display: flex;
  flex-direction: column;
}
.container {
  padding-top: 60px;
  &.userFlex {
    flex: 1;
  }
}

textarea.el-textarea__inner {
  resize: none;
}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}
.clearfix{
  height:1%;
}
.app {
  .content {
    width: 1200px;
    margin: 0 auto;
  }
  .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #ddd;
  }
  .red {
    color: @redColor;
  }
  .blue {
    color: @blueColor;
  }
  .green {
    color: @greenColor;
  }
  .box-left {
    float: left
  }
  .main-btn {
    color: #fff;
    background: @mainColor;
    border-color: @mainColor;
  }
}
