<template>
  <el-dialog
    @close="onDialogClose"
    class="add-bank animateFast"
    title="添加银行卡"
    :visible.sync="showBank">
    <el-form v-model="formBank">
      <el-form-item>
        <el-input placeholder="请输入持卡人姓名" v-model="formBank.cardholderName"></el-input>
      </el-form-item>
      <el-form-item>
        <el-input placeholder="请输入身份证号" v-model="formBank.idNo"></el-input>
      </el-form-item>
      银行卡信息
      <el-form-item>
        <el-input placeholder="请输入银行名称" v-model="formBank.bank"></el-input>
      </el-form-item>
      <el-form-item v-if="false">
        <el-input placeholder="请输入开户行名称" v-model="formBank.openBank"></el-input>
      </el-form-item>
      <el-form-item>
        <el-input placeholder="请输入银行卡号" v-model="formBank.bankNo"></el-input>
      </el-form-item>
      <el-form-item>
        <el-input placeholder="请输入预留手机号" v-model="formBank.mobile"></el-input>
      </el-form-item>
      请输入{{formBank.mobile}}收到的验证码
      <el-form-item>
        <el-input placeholder="请输入验证码" v-model="formBank.smsCode">
          <el-button v-if="countNum === 0" slot="append" @click="getCode">获取验证码</el-button>
          <el-button v-else slot="append">{{countNum}}秒后重新获取</el-button>
        </el-input>
      </el-form-item>
      <el-button @click="addBank" :loading="showLoading">保存</el-button>
    </el-form>
  </el-dialog>
</template>

<script>
  import Request from 'utils/request'
  import { RegCode, RegPhone } from 'utils/regCheck'

  export default {
    data () {
      return {
        showLoading: false,
        showBank: this.show,
        formBank: {},
        countNum: 0,
        mobile: this.$getCookie('_youjia_user_mobile')
      }
    },
    props: {
      show: {
        type: Boolean
      }
    },
    watch: {
      show (bool) {
        this.showBank = bool
      }
    },
    methods: {
      onDialogClose () {
        this.$emit('toggleDialog', false)
      },
      getCode () {
        if (!RegPhone.test(this.formBank.mobile)) {
          this.$alert('手机号格式不正确', 'error')
          return
        }
        if (this.countNum > 0) return
        Request.post({
          url: `/account/bank/verifyCode`,
          data: this.formBank,
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('验证码发送成功')
              this.countNum = 60
              let timer = setInterval(() => {
                this.countNum -= 1
                if (this.countNum === 0) {
                  clearInterval(timer)
                }
              }, 1000)
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      addBank () {
        this.showLoading = true
        if (!RegCode.test(this.formBank.smsCode)) {
          this.$alert('请输入正确的验证码', 'error')
          this.showLoading = false
          return
        }
        Request.post({
          url: `/account/bank/bindCard`,
          data: this.formBank,
          done: (res) => {
            this.showLoading = false
            if (res.resultCode === 1) {
              this.onDialogClose()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail (err) {
            this.showLoading = false
            console.log(err)
          }
        })
      }
    }
  }
</script>
