<style lang="less">
  @import '../../../assets/styles/color';
  .pay-password-box {
    height: 40px;
    width: 300px;
    display: flex;
    border: 1px solid @mainColor;
    border-radius: 3px;
    overflow: hidden;
    .pay-item {
      width: 50px;
      line-height: 40px;
      font-size: 16px;
      text-align: center;
      border: none;
      color: @mainColor;
      &:not(:last-of-type) {
        border-right: 1px solid @mainColor;
      }
      &.active {
        color: #fff;
        background: rgb(255, 232, 196);
      }
    }
    input {
      position: absolute;
      height: 40px;
      opacity: 0;
      left: 0;
      width: 300px;
    }
  }
</style>
<template>
  <div class="pay-password-box">
    <div class="pay-item" v-for="i in 6" :key="i" :class="{'active':focus && value.length === i - 1}">{{value && value[i-1]}}</div>
    <input v-bind:value="value" v-on:input="$emit('input', $event.target.value)" maxlength="6" type="tel" @focus="focus = true" @blur="focus = false"/>
  </div> 
</template>

<script>
  export default {
    data () {
      return {
        focus: false,
        numbers: ''
      }
    },
    props: {
      value: {
        type: String,
        default: ''
      }
    }
  }
</script>
