<style lang="less">
@import './index';
</style>
<template>
  <div class="capital-flow">
    <div class="title">
      &nbsp;&nbsp;&nbsp;资金管理/交易流水
    </div>
    <div class="filter-bar">
    <el-date-picker
      v-model="selectDate"
      type="daterange"
      range-separator="至"
      start-placeholder="开始日期"
      :picker-options="pickerSelect"                                 
      end-placeholder="结束日期">
    </el-date-picker>
    <el-button type="primary" @click="exportTable">导出</el-button>
  </div>
    <el-table
      :data="list"
      stripe
      style="width: 100%">
      <el-table-column
        prop="time"
        label="交易时间"
        fixed="left"
        align="center"
        :min-width="155">
      </el-table-column>
      <el-table-column
        prop="trafficNum"
        label="交易流水号"
        align="center"
        :min-width="200">
      </el-table-column>
      <el-table-column
        prop="busType"
        label="业务类型"
        align="center"
        :min-width="155">
      </el-table-column>
      <el-table-column
        prop="amount"
        label="交易金额（元）"
        align="center"
        :min-width="155">
      </el-table-column>
      <el-table-column
        prop="trxTypes"
        label="收支类型"
        align="center"
        :min-width="155">
      </el-table-column>
      <el-table-column
        prop="accountAmount"
        label="账户余额"
        align="center"
        :min-width="155">
      </el-table-column>
    </el-table>
    <div class="tootip">{{record}} 条记录,累计金额{{accountAmount}}元。</div>
      <Pages :total="totalSize" :pageSize="pageSize"  @changePages="changePages" style="text-align:center;"></Pages>
  </div>
</template>

<script>
  import filterBar from 'pages/upay/components/filter-bar'
  import Pages from 'components/public/pages'
  import Request from 'utils/request'
  export default {
    data () {
      return {
        selectDate: [],
        selected: '',
        list: [],
        page: 1,
        pageSize: 10,
        totalSize: 0,
        record: 0,
        accountAmount: 0,
        pickerSelect: {
          disabledDate (time) {
            return time.getTime() > Date.now()
          },
          onPick: ({ maxDate, minDate }) => {
            if (!maxDate) return
            this.selectDate = [minDate, maxDate]
            this.getList()
          }
        }
      }
    },
    mounted () {
      this.weekDate()
      this.getList()
    },
    created () {
    },
    components: {
      filterBar,
      Pages
    },
    methods: {
      exportTable () {
        Request.post({
          url: '/users/auth/authParam',
          data: {
            startTime: this.$dateFormat(this.selectDate[0], 'yyyy-MM-dd 00:00:00'),
            endTime: this.$dateFormat(this.selectDate[1], 'yyyy-MM-dd 23:59:59')
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let form = document.createElement('form')
              form.action = `/api/account/capitalInfo/getTrafficListExcel/${res.data}`
              form.target = '_blank'
              form.method = 'GET'
              document.body.appendChild(form)
              form.submit()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.getList()
      },
      weekDate () {
        let date = Date.now()
        this.$set(this.selectDate, 1, date)
        this.$set(this.selectDate, 0, date - 604800000)
      },
      getList () {
        this.list = []
        Request.post({
          url: 'account/capitalInfo/trafficList',
          data: {
            startTime: this.$dateFormat(this.selectDate[0], 'yyyy-MM-dd 00:00:00'),
            endTime: this.$dateFormat(this.selectDate[1], 'yyyy-MM-dd 23:59:59'),
            pageStart: this.page,
            pageSize: this.pageSize
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.record = res.totalSize
              this.totalSize = res.totalSize
              this.accountAmount = res.data.amount
              const data = res.data.trafficDetailsInfos
              for (var i = 0; i < data.length; i++) {
                const el = data[i]
                if (el.trxType === 3) {
                  el.trxTypes = '支出'
                } else if (el.trxType === 2 || el.trxType === 4 || el.trxType === 1) {
                  el.trxTypes = '收入'
                }
                const time = el.createTime * 1000
                el.time = this.$dateFormat(time, 'yyyy-MM-dd hh:mm:ss')
                el.busType = {3: '充值', 14: '打款', 18: '打款手续费', 10: '打款回退', 16: '手续费回退'}[el.busType]
              }
              this.list = data
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      }
    }
  }
</script>