.capital-flow{
  .el-pagination {
    padding-bottom: 40px;
    background-color: #fff;
  }
  .el-table{
    padding: 0 20px;
    box-sizing: border-box;
  }
  .title{
    background-color: #fff;
    line-height:56px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }
  .sousuo {
    margin-left: 20px;
  }
  .tootip{
    color: #ff9900;
    padding: 15px;
    background-color: #fff;
  }
  .filter-bar{
    padding: 10px;
    margin-top: 15px;
    background-color: #fff;
  }
}