.red-packet-list{
  .title{
    background-color: #fff;
    line-height:56px;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
  }
  .list{
    background-color: #fff;
    margin-top: 15px;
  }
  .pages{
    padding: 20px 0;
    text-align: center;
  }
  }