<template>
<div>
  <div class="red-packet-list">
    <div class="title">
      &nbsp;&nbsp;&nbsp;红包管理/红包列表
    </div>
    <div class="list">
      <el-table
        :data="redPacketData"
        border
        style="width: 100%">
        <el-table-column
          fixed
          prop="redPacketBatchId"
          sortable
          label="红包ID"
          width="100px"
          align="center">
        </el-table-column>
        <el-table-column
          fixed
          prop="redPacketBatchName"
          label="红包名称"
          width="120px"
          align="center">
        </el-table-column>
        <el-table-column
          fixed
          prop="city"
          label="地区"
          width="120px"
          align="center">
        </el-table-column>
        <el-table-column
          fixed
          prop="insType"
          label="类型"
          align="center">
        </el-table-column>
        <el-table-column
          fixed
          prop="insPolicyId"
          label="关联政策ID"
          width="100px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="insName"
          label="保险公司"
          align="center">
        </el-table-column>
        <el-table-column
          prop="denomination"
          sortable
          label="金额"
          align="center">
        </el-table-column>
        <el-table-column
          prop="releaseCount"
          sortable
          label="发放数量"
          width="110px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="accessCount"
          sortable
          label="领取数量"
          width="110px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="usedCount"
          sortable
          label="已使用"
          width="100px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="fafangTime"
          label="发放时段"
          width='200px'
          align="center">
        </el-table-column>
        <el-table-column
          prop="userName"
          label="创建人"
          width='120px'
          align="center">
        </el-table-column>
        <el-table-column
          prop="createTime"
          label="创建时间"
          width="110px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="amount"
          label="红包总金额"
          width="110px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="grantAmount"
          label="已发放金额"
          width="110px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="backAmount"
          label="退回金额"
          width="110px"
          align="center">
        </el-table-column>
        <el-table-column
          prop="amount"
          label="红包总金额">
        </el-table-column>
        <el-table-column
          prop="grantAmount"
          label="已发放金额">
        </el-table-column>
        <el-table-column
          prop="backAmount"
          label="退回金额">
        </el-table-column>
        <el-table-column
          prop="status"
          label="状态"
          fixed="right"
          align="center">
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          width="100"
          align="center">
          <template slot-scope="scope">
            <el-button @click="xiajia(scope.$index, scope.row)" type="text" size="small" :disabled="scope.row.status === '已暂停' || scope.row.status === '已停用'">下架</el-button>
          </template>
        </el-table-column>
      </el-table>
      <Pages :total="total" :pageSize="pageSize"  @changePages="changePages" class="pages"></Pages>
    </div>
  </div>
</div>
</template>

<script>
  import Pages from 'components/public/pages'
  import Request from 'utils/request'
  export default {
    inject: ['reload'],
    data () {
      return {
        total: 0,
        page: 1,
        pageSize: 10,
        redPacketData: [],
        status: '',
        ruleShow: false
      }
    },
    mounted () {
      this.getListData()
    },
    components: {
      Pages
    },
    methods: {
      changePages (page, limit) {
        this.page = !page ? 1 : page
        this.pageSize = !limit ? 10 : limit
        this.getListData()
      },
      xiajia (index, data) {
        this.$confirm('注意!下架后，已发放红包仍为有效红包。', {
          showFailBtn: true,
          title: '下架',
          done: () => {
            Request.post({
              url: '/redpacket/redPacketBatch/modifyRedPacketStatus',
              data: {
                policyId: data.insPolicyId,
                redPacketBatchId: data.redPacketBatchId,
                status: 0
              },
              done: (res) => {
                // window.location.reload()
                this.reload()
              }
            })
          }
        })
      },
      getListData () {
        Request.post({
          url: '/redpacket/redPacketBatch/listRedPacket',
          data: {
            pageStart: this.page,
            pageSize: this.pageSize
          },
          done: (res) => {
            // this.redPacketData = res.data
            for (const item of res.data) {
              if (item.status === 0) {
                this.status = '已暂停'
              } else if (item.status === 1) {
                this.status = '发放中'
              } else if (item.status === 60) {
                this.status = '已停用'
              }
              this.redPacketData.unshift({
                accessCount: item.accessCount,
                city: item.city,
                createTime: item.createTime,
                denomination: item.denomination,
                fafangTime: `${item.startTime}~${item.endTime}`,
                insName: item.insName,
                insPolicyId: item.insPolicyId,
                insType: item.insType,
                redPacketBatchId: item.redPacketBatchId,
                redPacketBatchName: item.redPacketBatchName,
                releaseCount: item.releaseCount,
                status: this.status,
                usedCount: item.usedCount,
                userName: item.userName,
                amount: item.amount,
                grantAmount: item.grantAmount,
                backAmount: item.backAmount
              })
            }
          }
        })
      },
      remove (index, data) {
        Request.post({
          url: '/redpacket/redPacketBatch/modifyRedPacketStatus',
          data: {
            policyId: data.insPolicyId,
            redPacketBatchId: data.redPacketBatchId,
            delFlag: 0
          },
          done: (res) => {
            window.location.reload()
          }
        })
      },
      ruleShows () {
        this.ruleShow = true
      },
      close () {
        this.ruleShow = false
      }
    }
  }
</script>

<style lang="less" scoped>
@import './index.less';
</style>