<style lang="less">
  @import "./index.less";
</style>

<template>
  <div class="review-page">
    <!-- 商户政策 -->
    <div class="insurance-box" v-if="true">
      <HeadTitle title="保费详情"><div class="insCompany">投保主体：<span>{{insCompanyCode[insDto.insCompanyCode]}}</span></div></HeadTitle>
      <ul class="info-list noline">
        <el-table :data="tableData" show-summary>
          <el-table-column type="expand">
            <template slot-scope="props">
              <ul class="item-list" v-if="props.row.list">
                <li style="background: #f9f9f9;"><span>险种名称</span><span>保额</span><span>保费</span></li>
                <li v-for="item of props.row.list" :key="item.id"><span>{{item.name}}</span><span>{{item.extra > 2 ? item.extra : '-'}}</span><span>{{item.cost}}</span></li>
              </ul>
            </template>
          </el-table-column>
          <el-table-column
            prop="name"
            label="基础险种">
            <template slot-scope="props">
              <div class="insName">{{props.row.name}} </div>
              <div class="insNo">
                <span class="insNo2" v-if="props.row.category === 1 && trafficInsDto.insNo"> 保单号：{{trafficInsDto.insNo}}</span>
                <span class="insNo2" v-if="props.row.category === 1 && trafficInsDto.slipNo"> 投保单号：{{trafficInsDto.slipNo}}</span>
                <span class="insNo2" v-if="props.row.category === 2 && businessInsDto.insNo"> 保单号：{{businessInsDto.insNo}}</span>
                <span class="insNo2" v-if="props.row.category === 2 && businessInsDto.slipNo"> 投保单号：{{businessInsDto.slipNo}}</span>
              </div>
            </template>
          </el-table-column>
          <el-table-column
            prop="cost"
            label="保费"
            width="200">
          </el-table-column>
          <el-table-column
            prop="fee"
            label="推广费"
            width="200">
          </el-table-column>
          <el-table-column
            prop="begin"
            label="起保日期"
            width="285">
          </el-table-column>
        </el-table>
        <div class="clearfix"></div>
      </ul>
    </div>
    <!-- 系数信息 -->
    <div class="insurance-box" v-if="(businessInsDto.cost || trafficInsDto.cost) && isExtension">
      <HeadTitle title="系数信息"></HeadTitle>
      <div class="xishu-box" v-if="businessInsDto.cost">
        <div class="title">商业险系数<span v-if="resultPrm.discRate">(折扣<b>{{parseFloat(resultPrm.discRate/100).toFixed(2)}}</b>)</span>
        </div>
        <div class="xishu">
          <span v-if="resultPrm.noClaimDisc">无赔款优惠：{{resultPrm.noClaimDisc}}({{resultPrm.ndiscRsn}})</span> 
          <span v-if="resultPrm.autoCheCoef">自主渠道: {{resultPrm.autoChaCoef}}</span> 
          <span v-if="resultPrm.autoCheCoef">自主核保: {{resultPrm.autoCheCoef}}</span>
          <span v-if="resultPrm.resvNum">交通违法系数: {{resultPrm.resvNum}}</span>
          <span v-if="resultPrm.nClaimTime">上年出险次数: {{Number(resultPrm.nClaimTime)}}</span>
        </div>
        <ul class="yueding" v-if="syFixSpcData.length !== 0">
          <li @click="businessBool = !businessBool">商业险特别约定 <i class="el-icon" :class="{'el-icon-arrow-down': !businessBool, 'el-icon-arrow-up': businessBool}"></i></li>
          <li v-for="item in syFixSpcData" :key="item.cUnfixSpcCde" v-show="businessBool"><el-checkbox :checked="true" :disabled="true"></el-checkbox> {{item.cUnfixSpcContent}} </li>
        </ul>
      </div>
      <div class="xishu-box" v-if="trafficInsDto.cost">
        <div class="title">交强险系数<span v-if="resultPrm.jQNTotDisc">(折扣<b>{{parseFloat(resultPrm.jQNTotDisc/100).toFixed(2)}}</b>)</span>
        </div>
        <div class="xishu">
          <span v-if="resultPrm.jQNdiscRsn">交强险不浮动原因：{{resultPrm.jQNdiscRsn}}</span>
          <span v-if="resultPrm.jQTrafIrr">交强险浮动原因：{{resultPrm.jQTrafIrr}}</span>
          <span v-if="resultPrm.jQResvNum">交通违法系数: {{parseFloat(resultPrm.jQResvNum/100).toFixed(2)}}</span>
          <span v-if="resultPrm.jQNClaimTime">上年出险次数: {{Number(resultPrm.jQNClaimTime)}}</span>
        </div>
        <ul class="yueding" v-if="jqFixSpcData.length !== 0">
          <li @click="trafficBool = !trafficBool">交强险特别约定 <i class="el-icon" :class="{'el-icon-arrow-down': !trafficBool, 'el-icon-arrow-up': trafficBool}"></i></li>
          <li v-for="item in jqFixSpcData" :key="item.cUnfixSpcCde" v-show="trafficBool"><el-checkbox :checked="true" :disabled="true"></el-checkbox> {{item.cUnfixSpcContent}} </li>
        </ul>
      </div>
    </div>
    <!-- 新版系数信息 -->
    <div class="insurance-box" v-if="(businessInsDto.cost || trafficInsDto.cost) && !isExtension">
      <HeadTitle title="系数信息"></HeadTitle>
      <div class="xishu-box" v-if="businessInsDto.cost">
        <div class="title">商业险系数<b v-if="resultPrm.discRate">(折扣{{parseFloat(resultPrm.discRate/100).toFixed(2)}})</b>
        <span class="lastYs" @click="iframeShow(resultPrm.orderId, resultPrm.syQryCde, 2, resultPrm.lastQryCde)" v-if="resultPrm.syQryCde">上年商业险投保状况</span>
        </div>
        <div class="xishu">
          <span v-if="resultPrm.noClaimDisc">无赔款优惠：{{resultPrm.noClaimDisc}}({{resultPrm.ndiscRsn}})</span> 
          <span v-if="resultPrm.autoCheCoef">自主渠道: {{resultPrm.autoChaCoef}}</span> 
          <span v-if="resultPrm.autoCheCoef">自主核保: {{resultPrm.autoCheCoef}}</span>
          <span v-if="resultPrm.resvNum">交通违法系数: {{resultPrm.resvNum}}</span>
          <span v-if="resultPrm.nClaimTime">上年出险次数: {{Number(resultPrm.nClaimTime)}}</span>
        </div>
        <ul class="yueding" v-if="syFixSpcData.length !== 0">
          <li @click="businessBool = !businessBool">商业险特别约定 <i class="el-icon" :class="{'el-icon-arrow-down': !businessBool, 'el-icon-arrow-up': businessBool}"></i></li>
          <li v-for="item in syFixSpcData" :key="item.cUnfixSpcCde" v-show="businessBool"><el-checkbox :checked="true" :disabled="true"></el-checkbox> {{item.cUnfixSpcContent}} </li>
        </ul>
      </div>
      <div class="xishu-box" v-if="trafficInsDto.cost">
        <div class="title">交强险系数<b v-if="resultPrm.jqNtotDisc">(折扣{{parseFloat(resultPrm.jqNtotDisc/100).toFixed(2)}})</b>
        <span class="lastYs" @click="iframeShow(resultPrm.orderId, resultPrm.jqQryCde, 1)" v-if="resultPrm.jqQryCde">上年交强险投保状况</span>
        </div>
        <div class="xishu">
          <span v-if="resultPrm.jqNdiscRsn">交强险不浮动原因：{{resultPrm.jqNdiscRsn}}</span>
          <span v-if="resultPrm.jqTrafIrr">交强险浮动原因：{{resultPrm.jqTrafIrr}}</span>
          <span v-if="resultPrm.jqResvNum">交通违法系数: {{parseFloat(resultPrm.jqResvNum/100).toFixed(2)}}</span>
          <span v-if="resultPrm.jqNClaimTime">上年出险次数: {{Number(resultPrm.jqNClaimTime)}}</span>
        </div>
        <ul class="yueding" v-if="jqFixSpcData.length !== 0">
          <li @click="trafficBool = !trafficBool">交强险特别约定 <i class="el-icon" :class="{'el-icon-arrow-down': !trafficBool, 'el-icon-arrow-up': trafficBool}"></i></li>
          <li v-for="item in jqFixSpcData" :key="item.cUnfixSpcCde" v-show="trafficBool"><el-checkbox :checked="true" :disabled="true"></el-checkbox> {{item.cUnfixSpcContent}} </li>
        </ul>
      </div>
    </div>
    <!-- 车辆信息 -->
    <div class="insurance-box">
      <HeadTitle title="车辆信息"></HeadTitle>
      <ul class="info-list">
        <li><span class="label">车牌号</span>{{vehicleDto.vehicleLicenceNo}}</li>
        <li><span class="label">车架号</span>{{vehicleDto.vehicleFrameNo}}</li>
        <li><span class="label">发动机号</span>{{vehicleDto.engineNo}}</li>
        <li><span class="label">投保城市</span>{{cityName}}</li>
        <li class="row2"><span class="label">品牌型号</span>{{vehicleDto.autoModelName}}</li>
        <li><span class="label">车龄</span>{{getSets(vehicleDto.registerDate)}}</li>
        <li><span class="label">能源类型</span>{{energyType[vehicleDto.oilCode]}}</li>
        <li><span class="label">新车购置价</span>{{vehicleDto.price}}</li>
        <li><span class="label">初登日期</span>{{vehicleDto.registerDate}}</li>
        <li><span class="label">发证日期</span>{{vehicleDto.issueDate}}</li>
        <li><span class="label">座位数</span>{{vehicleDto.seats}}</li>
        <li><span class="label">排量(L)</span>{{vehicleDto.exhaustCapability}}</li>
        <li><span class="label">核载质量(吨)</span>{{vehicleDto.vehicleTonnages}}</li>
        <li><span class="label">整备质量(吨)</span>{{vehicleDto.wholeWeight}}</li>
        <li><span class="label">功率(KW)</span>{{vehicleDto.power}}</li>
        <li><span class="label">车辆类型</span>{{getVehicleTypeCode()}}</li>
        <li><span class="label">使用类型</span>{{getVehiclePropertyCode()}}</li>
        <li><span class="label">贷款车</span>{{vehicleDto.isLoanCar | boolCN}}</li>
        <li><span class="label">过户车</span>{{vehicleDto.isTransferCar | boolCN}}</li>
      </ul>
    </div>
    <!-- 核保资料 -->
    <div class="insurance-box" v-if="peopleList.length || yancheList.length || shuiwuList.length">
      <HeadTitle title="核保资料"><a style="float:right;cursor: pointer;" @click="getUploadUrl" v-if="+insDto.insCompanyCode === 9850">补传资料</a></HeadTitle>
      <ul class="upload-list" v-if="peopleList.length">
        <div class="upload-title">身份证行驶证</div>
        <li v-for="item in peopleList" :key="item.imageType" v-show="item.src">
          <img v-img-src="item.src" alt="" @click="examine(item)">
        </li>
      </ul>
      <ul class="upload-list" v-if="yancheList.length">
        <div class="upload-title">验车影像</div>
        <li v-for="item in yancheList" :key="item.imageType" v-show="item.src">
          <img v-img-src="item.src" alt="" @click="examine(item)">
        </li>
      </ul>
      <ul class="upload-list" v-if="shuiwuList.length">
        <div class="upload-title">税务影像</div>
        <li v-for="item in shuiwuList" :key="item.imageType" v-show="item.src">
          <img v-img-src="item.src" alt="" @click="examine(item)">
        </li>
      </ul>
    </div>
    <!-- 保单关系人 -->
    <div class="insurance-box">
      <HeadTitle title="保单关系人"></HeadTitle>
      <ul class="info-list">
        <li><span class="label">车主</span>{{vehicleDto.ownerName}}</li>
        <li><span class="label">所属性质</span>{{carProperty[vehicleDto.ownershipCode]}}</li>
        <li v-if="vehicleDto.ownerAddr"><span class="label">证件号</span>{{vehicleDto.licenceNo}}</li>
        <li class="row2" v-else><span class="label">证件号</span>{{vehicleDto.licenceNo}}</li>
        <li v-if="vehicleDto.ownerAddr"><span class="label">地址</span>{{vehicleDto.ownerAddr}}</li>
        <li><span class="label">被保人</span>{{insuredInfo.name}}</li>
        <li><span class="label">证件类型</span>{{idType[insuredInfo.licenceType]}}</li>
        <li><span class="label">证件号</span>{{insuredInfo.licenceNo}}</li>
        <li><span class="label">地址</span>{{insuredInfo.address}}</li>
        <li><span class="label">投保人</span>{{applicantInfo.name}}</li>
        <li><span class="label">证件类型</span>{{idType[applicantInfo.licenceType]}}</li>
        <li><span class="label">证件号</span>{{applicantInfo.licenceNo}}</li>
        <li><span class="label">地址</span>{{applicantInfo.address}}</li>
        <li><span class="label">权益人</span>{{beneficiary.name}}</li>
        <li><span class="label">证件类型</span>{{idType[beneficiary.licenceType]}}</li>
        <li class="row2"><span class="label">证件号</span>{{beneficiary.licenceNo}}</li>
      </ul>
    </div>
    <!-- 收件人 -->
    <div class="insurance-box" v-if="receiverDto.name">
      <HeadTitle title="收件人"></HeadTitle>
      <ul class="info-list">
        <li><span class="label">姓名</span>{{receiverDto.name}}</li>
        <li><span class="label">手机号</span>{{receiverDto.mobile}}</li>
        <li><span class="label">省份</span>{{receiverDto.province_name}}</li>
        <li><span class="label">城市</span>{{receiverDto.city_name }}</li>
        <li><span class="label">区县</span>{{receiverDto.county_name}}</li>
        <!-- <li><span class="label">快递方式</span>{{['自取', '快递', '电子保单'][receiverDto.postway]}}</li>
        <li><span class="label">投递费用</span>{{receiverDto.postfee || 0}}元</li> -->
        <li class="row2"><span class="label">邮寄地址</span> {{receiverDto.address}}</li>
      </ul>
    </div>
    <!-- 日志 -->
    <div class="insurance-box">
      <HeadTitle title="订单日志"></HeadTitle>
      <div class="info-order-list">
        <div class="info-day" v-for="(arr, date) in orderLog" :key="date">
          <div class="info-date">{{date}}</div>
          <ul>
            <li v-for="(item, i) in arr" :key="i">{{item.time}} {{item.remark}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <HeadStep :dto="insDto" @verify="showVerifyFn" @modify="showModifyFn" :redPacket="redPacket"></HeadStep>
    <verify :dto="insDto" :policy="policy" :show="showVerify" :table="tableData" :redPacket="redPacket"></verify>
    <modify :dto="insDto" :policy="policy" :show="showModify" :table="tableData"></modify>
    <imgProview v-if="dioImgBig" :dioImgBig="dioImgBig" :imgdata="imgdata" :imgList="imgList"></imgProview>
    <Iframe v-if="dioShows" :srcs="srcs"></Iframe>
  </div>
</template>

<script>
  
  import Request from 'utils/request'
  import urlQuery from 'utils/urlQuery'
  import NumToBool from 'utils/NumToBool'

  import HeadTitle from 'components/head-title'
  import modify from './model/modify'
  import verify from './model/verify'
  import HeadStep from './model/head-step'
  import imgProview from 'components/public/imgProview'
  import Iframe from './model/iframe.vue'

  import { idType, taxType, energyType, carProperty, vehicleClassCodeList, vehiclePropertyCode, insCompanyCode } from 'types/'

  export default {
    data () {
      return {
        idType,
        taxType,
        isExtension: false,
        energyType,
        carProperty,
        insCompanyCode,
        vehicleClassCodeList,
        vehiclePropertyCode,
        policy: {},
        insDto: {},
        vehicleDto: {},
        vehicleTaxDto: {},
        receiverDto: {},
        // 被保人
        insuredInfo: {},
        // 投保人
        applicantInfo: {},
        // 权益人
        beneficiary: {},
        // 交强险
        trafficInsDto: {},
        // 商业险
        businessInsDto: {},
        // 补充影像图片
        peopleList: [],
        yancheList: [],
        shuiwuList: [],
        peopleImgs: [
          {imageType: '0', imageName: '被保人身份证正面照', isPicc: true},
          {imageType: '1', imageName: '被保人身份证反面照', isPicc: true},
          {imageType: '27', imageName: '投保人身份证正面照'},
          {imageType: '28', imageName: '投保人身份证反面照'},
          {imageType: '3', imageName: '行驶证正面照', isPicc: true},
          {imageType: '4', imageName: '行驶证副页照', isPicc: true},
          {imageType: '18', imageName: '行驶证年审页照', isPicc: true},
          {imageType: '14', imageName: '车辆发票'}
        ],
        yancheImgs: [
          {imageType: '5', imageName: '车辆正面照片', isPicc: true},
          {imageType: '6', imageName: '车辆正后照片', isPicc: true},
          {imageType: '7', imageName: '车辆前左45度照片', isPicc: true},
          {imageType: '8', imageName: '车辆前右45度照片', isPicc: true},
          {imageType: '9', imageName: '车辆后左45度照片', isPicc: true},
          {imageType: '10', imageName: '车辆后右45度照片', isPicc: true},
          {imageType: '31', imageName: '人车合影'},
          {imageType: '11', imageName: '带车架号照片'},
          {imageType: '12', imageName: '铭牌'},
          {imageType: '13', imageName: '发动机舱'},
          {imageType: '30', imageName: '仪表盘内饰'},
          {imageType: '32', imageName: '前挡风玻璃'},
          {imageType: '16', imageName: '上年商业险保单照'},
          {imageType: '17', imageName: '上年交强险保单照'},
          {imageType: '37', imageName: '登记证书一'},
          {imageType: '38', imageName: '登记证书二'},
          {imageType: '39', imageName: '登记证书三'},
          {imageType: '40', imageName: '登记证书四'}
        ],
        shuiwuImgs: [{imageType: '52', imageName: '完税证明'}],
        tableData: [],
        orderLog: {},
        resultPrm: {},
        trafficBool: false,
        businessBool: false,
        syFixSpcData: [],
        jqFixSpcData: [],
        showModify: false,
        showVerify: false,
        shareLink: window.location.href,
        dioImgBig: false,
        imgdata: {},
        imgList: [],
        dioShows: false,
        srcs: [],
        redPacket: ''
      }
    },
    mounted () {
      this.onReady()
      this.getRpInfo()
    },
    computed: {
      cityName () {
        const citys = this.$getStorage('youjia_citys')
        const cityCode = this.insDto.insCityCode
        return citys[cityCode] && citys[cityCode].name
      }
    },
    components: {
      modify,
      verify,
      HeadStep,
      HeadTitle,
      imgProview,
      Iframe
    },
    methods: {
      showVerifyFn (bool, data) {
        this.policy = data
        this.showVerify = bool
      },
      showModifyFn (bool) {
        this.showModify = bool
      },
      getRpInfo () {
        Request.post({
          url: `redpacket/useRedPacket/getRpByOrderId`,
          data: {
            orderId: urlQuery.queryRouterLastOne()
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.redPacket = res.data[0]
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      getSets (date) {
        const year = new Date().getFullYear()
        date = date && date.split('-')[0]
        return year - date + '年'
      },
      getVehicleTypeCode () {
        let name = ''
        let code = this.vehicleDto.vehicleTypeCode
        vehicleClassCodeList.forEach((el, i) => {
          if (code === +el.code) {
            name = vehicleClassCodeList[i].name
          }
        })
        return name
      },
      getVehiclePropertyCode () {
        let dto = this.vehicleDto
        return dto.vehicleTypeCode && vehiclePropertyCode[dto.vehicleTypeCode][dto.useNatureCode]
      },
      onReady () {
        this.getOrderLog()
        Request.post({
          url: `/order/insVehicleOrders/settleComplex`,
          data: {
            insOrderId: urlQuery.queryRouterLastOne()
          },
          done: (res) => {
            if (res.resultCode === 1) {
              let data = res.dtoList[0]
              data.beneficiaryIsOne = NumToBool(data.beneficiaryIsOne)
              data.policyholderIsOne = NumToBool(data.policyholderIsOne)
              this.insDto = data
              this.$setCookie('insCityCode', data.insCityCode)
              this.vehicleDto = data.vehicleDto
              this.receiverDto = data.receiverDto || {}
              this.vehicleTaxDto = data.vehicleTaxDto
              for (let i = 0; i < data.personDtoList.length; i++) {
                const el = data.personDtoList[i]
                if (el.category === 1) {
                  this.insuredInfo = el
                } else if (el.category === 2) {
                  this.applicantInfo = el
                } else {
                  this.beneficiary = el
                }
              }
              if (data.extension) {
                this.isExtension = true
                this.transformExtension(data.extension)
              } else {
                this.transformExtension(data.calcResponseDto)
              }
              this.transformTableData(data)
              if (data.orderPhotoDtoList) {
                this.transformImageInfo(data.orderPhotoDtoList)
              }
            } else {
              if (res.resultCode === 400123) {
                this.$router.push('/order')
              }
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      transformTableData (data) {
        for (let i = 0; i < data.itemDtoList.length; i++) {
          const el = data.itemDtoList[i]
          if (el.category === 1) {
            this.trafficInsDto = el
            this.tableData.push({
              category: 1,
              name: el.name,
              cost: el.cost,
              fee: el.promotionFee || 0,
              begin: el.validBeginTime,
              coin: el.coinAmount || 0
            })
            this.tableData.push({
              name: '车船税', cost: data.vehicleTaxDto.taxAmount, fee: data.vehicleTaxDto.promotionFee || 0, coin: data.vehicleTaxDto.coinAmount || 0
            })
          } else {
            this.businessInsDto = el
            this.tableData.push({
              category: 2,
              name: el.name,
              cost: el.cost,
              fee: el.promotionFee || 0,
              begin: el.validBeginTime,
              list: el.itemDetailDtoList,
              coin: el.coinAmount || 0
            })
          }
        }
      },
      transformImageInfo (data) {
        data.forEach((el) => {
          this.peopleImgs.forEach((item) => {
            if (el.category === +item.imageType) {
              item.id = el.id
              item.photoId = el.photoId
              item.src = el.url
              this.peopleList.push(item)
              this.imgList.push(item)
            }
          })
          this.yancheImgs.forEach((item) => {
            if (el.category === +item.imageType) {
              item.id = el.id
              item.photoId = el.photoId
              item.src = el.url
              this.yancheList.push(item)
              this.imgList.push(item)
            }
          })
          this.shuiwuImgs.forEach((item) => {
            if (el.category === +item.imageType) {
              item.id = el.id
              item.photoId = el.photoId
              item.src = el.url
              this.shuiwuList.push(item)
              this.imgList.push(item)
            }
          })
        })
      },
      transformExtension (data) {
        if (!data) return
        let josnData = {}
        if (data.id) {
          josnData = data
        } else {
          data.forEach(el => {
            if (el.key === 'resultPrm') {
              josnData.resultPrm = el.value
            }
            if (el.key === 'jqFixSpcData') {
              josnData.jqFixSpcData = el.value
            }
            if (el.key === 'syFixSpcData') {
              josnData.syFixSpcData = el.value
            }
          })
        }
        this.resultPrm = josnData.id ? josnData : JSON.parse(josnData.resultPrm)
        if (josnData.syFixSpcData) this.syFixSpcData = JSON.parse(josnData.syFixSpcData)
        if (josnData.jqFixSpcData) this.jqFixSpcData = JSON.parse(josnData.jqFixSpcData)
      },
      // 获取补传图片url
      getUploadUrl () {
        Request.post({
          url: '/order/insVehicleOrders/imageSupplement',
          data: {
            insOrderId: this.insDto.insOrderId
          },
          done: (res) => {
            if (res.resultCode === 1) {
              window.open(res.data)
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      getOrderLog () {
        Request.post({
          url: `/order/insOrderLogs/query`,
          data: {
            insOrderId: urlQuery.queryRouterLastOne()
          },
          done: (res) => {
            if (res.resultCode === 1) {
              res.dtoList.forEach((item) => {
                let created = item.created && item.created.split(' ')
                if (!created) return
                if (this.orderLog[created[0]]) {
                  this.orderLog[created[0]].unshift({
                    time: created[1],
                    remark: item.remark
                  })
                } else {
                  this.orderLog[created[0]] = [{
                    time: created[1],
                    remark: item.remark
                  }]
                }
              })
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.error(err)
          }
        })
      },
      examine (data) {
        this.dioImgBig = true
        this.imgdata = data
        document.querySelector('body').style.overflow = 'hidden'
      },
      iframeShow (id, code, type, lastQryCde) {
        this.loading = this.$loading({text: '正在查询上年保单数据', background: 'rgba(0,0,0,0.5)'})
        let data = {
          orderId: id,
          searchCode: code,
          type: type
        }
        if (lastQryCde) data.lastQryCode = lastQryCde
        Request.post({
          url: '/order/insVehicleOrders/getPlatformInfoUrl',
          data,
          done: (res) => {
            if (res.resultCode === 1) {
              this.dioShows = true
              document.querySelector('body').style.overflow = 'hidden'
              this.srcs = []
              res.data.forEach(ele => {
                this.srcs.unshift(ele.split(':')[1])
              })
              setTimeout(() => {
                this.loading.close()
              }, 1000)
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      }
    }
  }
</script>
