@import '../../../assets/styles/color';
.review-page {
  margin-bottom: 100px;
  .insCompany{
    float: right;
    font-weight: bold;
    padding-right: 10px;
    span {
      color: @mainColor;
    }
  }
  .insurance-box {
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
    overflow: hidden;
    &::after{
      clear: both;
    }
    .el-textarea {
      margin-left: 20px;
      width: 200px;
    }
    .upload-list {
      padding: 20px 0;
      overflow: hidden;
      .upload-title {
        font-size: 16px;
        font-weight: bold;
      }
      li {
        float: left;
        width: 180px;
        height: 115px;
        margin: 10px 20px 0 0;
        border: 1px solid @lineColor;
        color: @font666;
        text-align: center;
        cursor: pointer;
        position: relative;
        .image-examine{
          font-size: 12px;
          position: absolute;
          top: 5px;
          left: 5px;
          color: mediumblue;
          display: none
        }
        &:hover .image-examine {
          cursor: pointer;
          display: inline
        }
        span {
          color: @fontD8;
          font-size: 60px;
        }
        &:hover { 
          border-color: #5BABFC;
        }
        img {
          width: 178px;
          height: 113px;
        }
      }
    }
    .info-list {
      margin-top: 20px;
      border: 1px solid @lineColor;
      border-radius: 5px;
      overflow: hidden;
      &::after {
        clear: both;
      }
      &.noline {
        border-top: none;
        border-bottom: none;
      }
      .el-table__row {
        .cell {
          display: flex;
          align-items: center;
          .el-table__expand-icon {
            margin: 0 auto;
          }
        }
        .insName {
          display: inline-block;
          width: 60px;
          height: 100%;
        }
        .insNo {
          display: inline-block;
          width: 400px;
          span {
            display: block;
            color: @mainColor;
          }
        }
      }
      li {
        padding: 10px;
        float: left;
        width: 285px;
        .label {
          display: inline-block;
          color: @font666;
          min-width: 40px;
          margin-right: 10px;
        }
        &.row3 {
          width: 855px;
        }
        &.row2 {
          width: 570px;
        }
      }
      .el-table {
        border-top: 1px solid @lineColor;
        &.noline {
          border-bottom: none;
          border-top: none;
        }
        .el-table__header {
          tr, th {
            background: @bgColor
          }
        }
        td {
          border-bottom: none;
        }
      }
    }
    .info-order-list {
      padding: 20px;
      .info-day {
        overflow: hidden;
        &::after {
          content: ' ';
          clear: both;
        }
        .info-date {
          float: left;
          color: @font666
        }
        ul {
          float: left;
          padding-left: 20px;
          li {
            padding-bottom: 20px;
          }
        }
      }
    }
    .xishu-box {
      margin: 10px;
      .title {
        font-size: 16px;
      }
      .xishu {
        color: @font666;
        padding: 10px;
        span {
          display: inline-block;
          margin: 5px 5px 0 0;
        }
        i {
          font-style: normal;
        }
      }
      .yueding {
        border-top: 1px dashed #ddd;
        border-bottom: 1px solid #ddd;
        padding: 0px 0px 10px;
        li {
          color: @font666;
          padding-top: 10px;
          .el-checkbox {
            margin-left: 10px;
          }
          a {
            color: @blueColor
          }
          &:first-child {
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }
    .el-table__expanded-cell[class*=cell] {
      padding: 0px;
    }
    .item-list {
      width: 100%;
      li {
        float: none;
        width: 100%;
        padding: 5px 60px;
        border-top: 1px dotted @lineColor;
        color: @font999;
        span {
          &:first-child {
            width: 40%;
            text-align: left;
          }
          display: inline-block;
          width: 20%;
        }
      }
    }
  }
  .step-bg {
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 2;
    background: #fff;
    width: 100%;
    box-shadow: rgba(100,100,100,0.1) 0px -3px 6px;
  }
  .step-box {
    width: 1200px;
    height: 80px;
    background: #fff;
    margin: 0 auto;
    .policy-left {
      float: left;
      padding-right: 50px;
      .title {
        font-size: 18px;
        line-height: 45px;
      }
      .policy-tag {
        span {
          padding: 2px 4px;
          margin-right: 5px;
          font-size: 12px;
          color: @tagGreenColor;
          border: 1px solid @tagGreenColor;
          border-radius: 2px;
          &.red {
            color: @tagRedColor;
            border-color:@tagRedColor;
          }
          &.blue {
            color: @tagBlueColor;
            border-color:@tagBlueColor;
          }
        }
      }
    }
    .policy-scale {
      float: left;
      line-height: 80px;
      .icon-hongbao1 {
        font-size: 24px;
        color: #fc501e;
      }
    }
    .policy-right {
      float: right;
      text-align: center;
      line-height: 80px;
      
      .price-box {
        float: left;
        padding: 10px;
        .price-left {
          float: left;
          line-height: 30px;
          .price-label {
            display: block;
            text-align: right;
            width: 80px;
          }
        }
        .price-right {
          float: left;
          line-height: 28px;
          margin-left: 5px;
          .price {
            display: block;
            text-align: left;
            color: @mainColor;
            b {
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
      }
      .btn-box {
        float: left;
        .main-btn {
          color: #fff;
          display: inline-block;
          width: 100px;
          height: 35px;
          line-height: 35px;
          border-radius: 4px;
          margin: 0 10px;
        }
      }
    }
  }
  .policy-scale {
    b {
      font-size: 24px;
      font-weight: bold;
      color: @mainColor;
    }
    i {
      font-style: none;
      color: @mainColor;
    }
  }
  .dialog {
    .el-dialog__body {
      padding-top: 10px;
    }
    .el-table {
      border-radius: 5px;
      border: 1px solid @lineColor;
    }
    .home-policy {
      padding-top: 10px;
      border-bottom: 1px solid @lineColor;
      &:first-child {
        padding-top: 0;
      }
      &.tips {
        text-align: center;
        border-bottom: none;
        font-size: 18px;
      }
      .home-policy-header {
        width: 100%;
        margin: 0 0 5px;
        clear: both;
        .home-policy-title {
          float: left;
          font-size: 20px;
          color: @fontColor;
          padding-right: 10px;
        }
        .home-policy-name {
          width: 100px;
          float: right;
          padding-left: 10px;
          border-left: 1px solid @lineColor;
        }
      }
      .home-policy-detail {
        overflow: auto;
        max-height: 300px;
        padding-bottom: 10px;
        li {
          width: 100%;
          border-top: 1px dashed @lineColor;
          padding: 5px 0;
          display: table;
          font-size: 12px;
          &::after {
            content: ' ';
            clear: both;
          }
          .title {
            display: table-cell;
            width: 300px;
            .policy-tag {
              line-height: 20px;
              overflow: hidden;
              span {
                float: left;
                display: block;
                padding: 0px 3px;
                margin: 0 5px 5px 0;
                font-size: 12px;
                line-height: 16px;
                color: @tagBlueColor;
                border: 1px solid @tagBlueColor;
                border-radius: 2px;
              }
            }
          }
          .name {
            display: table-cell;
            vertical-align:middle;
            padding:0 5px;
            width: 150px;
            color: @tagBlueColor;
          }
          .scale {
            display: table-cell;
            vertical-align:middle;
            padding:0 10px;
            width: 220px;
            span {
              margin-right: 0;
            }
            b {
              font-size: 16px;
              color: @mainColor;
            }
          }
          .button {
            display: table-cell;
            vertical-align:middle;
            width: 80px;
            a {
              padding: 2px 5px;
              text-align: center;
              color: #fff;
              background-color: @mainColor;
              border-radius: 4px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .lastYs{
    font-size: 14px;
    color:@linkColor;
    cursor: pointer;
  }
}