<template>
  <el-row class="operation">
    <el-col :span='4'>
      <nav-menu></nav-menu>
    </el-col>
    <el-col :span='20' class='router-view'>
      <router-view v-if="isRouterAlive"></router-view>
    </el-col>
  </el-row>
</template>

<script>
import NavMenu from 'components/nav-menu'
export default {
  components: {
    NavMenu
  },
  provide () {
    return {
      reload: this.reload
    }
  },
  data () {
    return {
      isRouterAlive: true
    }
  },
  methods: {
    reload () {
      this.isRouterAlive = false
      this.$nextTick(function () {
        this.isRouterAlive = true
      })
    }
  }
}
</script>

<style lang="less">
  @import './index.less';
</style>