<template>
  <div class='statistics-bar'>
    <div class="left">
      <div class="up">验证通过订单（笔/元）</div>
      <div class="down"> <span class="tex">{{accessBi || 0}} | {{subNum(accessYuan, 2)}}</span> </div>
    </div>
    <div class="middle">
      <div class="up">验证失败订单（笔/元）</div>
      <div class="down"> <span class="text">{{loseBi || 0}} | {{subNum(loseYuan, 2)}}</span> </div>
    </div>
    <div class="right" v-if="serviceYuan">
      <div class="up">手续费（笔/元）</div>
      <div class="down"> <span class="text">{{serviceBi || 0}} | {{subNum(serviceYuan, 2)}}</span> </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['accessBi', 'accessYuan', 'loseBi', 'loseYuan', 'serviceBi', 'serviceYuan'],
    data () {
      return {
        subNum: this.$subNum
      }
    }
  }
</script>

<style lang="less">
.statistics-bar{
  display: flex;
  text-align: center;
  padding: 5px 15px;
  margin-top: 5px;
  background-color: #fff;
  font-size: 14px;
  .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    .down{
      color: #ff9900;
    }
  }
  .middle{
    flex: 1;
    display: flex;
    flex-direction: column;
    .down{
      color: #ff9900;
    }
  }
  .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    .down{
      color: #ff9900;
    }
  }
}
</style>