<template>
  <el-row class="upay">
    <el-col :span='4'>
      <div class="tac">
        <el-menu
          :default-active="defaultMenu()"
          class="el-menu-vertical"
          router>
          <el-submenu index="/trade/remit/upload" v-privilege="'Z001'">
            <template slot="title">
              <span>交易管理</span>
            </template>
              <el-menu-item index="/upay/trade/remit/upload" v-privilege="'Z101'">打款</el-menu-item>
              <el-menu-item index="/upay/trade/remitlist" v-privilege="'Z101'">打款列表</el-menu-item>
              <el-menu-item index="/upay/trade/tradetail" v-privilege="'Z103'">交易明细</el-menu-item>
          </el-submenu>
          <el-submenu index="/capital" v-privilege="'L001'">
            <template slot="title">
              <span>资金管理</span>
            </template>
              <el-menu-item index="/upay/capital/record" v-privilege="'L101'">充值记录</el-menu-item>
              <el-menu-item index="/upay/capital/capitalFlow" v-privilege="'L102'">交易流水</el-menu-item>
          </el-submenu>
        </el-menu>
      </div>
    </el-col>
    <el-col :span='20' class='router-view'>
      <router-view v-if="isRouterAlive"></router-view>
    </el-col>
  </el-row>
</template>
<script>
export default{
  methods: {
  // 默认展开导航菜单
    defaultMenu () {
      return this.$route.path
    },
    reload () {
      this.isRouterAlive = false
      this.$nextTick(function () {
        this.isRouterAlive = true
      })
    }
  },
  provide () {
    return {
      reload: this.reload
    }
  },
  data () {
    return {
      isRouterAlive: true
    }
  }
}
</script>

<style lang="less">
@import './index.less';
</style>