@import '../../../assets/styles/color';

.user-person {
  padding: 20px;

  .account-list {
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #eee;

    li {
      line-height: 50px;
      border-top: 1px solid #eee;

      &:first-child {
        border: none;
      }

      span {
        width: 32%;
        cursor: pointer;
        display: inline-block;
        .el-button{
          text-align: left;
          padding: 5px 10px;
        }
        &:last-child {
          color: #ffffff;
          text-align: left;
        }
      }
    }
  }

  .el-dialog {
    width: 400px;

    .el-button {
      width: 100%;
      color: #fff;
      border-color: @mainColor;
      background-color: @mainColor;
    }

    .el-input-group__append {
      .el-button {
        color: @mainColor;
        border: none;
        background-color: inherit;
        display: flex;
      }
    }
  }

  .sonItem {
    margin: 10px 0 20px 20px;

    .nomargin {
      margin-left: 20;

      &:last-child {
        margin: 0;
      }
    }
  }
}
