<style lang="less">
  @import "./index.less";
</style>

<template>
  <div class="user-person">
    <div class="title">
      <el-button type="primary" @click="showSubCountDialog = true; type = 0">新增子账号</el-button>
    </div>
    <ul v-if="userList.length" class="account-list">
      <li v-for="(item, i) in userList" :key="item.id + i">
        <span>用户名：{{item.userName}}</span>
        <span>手机号：{{item.mobile}}</span>
        <span>
          <el-button @click="modify(item)" type="primary" size='mini'>修改账号</el-button>
          <el-button @click="modifyAuthority(item)" type="primary" size='mini'>修改权限</el-button>
          <el-button @click="removeBind(item)" type="primary" size='mini'>解除绑定</el-button>
        </span>
      </li>
    </ul>
    <div v-else class="account-list">暂时没有数据</div>
    <el-dialog
      class="modifyPassword animateFast"
      :title="type ? '修改子账号' : '新增子账号'"
      :visible.sync="showSetSubCountDialog"
      center
    >
      <el-form v-model="form">
        <el-form-item>
          <el-input placeholder="请输入手机号" v-model="form.mobile" :disabled="type === 1"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入用户名" v-model="form.userName"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入密码" v-model="form.password" type="password"></el-input>
        </el-form-item>
        <el-button @click="nextStep" :loading="showLoading">{{type ? '修改' : '下一步'}}</el-button>
      </el-form>
    </el-dialog>
    <el-dialog title="添加子账号" :visible.sync="showSubCountDialog" center>
      <el-form :model="form">
        <el-form-item label="手机号" :label-width="formLabelWidth">
          <el-input v-model="form.mobile" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="verifyUser">点击校验</el-button>
      </div>
    </el-dialog>
    <el-dialog title="选择子账号权限" :visible.sync="showAuthorityDialog" @close='clearCheckbox' center>
      <el-form :model="form">
        <div v-for="(item,index) in itemOptions" :key="index">
          <el-checkbox
            :label="item.id"
            v-if="!item.userType || item.id==='H001'"
            v-model="item.checkAll"
            @change="handleCheckAllChange(item)"
          >{{item.title}}</el-checkbox>
          <el-checkbox-group
            class="sonItem"
            v-model="item.checkedPriviliege"
            @change="handlecheckedPriviliegeChange(item)"
          >
            <el-checkbox
              v-for="items in item.child"
              v-if="!items.userType"
              :label="items.cid"
              :key="items.cid"
              :class="checkStyle[index]"
            >{{items.name}}</el-checkbox>
          </el-checkbox-group>
        </div>
        <!-- <privilege-item v-on:aaa='aaa' :type=0 :subPrivilege="['查看订单','订单结算']" :title="'订单管理'"></privilege-item>
          <privilege-item v-on:aaa='getEndorsement' :type=0 :subPrivilege="['批单打回','批单修改']" :title="'批单管理'"></privilege-item>
          <privilege-item v-on:aaa='getPolicy' :type=1 :subPrivilege="['添加/修改政策','添加/修改工号','添加/修改批次']" :title="'政策管理'"></privilege-item>
        <privilege-item v-on:aaa='getAccount' :type=1 :subPrivilege="['查看钱包','查看报表']" :title="'账户管理'"></privilege-item>-->
        <!-- <el-checkbox v-model="checked">管理子账户权限</el-checkbox> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submit()">{{ type ? '修改' : '添加' }}</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import copyUrl from 'utils/copyUrl'
  import { RegPhone, RegPassword } from 'utils/regCheck'

  export default {
    data () {
      return {
        copyUrl,
        type: 0,
        form: {},
        title: '新增子账号',
        userList: [],
        showSubCountDialog: false,
        showSetSubCountDialog: false,
        showAuthorityDialog: false,
        showLoading: false,
        formLabelWidth: '60px',
        confimDelete: false,
        isUUser: this.$getCookie('_youjia_user_businessType') === '1',
        checked: false,
        checkStyle: ['', '', 'nomargin'],
        itemOptions: [
          {
            type: 0,
            title: '订单管理',
            id: 'E001',
            userType: !(this.isUUser),
            checkAll: false,
            checkedPriviliege: [],
            child: [
              {name: '查看订单', cid: 'E101', userType: !(this.isUUser)},
              {name: '订单结算', cid: 'E102', userType: !(this.isUUser)}
            ]
          },
          {
            type: 0,
            title: '批单管理',
            id: 'F001',
            userType: !(this.isUUser),
            checkAll: false,
            checkedPriviliege: [],
            child: [
              {name: '批单打回', cid: 'F101', userType: !(this.isUUser)},
              {name: '批单批改', cid: 'F102', userType: !(this.isUUser)}
            ]
          },
          {
            type: 1,
            title: '政策管理',
            id: 'G001',
            userType: !(this.isUUser),
            checkAll: false,
            checkedPriviliege: [],
            child: [
              {name: '添加/修改政策', cid: 'G102', userType: !(this.isUUser)},
              {name: '添加/修改工号', cid: 'G101', userType: !(this.isUUser)},
              {name: '添加/修改批次', cid: 'G103', userType: !(this.isUUser)}
            ]
          },
          {
            type: 1,
            title: '账户中心',
            id: 'H001',
            userType: true,
            checkAll: false,
            checkedPriviliege: [],
            child: [
              {name: '查看钱包', cid: 'H102', userType: !(this.isUUser)},
              {name: '查看报表', cid: 'H101', userType: !(this.isUUser)},
              {name: '子账号管理', cid: 'H103', userType: false},
              {name: '交易密码管理', cid: 'H104', userType: this.isUUser}
            ]
          },
          {
            type: 1,
            title: '交易管理',
            id: 'Z001',
            userType: this.isUUser,
            checkAll: false,
            checkedPriviliege: [],
            child: [
              {name: '打款支付', cid: 'Z102', userType: this.isUUser},
              {name: '打款', cid: 'Z101', userType: this.isUUser},
              {name: '交易明细', cid: 'Z103', userType: this.isUUser}
            ]
          },
          {
            type: 0,
            title: '资金管理',
            userType: this.isUUser,
            id: 'L001',
            checkAll: false,
            checkedPriviliege: [],
            child: [
              {name: '充值记录', cid: 'L101', userType: this.isUUser},
              {name: '交易流水', cid: 'L102', userType: this.isUUser}
            ]
          },
          {
            type: 1,
            title: '运营管理',
            userType: !(this.isUUser),
            id: 'R001',
            checkAll: false,
            checkedPriviliege: [],
            child: [
              {name: '红包列表', cid: 'R102', userType: !(this.isUUser)},
              {name: '创建红包', cid: 'R101', userType: !(this.isUUser)}
            ]
          }
        ],
        alreadyClick: false
      }
    },
    created () {
      this.onReady()
    },
    mounted () {
      console.log(this.isUUser)
      this.itemOptions = [
        {
          type: 0,
          title: '订单管理',
          id: 'E001',
          userType: !(this.isUUser),
          checkAll: false,
          checkedPriviliege: [],
          child: [
            {name: '查看订单', cid: 'E101', userType: !(this.isUUser)},
            {name: '订单结算', cid: 'E102', userType: !(this.isUUser)}
          ]
        },
        {
          type: 0,
          title: '批单管理',
          id: 'F001',
          userType: !(this.isUUser),
          checkAll: false,
          checkedPriviliege: [],
          child: [
            {name: '批单打回', cid: 'F101', userType: !(this.isUUser)},
            {name: '批单批改', cid: 'F102', userType: !(this.isUUser)}
          ]
        },
        {
          type: 1,
          title: '政策管理',
          id: 'G001',
          userType: !(this.isUUser),
          checkAll: false,
          checkedPriviliege: [],
          child: [
            {name: '添加/修改政策', cid: 'G102', userType: !(this.isUUser)},
            {name: '添加/修改工号', cid: 'G101', userType: !(this.isUUser)},
            {name: '添加/修改批次', cid: 'G103', userType: !(this.isUUser)}
          ]
        },
        {
          type: 1,
          title: '账户中心',
          id: 'H001',
          userType: true,
          checkAll: false,
          checkedPriviliege: [],
          child: [
            {name: '查看钱包', cid: 'H102', userType: !(this.isUUser)},
            {name: '查看报表', cid: 'H101', userType: !(this.isUUser)},
            {name: '子账号管理', cid: 'H103', userType: false},
            {name: '交易密码管理', cid: 'H104', userType: this.isUUser}
          ]
        },
        {
          type: 1,
          title: '交易管理',
          id: 'Z001',
          userType: this.isUUser,
          checkAll: false,
          checkedPriviliege: [],
          child: [
            {name: '打款支付', cid: 'Z102', userType: this.isUUser},
            {name: '打款', cid: 'Z101', userType: this.isUUser},
            {name: '交易明细', cid: 'Z103', userType: this.isUUser}
          ]
        },
        {
          type: 0,
          title: '资金管理',
          userType: this.isUUser,
          id: 'L001',
          checkAll: false,
          checkedPriviliege: [],
          child: [
            {name: '充值记录', cid: 'L101', userType: this.isUUser},
            {name: '交易流水', cid: 'L102', userType: this.isUUser}
          ]
        },
        {
          type: 1,
          title: '运营管理',
          userType: !(this.isUUser),
          id: 'R001',
          checkAll: false,
          checkedPriviliege: [],
          child: [
            {name: '红包列表', cid: 'R102', userType: !(this.isUUser)},
            {name: '创建红包', cid: 'R101', userType: !(this.isUUser)}
          ]
        }
      ]
    },
    methods: {
      onReady () {
        Request.post({
          url: `users/sysUsers/querySub`,
          done: (res) => {
            if (res.resultCode === 1) {
              this.userList = res.dtoList
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      removeBind (item) {
        this.$confirm('确认移除该账号', {
          showFailBtn: true,
          title: '删除',
          done: () => {
            this.delAccaunt(item.id)
          }
        })
      },
      showSelected (item) {
        let privilege = []
        Request.post({
          url: `/manage/jurisdiction/getMpSubJurisdiction`,
          data: {
            userId: item.id
          },
          done: (res) => {
            if (res.resultCode === 1) {
              privilege = res.data
              let test2 = {
                E: [],
                F: [],
                G: [],
                H: [],
                Z: [],
                L: [],
                R: []
              }
              let arr = []
              // 将权限获取到 test2 里
              for (const key in test2) {
                const el = test2[key]
                privilege.forEach(function (item) {
                  if (item.indexOf(key + '1') > -1) {
                    el.push(item)
                  }
                })
              }
              // 管理子账号只有一个权限
              // if (privilege.indexOf('I001') > -1) {
              //   test2.I.push('I001')
              //   this.checked = true
              // }
              for (const key in test2) {
                const element = test2[key]
                arr.push(element)
              }
              // 页面显示逻辑
              this.itemOptions.forEach(function (item, index) {
                item.checkedPriviliege = arr[index]
                if (arr[index].length !== 0) {
                  item.checkAll = true
                }
              })
            }
          }
        })
      },
      // 清空 checkbox
      clearCheckbox () {
        for (const item of this.itemOptions) {
          item.checkedPriviliege = []
          item.checkAll = false
        }
      },
      // 修改权限
      modifyAuthority (item) {
        this.showSelected(item)
        this.showAuthorityDialog = true
        this.type = 1
        this.form = item
      },
      //        全选按钮
      handleCheckAllChange (item) {
        if (item.checkAll === true) {
          for (var i = 0; i < item.child.length; i++) {
            item.checkedPriviliege.push(item.child[i].cid)
          }
        } else {
          item.checkedPriviliege = []
        }
      },
      //      单选按钮
      handlecheckedPriviliegeChange (item) {
        if (item.type === 0) {
          if (item.checkedPriviliege.includes('E102') || item.checkedPriviliege.includes('F102')) {
            item.checkAll = true
            item.checkedPriviliege = []
            for (var i = 0; i < item.child.length; i++) {
              item.checkedPriviliege.push(item.child[i].cid)
            }
          }
        }
        if (item.checkedPriviliege.includes('Z102') && !item.checkedPriviliege.includes('Z101')) {
          item.checkedPriviliege.push('Z101')
        }
        if (item.checkedPriviliege.length === item.child.length) {
          item.checkAll = true
        } else {
          item.checkAll = false
        }
        if (item.checkedPriviliege.length !== 0) {
          item.checkAll = true
        }
      },
      unique (array) {
        var res = array.filter(function (item, index, array) {
          return array.indexOf(item) === index
        })
        return res
      },
      getSelectList () {
        let itemOptions = this.itemOptions
        let resultList = []
        itemOptions.forEach(function (item) {
          resultList = resultList.concat(item.checkedPriviliege)
        })
        console.log(resultList)
        if (!this.alreadyClick) {
          this.alreadyClick = true
          resultList.forEach(function (result) {
            if (result.indexOf('E') > -1) {
              resultList.push('E001')
            } else if (result.indexOf('F') > -1) {
              resultList.push('F001')
            } else if (result.indexOf('G') > -1) {
              resultList.push('G001')
            } else if (result.indexOf('H') > -1) {
              resultList.push('H001')
            } else if (result.indexOf('Z') > -1) {
              resultList.push('Z001')
            } else if (result.indexOf('L') > -1) {
              resultList.push('L001')
            } else if (result.indexOf('R') > -1) {
              resultList.push('R001')
            }
          })
          // if (this.checked) {
          //   resultList.push('I001')
          // }
        }
        let result = this.unique(resultList)
        return result
      },
      nextStep () {
        const form = this.form
        if (!RegPhone.test(form.mobile)) {
          this.$alert('手机号格式不正确', 'error')
          this.showLoading = false
          return
        }
        if (!RegPassword.test(form.password)) {
          this.$alert('密码需要包含数字、字母、符号至少两种组合的6-20位字符', 'error')
          this.showLoading = false
          return
        }
        this.showSetSubCountDialog = false
        if (this.type) {
          Request.post({
            url: `/users/sysUsers/updateSub`,
            data: {
              id: form.id,
              userName: form.userName,
              password: form.password
            },
            done: (res) => {
              if (res.resultCode === 1) {
                this.$alert('修改成功')
              }// 修改失败
            }
          })
        } else {
          this.showAuthorityDialog = true
        }
      },
      modify (item) {
        this.type = 1
        this.form = item
        this.showSetSubCountDialog = true
      },
      submit () {
        const form = this.form
        let url = this.type ? '/manage/jurisdiction/update' : '/users/sysUsers/saveSubJurisdiction'
        let data = this.type ? {
          userId: form.id,
          jurisdiction: this.getSelectList()
        } : {
          mobile: form.mobile,
          userName: form.userName,
          password: form.password,
          jurisdiction: this.getSelectList()
        }
        this.createAccaunt(url, data)
      },
      createAccaunt (url, data) {
        Request.post({
          url: url,
          data: data,
          done: (res) => {
            this.showLoading = false
            if (res.resultCode === 1) {
              this.$alert(this.type ? '修改权限成功' : '创建子账号成功')
              window.location.reload()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.log(err)
            this.showLoading = false
          }
        })
      },
      delAccaunt (id) {
        this.confimDelete = false
        Request.post({
          url: 'users/sysUsers/deleteSubSysUser/' + id,
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('移除子账号成功')
              setTimeout(() => {
                window.location.reload()
              }, 1000)
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            console.log(err)
            this.showLoading = false
          }
        })
      },
      verifyUser () {
        const form = this.form
        if (!RegPhone.test(form.mobile)) {
          this.$alert('手机号格式不正确', 'error')
          this.showLoading = false
          return
        }
        // 将手机号传给后台查询账号
        Request.post({
          url: 'users/sysUsers/verificationMobile',
          data: {
            mobile: form.mobile
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('验证成功')
              this.showSubCountDialog = false
              this.showSetSubCountDialog = true
            } else {
              this.$alert('该用户未注册，请注册后添加', 'error')
            }
          }
        })
      }
    }
  }
</script>
