<style lang="less">
  @import "./index.less";
</style>

<template>
  <div class="user-setting">
    <div class="setting-item">
      <span class="label">头像</span>  
      <img v-if="user.avatar" :src="user.avatar" alt="">
      <i class="iconfont icon-yonghu"></i>
    </div>
    <div class="setting-item">
      <div class="label">用户名</div>
      <div class="input">
        {{user.userName}} <el-button @click="modify('userName')">修改</el-button>
      </div>
    </div>
    <div class="setting-item">
      <div class="label">手机号</div>
      <div class="input">
        {{user.mobile.slice(0, 3) + '****' + user.mobile.slice(7, 11)}} <el-button @click="modify('mobile')">修改</el-button>
      </div>
    </div>
    <div class="setting-item">
      <div class="label">密码</div>
      <div class="input">
        ******** <el-button @click="modify('password')">修改</el-button>
      </div>
    </div>
    <div class="setting-item">
      <div class="label">交易密码</div>
      <div class="input">
        ******** <el-button :disabled="this.$getStorage('roles').indexOf('H104') < 0" @click="modify('TradePassword')">修改</el-button>
      </div>
    </div>
    <div class="setting-item" v-if="false">
      <div class="label">商铺名</div>
      <div class="input">
        {{user.shopName}} <el-button @click="modify('shopName')">修改</el-button>
      </div>
    </div>
    <div class="setting-item" v-if="false">
      <div class="label">商户邀请码</div>
      <div class="input">
        <el-input v-model="user.mobile" style="width:300px;" placeholder="商户邀请码">
          <el-button @click="copyUrl(user.mobile)" slot="append">复制</el-button>
        </el-input>
      </div>
    </div>
    <el-dialog
      class="modifyPassword animateFast"
      title="修改用户名"
      :visible.sync="showuserName">
      <el-form v-model="formName">
        <el-form-item>
          <el-input placeholder="请输入用户名" v-model="formName.newUserName"></el-input>
        </el-form-item>
        <el-button @click="modifyFun('Name')" :loading="showLoading">修改</el-button>
      </el-form>
    </el-dialog>
    <el-dialog
      class="modifyPhone animateFast"
      title="修改手机号"
      :visible.sync="showmobile">
      <el-form v-model="formPhone">
        <el-form-item>
          <el-input placeholder="请输入手机号" v-model="formPhone.mobile"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="验证码" v-model="formPhone.smsCode">
            <el-button v-if="countNum === 0" slot="append" @click="getCode(formPhone.mobile, 4)">获取验证码</el-button>
            <el-button v-else slot="append">{{countNum}}秒后重新获取</el-button>
          </el-input>
        </el-form-item>
        <el-button @click="modifyFun('Phone')" :loading="showLoading">修改</el-button>
      </el-form>
    </el-dialog>
    <el-dialog
      class="modifyPassword animateFast"
      title="修改密码"
      :visible.sync="showpassword">
      <el-form v-model="formPassword">
        <el-form-item>
          <el-input placeholder="验证码" v-model="formPassword.smsCode">
            <el-button v-if="countNum === 0" slot="append" @click="getCode(user.mobile, !needModifyPassword ? 5 : 3)">获取验证码</el-button>
            <el-button v-else slot="append">{{countNum}}秒后重新获取</el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入密码" v-model="formPassword.password" type="password"></el-input>
        </el-form-item>
        <el-form-item v-if="needModifyPassword === '1'">
          <el-input placeholder="请再次输入密码" v-model="formPassword.newPassword" type="password"></el-input>
        </el-form-item>
        <el-form-item v-else>
          <el-input placeholder="请输入新密码" v-model="formPassword.newPassword" type="password"></el-input>
        </el-form-item>
        <el-button @click="modifyFun('Password')" :loading="showLoading">修改</el-button>
      </el-form>
    </el-dialog>
    <el-dialog title="修改交易密码" :visible.sync="showTradePassword">
      <el-form :model="form" class='my-form'>
        <el-form-item>
          <el-input :placeholder="`${mobile}的验证码`" v-model="form.verify">
            <el-button v-if="countNum === 0" slot="append" @click="getCode(mobile, 3)">获取验证码</el-button>
            <el-button v-else slot="append">{{countNum}}秒后重新获取</el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请输入密码" v-model="form.pwd" type="password"></el-input>
        </el-form-item>
        <el-form-item>
          <el-input placeholder="请再次输入密码" v-model="form.pwdAgain" type="password"></el-input>
        </el-form-item>
      </el-form>
        <el-button type="primary" @click="modifyTradePassword">确 定</el-button>
    </el-dialog>
  </div>
</template>

<script>
  import Request from 'utils/request'
  import copyUrl from 'utils/copyUrl'
  import { RegCode, RegPhone, RegPassword } from 'utils/regCheck'

  export default {
    data () {
      return {
        copyUrl,
        user: {
          avatar: this.$getCookie('_youjia_user_avatar'),
          mobile: this.$getCookie('_youjia_user_mobile'),
          userName: this.$getCookie('_youjia_user_name')
        },
        formName: {
          userName: this.$getCookie('_youjia_user_name')
        },
        formPhone: {},
        formPassword: {},
        countNum: 0,
        needModifyPassword: this.$getCookie('_youjia_user_modify'),
        showpassword: false,
        showpassword2: false,
        showuserName: false,
        showmobile: false,
        showLoading: false,
        showTradePassword: false,
        form: {
          verify: '',
          pwd: '',
          pwdAgain: ''
        },
        mobile: this.$getCookie('_youjia_belong_mobile') || this.$getCookie('_youjia_user_mobile')
      }
    },
    created () {
    },
    methods: {
      modify (key) {
        this['show' + key] = true
        this.form.verify = ''
        this.form.pwd = ''
        this.form.pwdAgain = ''
      },
      modifyFun (key) {
        let test = this['modify' + key]
        if (this.showLoading) return
        this.showLoading = true
        test()
      },
      modifyPhone () {
        const form = this.formPhone
        if (!RegPhone.test(form.mobile)) {
          this.$alert('手机号格式不正确', 'error')
          this.showLoading = false
          return
        }
        if (!RegCode.test(form.smsCode)) {
          this.$alert('请输入正确的验证码', 'error')
          this.showLoading = false
          return
        }
        Request.post({
          url: `/users/sysUsers/updateMobile`,
          data: {
            mobile: this.user.mobile,
            newMobile: this.formPhone.mobile,
            smsCode: this.formPhone.smsCode
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('修改手机号成功')
              this.showLoading = false
              this.showmobile = false
            } else {
              this.$alert(res.message, 'error')
              this.showLoading = false
            }
          },
          fail () {
            this.showLoading = false
          }
        })
      },
      modifyPassword () {
        const form = this.formPassword
        const forget = this.needModifyPassword === '1'
        let url = '2'
        if (!RegCode.test(form.smsCode)) {
          this.$alert('请输入正确的验证码', 'error')
          this.showLoading = false
          return
        }
        // !RegPassword.test(form.password)
        if (form.password.length < 6) {
          this.$alert('密码需要包含数字、字母、符号至少两种组合的6-20位字符', 'error')
          this.showLoading = false
          return
        }
        if (!RegPassword.test(form.newPassword)) {
          const errStr = forget ? '确认密码格式不正确，需要包含数字、字母、符号至少两种组合的6-20位字符' : '新密码格式不正确，需要包含数字、字母、符号至少两种组合的6-20位字符'
          this.$alert(errStr, 'error')
          this.showLoading = false
          return
        }
        if (forget) {
          if (form.password !== form.newPassword) {
            this.$alert('两次密码不一致', 'error')
            this.showLoading = false
            return
          }
          form.mobile = this.user.mobile
          form.newPassword = undefined
          url = 'forgetPassword'
        } else {
          if (form.password === form.newPassword) {
            this.$alert('新密码不能和旧密码相同', 'error')
            this.showLoading = false
            return
          }
          form.updateType = 1
        }
        Request.post({
          url: `/users/sysUsers/${url}`,
          data: form,
          done: (res) => {
            this.showLoading = false
            if (res.resultCode === 1) {
              const forget = this.needModifyPassword === '1'
              if (forget) {
                this.$setCookie('_youjia_user_modify', 0)
              }
              this.$clearCookie()
              this.$alert(forget ? '设置密码成功' : '修改密码成功')
              this.$router.push('/user/login')
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail () {
            this.showLoading = false
          }
        })
      },
      modifyName () {
        const form = this.formName
        if (!form.newUserName) {
          this.$alert('请输入用户名', 'error')
          this.showLoading = false
          return
        }
        form.updateType = 2
        Request.post({
          url: `/users/sysUsers/updatePassword`,
          data: form,
          done: (res) => {
            this.showLoading = false
            if (res.resultCode === 1) {
              this.$alert('修改用户名成功')
              this.$setCookie('_youjia_user_name', form.newUserName)
              window.location.reload()
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail () {
            this.showLoading = false
          }
        })
      },
      getCode (mobile, type) {
        if (!RegPhone.test(mobile)) {
          this.$alert('手机号格式不正确', 'error')
          return
        }
        if (this.countNum > 0) return
        Request.post({
          url: `/users/sysUsers/sendSms`,
          data: {
            mobile: mobile,
            function: 1,
            smsCategory: 1,
            sendType: type
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.$alert('验证码发送成功')
              this.countNum = 60
              let timer = setInterval(() => {
                this.countNum -= 1
                if (this.countNum === 0) {
                  clearInterval(timer)
                }
              }, 1000)
            } else {
              this.$alert(res.message, 'error')
            }
          }
        })
      },
      modifyTradePassword () {
        // 表单验证
        if (!this.form.verify) {
          this.$alert('请填写验证码', 'error')
          return
        }
        if (this.form.pwd === '') {
          this.$alert('密码不能为空', 'error')
          return
        }
        if (!RegPassword.test(this.form.pwd)) {
          const errStr = '新密码格式不正确，需要包含数字、字母、符号至少两种组合的6-20位字符'
          this.$alert(errStr, 'error')
          return
        }
        if (this.form.pwd !== this.form.pwdAgain) {
          this.$alert('两次密码不一致', 'error')
          return
        }
        // 修改交易密码接口
        Request.post({
          url: 'account/businessUpay/forgetPassword',
          data: {
            password: this.form.pwd,
            newPassword: this.form.pwdAgain,
            mobile: this.mobile,
            smsCode: this.form.verify
          },
          done: (res) => {
            if (res.resultCode === 1) {
              this.showTradePassword = false
              this.$alert('修改交易密码成功')
              this.$setCookie('_youjia_has_tradepwd', 1)
            } else {
              this.$alert(res.message, 'error')
            }
          },
          fail: (err) => {
            this.$alert(err, 'error')
          }
        })
        this.form.verify = ''
        this.form.pwd = ''
        this.form.pwdAgain = ''
      }
    }
  }
</script>
